<div id="quick-login-bg" class="quick-login-bg"></div>

<form method="post" action="{S_LOGIN_ACTION}">
<div class="panel" id="quick-login-panel">
	<div class="inner">
		<div class="content">
			<a href="#" class="close"></a>

			<fieldset class="brutalform">
				<div class="fbr">
					<div>

						<div class="brutalform-box">
							<input type="text" tabindex="1" name="username" id="ql-username" size="25" value="{USERNAME}" placeholder="{L_USERNAME}" class="inputbox" />
							<span class="brutalform-label">{L_USERNAME}</span>
						</div>

						<div class="brutalform-box">
							<input type="password" tabindex="2" id="ql-password" name="password" size="25" placeholder="{L_PASSWORD}" class="inputbox" />
							<span class="brutalform-label">{L_PASSWORD}</span>
						</div>

						{S_LOGIN_REDIRECT}
						{S_HIDDEN_FIELDS}

						<!-- IF U_SEND_PASSWORD_EXT -->
							<div class="brutalform-box">
								<a href="{U_SEND_PASSWORD}" class="forgot-pass">{L_FORGOT_PASS}</a>
							</div>
						<!-- ENDIF -->

						<div class="brutalform-autologin submit-buttons">
							<!-- IF S_AUTOLOGIN_ENABLED -->
								<input type="checkbox" checked="checked" name="autologin" id="autologin" tabindex="3" title="{L_LOG_ME_IN}" />
							<!-- ENDIF -->
							<input type="submit" name="login" tabindex="4" value="{L_LOGIN}" class="button submit" />
						</div>

						<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
						<div class="brutalform-box submit-buttons">
							<a href="{U_REGISTER}" tabindex="5" class="brutalform-go-to-register button submit">{L_REGISTER}</a>
						</div>
						<!-- ENDIF -->

					</div>
				</div>
			</fieldset>

			{% for mode in loops.ql_oauth %}
				{% if loop.first %}<hr /><p class="ql-oauth">{% endif %}
					<a href="{{ mode.REDIRECT_URL }}">{{ mode.SERVICE_NAME }}</a>
				{% if loop.last %}</p>{% else %}&nbsp;&bull;&nbsp;{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
</form>

<script>
(function($) {
	$(document).ready(function() {
		var $button = $('#m-login a'),
			ql_bg = '#quick-login-bg',
			ql_pnl = '#quick-login-panel',
			pS_bg = '#darkenwrapper';

		if ($(pS_bg).length) {
			ql_bg = pS_bg;
		}

		$button.click(function(e){
			e.preventDefault();
			$(ql_bg + ', ' + ql_pnl).fadeIn(300);
			$('#ql-username').focus();
		});
		$(ql_bg + ', #quick-login-panel .close').click(function () {
			$(ql_bg + ', ' + ql_pnl).fadeOut(300);
		})
	});
})(jQuery);
</script>
