/* BORDERS */

.wrap {
	border: 2px solid #fff;
	border-radius: 15px;
}

.subforum {
	border-bottom: 1px solid transparent;
}

.subforum.unread {
	border-color: rgba(238, 0, 0, 0.3);
}

.subforum.unread:hover {
	border-color: rgba(50, 214, 53, 0.3);
}

.subforum.unread:focus {
	border-color: rgba(37, 126, 222, 0.3);
}

.m-list-left {
	border-right: 1px solid transparent;
	transition: border-color 0.75s ease-out 0.1s;
}

.m-list-left:hover {
	border-right: 1px solid #32D635;
	transition: border-color 0.75s ease-out 0.1s;
}

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
a.button1:hover,
a.button2:hover,
input.button1:hover,
input.button2:hover,
input.button3:hover,
span.button:focus,
button,
hr,
hr.dashed,
.inputbox,
.inputbox:hover,
.inputbox:focus,
.postprofile,
.postbody .notice,
ul.topiclist dd,
ul.topiclist dd:hover,
table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover,
table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover,
li.row strong,
li.row:hover dd,
.phpbb_alert,
.posthilit {
	border: none;
}

.codebox p {
	border-bottom-color: #333;
}

.spoilcontent {
	border-top: 1px solid #444;
}

.lastpost {
	border-left: 1px solid transparent !important;
}

li:not(.header) .lastpost:hover {
	border-left: 1px solid #32D635 !important;
}

li:not(.header) .lastpost,
li:not(.header) .lastpost:hover {
	transition: border-color 0.75s ease-out 0.1s;
}

.topic-reply-counter,
.main-menu-item .main-menu-bottom {
	border-radius: 7px;
}

.labeled-icon-bg strong,
blockquote,
.member-search,
.phpbb_alert {
	border-radius: 5px;
}

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
span.button:focus,
.tab > a,
.inputbox,
img.postimage,
.posthilit,
.panel-container h3,
.panel-container hr,
.panel-container .panel li.row,
.codebox {
	border-radius: 3px;
}

/* end of BORDERS */