/* BACKGROUNDS */

html,
body,
.wrap,
.darken,
.color_palette_placeholder,
.dropdown .dropdown-contents {
	background-color: black;
}

.wrap,
.phpbb_alert {
	background-color: black;
	background-image: URL("./images/probka.jpg");
	background-size: 1295px 1077px;
}

.wrap {
	background-position: 0px 20px;
}

.phpbb_alert {
	background-position: calc(50% + 56.5px) -139px;
}

#top-site-menu {
	background: linear-gradient(to top, transparent 0%, #000 20%);
}

.main-menu-item .main-menu-bottom {
	background-color: black;
	background-image: URL("./images/death_of.png");
	background-size: 550px 690px;
}

/* UCP NAVIGATION TOP MENU */

.tab > a {
	background-color: rgba(0, 0, 0, 0.2);
}

.tab > a:hover {
	background: linear-gradient(to bottom, transparent 0%, rgba(50, 214, 53, 0.15) 70%);
}

.activetab > a,
.activetab > a:hover,
.tab > a:focus {
	background: linear-gradient(to bottom, transparent 0%, rgba(37, 126, 222, 0.25) 70%);
}

.navigation .tab > a:hover {
	background: linear-gradient(to top, transparent 0%, rgba(50, 214, 53, 0.15) 70%);
}

.navigation .activetab > a,
.navigation .activetab > a:hover,
.navigation .tab > a:focus {
	background: linear-gradient(to top, transparent 0%, rgba(37, 126, 222, 0.25) 70%);
}

.navigation ul {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.45) 70%);
}

/* end of UCP NAVIGATION TOP MENU */

.m-labeled-box-bg strong {
	background: rgba(0, 0, 0, 0.1);
}

.topic-reply-counter {
	background: rgba(0, 0, 0, 0.4);
}

select,
input,
table.table1 tbody tr,
#m-name .panel.bg3,
li.row,
li.row.bg3,
li.row:hover,
li.row.bg3:hover {
	background: transparent;
}

.pagination li.active span {
	background: linear-gradient(to bottom, #257EDE, #000000);
}

select:not([multiple="multiple"]) option {
	background-color: rgba(0, 0, 0, 1);
}

div.rules {
	background-color: rgba(0, 0, 0, 0.6);
}

.cp-mini {
	/*background-color: rgba(238, 0, 0, 0);*/
}

.posthilit {
	background-color: rgba(238, 0, 0, 0.25);
}

table.table1 tbody tr.bg1:hover {
	background-color: rgba(238, 0, 0, 0.1);
}

table.table1 tbody tr.bg2:hover {
	background-color: rgba(50, 214, 53, 0.1);
}

@media (hover:hover) {
	.dropdown-select:hover {
		background-color: rgba(50, 214, 53, 0.1);
	}
}

.message-box textarea,
.message-box textarea:hover,
.message-box textarea:focus,
#muzycy-box textarea {
	background-color: rgba(0, 0, 0, 0.75);
}

.panel.bg1,
.panel.bg2,
.panel.bg3,
.inputbox,
.inputbox.search:not(#search-box-keywords) {
	background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.45) 70%);
}

.inputbox:hover {
	background: linear-gradient(transparent 0%, rgba(50, 214, 53, 0.05) 70%);
}

.inputbox:focus {
	background: linear-gradient(transparent 0%, rgba(37, 126, 222, 0.05) 70%);
}

.button,
.button1 {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.45) 70%) !important;
}

.button:hover,
.button1:hover,
.button2:hover {
	background: linear-gradient(to top, transparent 0%, rgba(50, 214, 53, 0.05) 70%) !important;
}

.button:focus,
.button1:focus,
.button2:focus {
	background: linear-gradient(to top, transparent 0%, rgba(37, 126, 222, 0.05) 70%) !important;
}

.rozwijany-box-all,
.switcheroo-menu-all {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.75) 50%);
}

blockquote,
.codebox {
	background-color: rgba(238, 0, 0, 0.1);
	/* background-color: rgba(102, 102, 102, 0.2); */
}

/* Nested quotes */

blockquote blockquote {
	background-color: rgba(0, 0, 0, 0.2)
}

.bg1,
table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	background-color:rgba(0, 0, 0, 0.7);
}

.bg2,
table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	background-color:rgba(0, 0, 0, 0.4);
}

table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover {
	background-color:rgba(238, 0, 0, 0.1);
}

table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover {
	background-color: rgba(50, 214, 53, 0.1);
}

.member-search {
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.75) 100%);
}

.phpbb_alert {
	/*background-color: rgba(0, 0, 0, 0.75);*/
}

#thegate {
	background: URL('./images/gateway.svg');
	background-size: 45px 45px;
}

#sigil {
	background: URL('./images/gateway.svg');
	background-size: 60px 60px;
}

#page-header {
	background: URL("./images/logo.png");
	background-position: 0 22px;
	background-size: auto 270px;
	background-repeat: no-repeat;
}

/* end of BACKGROUNDS */

/* BORDERS */

.wrap {
	border: 2px solid #fff;
}

.subforum {
	border-bottom: 1px solid transparent;
}

.subforum.unread {
	border-color: rgba(238, 0, 0, 0.3);
}

.subforum.unread:hover {
	border-color: rgba(50, 214, 53, 0.3);
}

.subforum.unread:focus {
	border-color: rgba(37, 126, 222, 0.3);
}

.m-list-left {
	border-right: 1px solid transparent;
}

.m-list-left:hover {
	border-right: 1px solid #32D635;
}

.m-list-left {
	transition: border-color 0.75s ease-out 0.1s;
}

.m-list-left:hover {
	transition: border-color 0.75s ease-out 0.1s;
}

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
a.button1:hover,
a.button2:hover,
input.button1:hover,
input.button2:hover,
input.button3:hover,
span.button:focus,
button,
hr,
hr.dashed,
.inputbox,
.inputbox:hover,
.inputbox:focus,
.postprofile,
.postbody .notice,
ul.topiclist dd,
ul.topiclist dd:hover,
table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover,
table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover,
li.row strong,
li.row:hover dd,
.phpbb_alert,
.posthilit {
	border: none;
}

img.postimage,
img.postimage:hover {
	border: none !important;
}

.spoilcontent {
	border-top: 1px solid #444;
}

.lastpost {
	border-left: 1px solid transparent !important;
}

li:not(.header) .lastpost:hover {
	border-left: 1px solid #32D635 !important;
}

li:not(.header) .lastpost,
li:not(.header) .lastpost:hover {
	transition: border-color 0.75s ease-out 0.1s;
}

.wrap {
	border-radius: 15px;
}

.topic-reply-counter,
.main-menu-item .main-menu-bottom {
	border-radius: 7px;
}

.m-labeled-box-bg strong,
blockquote,
.member-search,
.phpbb_alert {
	border-radius: 5px;
}

.spoilwrapper {
	border-radius: 4px;
}

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
span.button:focus,
.tab > a,
.inputbox,
.posthilit,
.panel-container h3,
.panel-container hr,
.panel-container .panel li.row,
.codebox {
	border-radius: 3px;
}

img.postimage {
	border-radius: 2px;
}

/* end of BORDERS */