/* COLORS */

html,
body,
a,
.info-paragraph strong,
fieldset span strong,
fieldset.polls dl.voted,
.fa-search,
#m-pagination .pagination a,
.m-row2:not(:hover, :focus) .notifications_reason em,
h2,
h3,
.post:target h3 a,
.postprofile .fa-comment-o,
.inputbox,
.tab.activetab > a,
.tab > a:focus,
div.content,
#postingbox.panel,
li.row strong,
li.row:hover,
table.table1 tbody tr.bg3 td,
table.table1 tr:hover td,
.abbc3_button,
a.username {
	color: white;
}

.post:target .content {
	color: #eee;
}

/* placeholder colors */

*::-moz-placeholder {
	color: #444;
}

*::-webkit-input-placeholder {
	color:#444;
}

*::-ms-input-placeholder {
	color:#444;
}

*:not(.search)::placeholder {
	color:#444;
	transition: all .35s linear;
}

/* znikanie placeholdera po focusie na input, textarea etc */

*:focus::-moz-placeholder {
	color: transparent;
	text-shadow: none;
}

*:focus::-webkit-input-placeholder {
	color: transparent;
	text-shadow: none;
}

*:focus::-ms-input-placeholder {
	color: transparent;
	text-shadow: none;
}

*:focus::placeholder {
	/* color: red !important; */
	color: transparent;
	text-shadow: none;
	transition: all .25s linear;
}

.copyright a,
.cp-main .fa-user-circle-o,
#m-notify .fa-user-circle-o {
	color: #444;
}

div select,
fieldset span,
table.table1 td,
a.attachment-filename span,
th.name h3,
ul.topiclist li,
#m-feed-topics .main-menu-bottom,
p.post-notice,
p.author,
.postprofile,
.postbody .notice,
.postbody .ignore,
.signature,
.brutalform-box span,
.register-text span,
#login span,
#reset_password span,
#resend span,
#login a,
#reset_password a,
#resend a,
.tab > a,
dl.faq dt,
.flex-columns-container-left dd,
dl.details dd,
dd label,
.column-right label,
label.column-right {
	color: #666;
}

/* Information about attachment and disabled input */

dl.file dd,
input.disabled {
	color: #666666;
}

/* Disabled option */

option.disabled-option {
	color: graytext;
}

#topic_forum_name_link a,
#m-name span,
#m-name a span,
.info-paragraph,
.spoilbtn,
cite div.responsive-hide,
blockquote cite,
blockquote.uncited::before {
	color: #777;
}

.m-list-right,
.recipients .fa-times,
.muzycy_zespoly {
	color: #888;
}

.m-row1 .notifications_reference,
.m-row1 .notifications_reason {
	color: #999;
}

.notifications_time {
	color: #aaa;
}

.button,
.pagination li a,
a.button1,
a.button2,
input.button1,
input.button2 {
	color: #b7b7b7;
}

.unreadpost .post-number a,
.m-row2 .notifications_reference,
.m-row2 .notifications_reason,
.topic-reply-counter.unread,
#m-feed a.topictitle.unread,
#m-feed a.topic-forumtitle.unread {
	color: #ee0000;
}

.button:hover,
a.button1:hover,
a.button2:hover,
input.button1:hover,
input.button2:hover,
a:hover,
a.username-coloured:hover,
.unreadpost .post-number a:hover,
.tab > a:hover,
.lastpost:hover a.lastsubject,
.lastpost:hover .fa-fast-forward,
.m-list .flex:hover a.topictitle,
.m-list .flex:hover a.topic-forumtitle,
li.row:hover a.forumtitle,
li.row:hover a.topictitle,
li.row:hover .topic-reply-counter.unread,
a.forumtitle:hover,
.m-row1:hover .notifications_reference,
.m-row1:hover .notifications_reason,
.m-row1:hover .notifications_title,
.m-row2:hover .notifications_reference,
.m-row2:hover .notifications_reason,
.m-row2:hover .notifications_title,
.search-box-hide:hover,
.posthilit,
.inputbox:not(#message, #signature, #poll_option_text, #notepad, #mchat-input):hover,
.postprofile strong,
.postprofile .fa-comment-o:hover,
dl.mini h3,
.online .fa-circle,
fieldset dl:hover dt label,
.flex-columns:hover > .column-left label {
	color: #32D635 !important;
}

@media (hover:hover) {
	#m-tagi a:hover,
	#m-feed a:hover,
	#main-menu-left a:hover,
	#main-menu-title a:hover,
	#m-pagination a:hover,
	#main-menu-right a:hover,
	.fa-search:hover {
		color:#32D635;
	}
}

.content h2,
.panel h2,
.panel-container .panel li.header dd,
.panel-container .panel li.header dt,
table.table1 thead th,
.button:focus,
span.button:focus,
a.button1:focus,
a.button2:focus,
input.button1:focus,
input.button2:focus,
a:focus,
a.username-coloured:focus,
.unreadpost .post-number a:focus,
.lastpost a:focus .fa-fast-forward,
.postlink,
#m-tagi a:focus,
#m-feed a:focus,
#main-menu-left a:focus,
#main-menu-title a:focus,
#m-pagination a:focus,
#main-menu-right a:focus,
.fa-search:focus,
.search-box-hide:focus,
.inputbox:not(#message, #signature, #poll_option_text, #notepad, #mchat-input):focus,
.lastpost:focus a.lastsubject,
.lastpost:focus .fa-fast-forward {
	color:#257EDE !important;
}

ul.topiclist li.row:hover .subforum.read {
	color: white;
}

ul.topiclist li.row .subforum.read:hover {
	color: #32D635;
}

/* Special PM folders or groups as select option */

.sep {
	color: #1198D9;
}

/* Error and poster profile block
---------------------------------------- */

.error,
dd.profile-warnings {
	color: #BC2A4D;
}

/* Code block */

.codebox code {
	color: #2E8B57;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	/* color: #777777; */
	color: #888888;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	/* color: #999999; */
	color: #666666;
}

.icon.icon-black, a:hover .icon.icon-black {
	/* color: #333333; */
	color: #CCCCCC;
}

/* BBCode - t */

.tytulySD {
	color: #008000;
}

/* Kolory wydawnictw w dyskografii */

.wydawnictwo_lp {
	color: #BF0000;
}

.wydawnictwo_demo {
	color: #888;
}

.wydawnictwo_other {
	color: #666;
}

.wydawnictwo_norm {
	color: white;
}

/* Color palette icon */

#color-palette i {
	color: #800000;
}

/* search-box & pagination placeholder colors */

.search-box ::placeholder, .pagination ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #bb0000;}
.search-box ::-webkit-input-placeholder, .pagination ::-webkit-input-placeholder { /* Internet Explorer 10-11 */ color: #bb0000;}
.search-box ::-ms-input-placeholder, .pagination ::-ms-input-placeholder { /* Microsoft Edge */ color: #bb0000;}

.search-box input:hover::placeholder, .pagination input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #32D635;}
.search-box input:hover::-webkit-input-placeholder, .pagination input:hover::-webkit-input-placeholder { /* Internet Explorer 10-11 */ color: #32D635;}
.search-box input:hover::-ms-input-placeholder, .pagination input:hover::-ms-input-placeholder { /* Microsoft Edge */ color: #32D635;}

.search-box input:focus::placeholder, .pagination input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #257EDE;}
.search-box input:focus::-webkit-input-placeholder, .pagination input:focus::-webkit-input-placeholder { /* Internet Explorer 10-11 */ color: #257EDE;}
.search-box input:focus::-ms-input-placeholder, .pagination input:focus::-ms-input-placeholder { /* Microsoft Edge */ color: #257EDE;}

/* END COLORS */

/* BOX-SHADOWS */

.wrap {
	box-shadow: 0 0 5px 2px #9D9A93, inset 0 3px 18px rgba(157, 154, 147, .25);
}

/* UCP TOP MENU NAVI */

.tab > a:hover {
	box-shadow: 0 1px 1px -1px #32D635;
}

.activetab > a,
.activetab > a:hover,
.tab > a:focus {
	box-shadow: 0 1px 1px -1px #257EDE;
}

.navigation .tab > a:hover {
	box-shadow: 0 -1px 1px -1px #32D635;
}

.navigation .activetab > a,
.navigation .activetab > a:hover,
.navigation .tab > a:focus {
	box-shadow: 0 -1px 1px -1px #257EDE;
}

.navigation ul {
	box-shadow: 0 -1px 1px -1px #ee0000;
}

/* end of UCP TOP MENU NAVI */

.main-menu-item .main-menu-bottom {
	box-shadow: 0 1px 1px -1px #000, inset 0 8px 9px rgba(0, 0, 0, .3);
	box-shadow: 0 0 110px 1px #000, inset 0 2px 9px rgba(0, 0, 0, .35);
}

.m-row1:hover {
	box-shadow: inset 0 4px 9px rgba(238, 0, 0, .15);
}

.m-row2:hover {
	box-shadow: inset 0 4px 9px rgba(50, 214, 53, .15);
}

#m-pagination .pagination a,
.brutalform .reset,
#m-name .panel.bg3,
li.row.bg1,
li.row.bg2 {
	box-shadow: none;
}

.pagination li.active span {
	box-shadow: 0 0 2px #257EDE;
}

a img.postimage:hover {
	box-shadow: 0 0 5px 2px #32D635, inset 0 2px 9px rgba(50, 214, 53, .25);
}

/* Searched phrase */

.posthilit {
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.inputbox {
	box-shadow: 0 1px 1px -1px #ee0000;
	transition: box-shadow 0.5s ease-in-out;
}

.inputbox:hover {
	box-shadow: 0 1px 1px -1px #32D635;
	transition: box-shadow 0.5s ease-in-out;
}

.inputbox:focus {
	box-shadow: 0 1px 1px -1px #257EDE;
	transition: box-shadow 0.5s ease-in-out;
}

#brutalform-drafts-buttons .button2 {
	transition: box-shadow 0.75s ease-out;
}

/* Shadows of button, button1 and button2 classes */

.button,
.button1 {
	box-shadow: 0 -1px 1px -1px #ee0000 !important;
}

.button:hover,
.button1:hover,
.button2:hover {
	box-shadow: 0 -1px 1px -1px #32D635 !important;
}

.button:focus,
.button1:focus,
.button2:focus {
	box-shadow: 0 -1px 1px -1px #257EDE !important;
}

/* Shadows of bg1, bg2 and bg3 classes of panel class */

.panel.bg1,
.panel.bg1:hover {
	box-shadow: 0 1px 1px -1px #ee0000;
}

.panel.bg2,
.panel.bg2:hover {
	box-shadow: 0 1px 1px -1px #32D635;
}

.panel.bg3,
.panel.bg3:hover {
	box-shadow: 0 1px 1px -1px #257EDE;
}

.rozwijany-box-all,
.switcheroo-menu-all {
	box-shadow: 0 -1px 1px -1px #ee0000;
}

blockquote,
.codebox {
	box-shadow: 0 1px 1px -1px rgba(238, 0, 0, .6), inset 0 4px 9px rgba(100, 100, 100, .25);
}

.panel-container:not(.cp-main) .panel li.row.bg1 {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .1);
}

.panel-container:not(.cp-main) .panel li.row.bg2 {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.bg1,
table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .1);
}

.bg2,
table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.bg1:hover,
table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .15);
}

.bg2:hover,
table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .15);
}

/* Post poll styles
----------------------------------------*/

/* Poll options (not voted for) */

fieldset.polls dl {
	color: #666666;
}

/* Number of votes on poll result bar */

fieldset.polls dd div {
	color: #eee;
}

/* Poll results from lowest to highest percent */

.pollbar1 { background-color: rgba(238, 0, 0, 0.4); }
.pollbar2 { background-color: rgba(238, 0, 0, 0.5); }
.pollbar3 { background-color: rgba(238, 0, 0, 0.6); }
.pollbar4 { background-color: rgba(238, 0, 0, 0.7); }
.pollbar5 { background-color: rgba(238, 0, 0, 0.8); }

/* Dropdowns */

.dropdown .dropdown-contents {
	background-color: rgba(0, 0, 0, 0.85);
	border: 1px solid rgba(50, 214, 53, .2);
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
	border-radius: 7px;
}

.dropdown .dropdown-contents::-webkit-scrollbar-thumb {
	background-color: rgba(50, 214, 53, .2);
	border-radius: 7px;
}

.dropdown li.separator {
	border-color: #444;
}