/* CHANGE POST TIME + */

#mcp_chgposttime {
    margin-bottom: 25px;
}

/* PM BARS + */

.pmbars-outer {
	width: auto;
	/*padding: 0;*/
	border: solid 1px #666;
	margin: 8px 0 8px 0;
	background-color: transparent;
}

/* SCROLL TO UP DOWN + */

.nav-up, .nav-down {
	background-color: transparent;
	border: 1px solid transparent;
	color: unset;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1);
	margin-bottom: 0;
	border-radius: 50%;
}

.nav-down:hover, .nav-up:hover {
	color: #32D635;
    box-shadow: 0 5px 0.5em -1px #32D635;
}

/* QUICK LOGIN + */

#quick-login-panel {
	background-color: rgba(0, 0, 0, 1);
	width: 45em;
	max-width: 100%;
}

#quick-login-panel .content {
	background-image: URL("./images/cross_invert.png");
	background-repeat: no-repeat;
	border-radius: 7px;
}

#quick-login-panel .close {
	background: transparent;
}

/* MENTION + */

.mention {
	color: #257EDE;
	font-weight: unset;
	font-style: unset;
}

/* MENTION - tribute.css + */

.tribute-container {
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
	border: 1px solid rgba(50, 214, 53, .2);
	border-radius: 7px;
}

.tribute-container::-webkit-scrollbar-thumb {
    background-color: rgba(50, 214, 53, .2);
    border-radius: 7px;
}

.tribute-container ul {
	margin-top: 0;
	background: transparent;
	color: #fff;
}

.tribute-container li.highlight {
	background-color: rgba(50, 214, 53, .2);
	color: #32D635;
}

/* POST NUMBERS */

p.post-number.post-number {
	margin-right: 3px;
}

/* REMOVE SUBJECT FROM REPLIES */

.post .content {
	margin-top: 0;
}

/* COLLAPSE CATEGORIES + */

a.collapse-btn {
	color: #666;
}

/* RELATIVE DATES + */

#relativedates_number {
    border: none;
}

/* AJAX SHOUTBOX */

.ajaxshoutbox_message [data-s9e-mediaembed="youtube"] {
	max-width: 322px !important;
}

#shoutbox_scroll {
	max-height: 195px;
	overflow-y: scroll;
}

.ajaxshoutbox_row {
	display: flex;
	justify-content: space-between;
	min-height: 20px;
}

.ajaxshoutbox_user_message {
	display: flex;
	justify-content: center;
	flex-basis: 90%;
}

ul.topiclist dt.ajaxshoutbox_user {
	font-size: 1em;
}

.ajaxshoutboxpost #submit_shoutbox,
.ajaxshoutbox_user_message .ajaxshoutbox_user {
	flex-basis: 10%;
}

.ajaxshoutboxpost #text_shoutbox,
.ajaxshoutbox_user_message .ajaxshoutbox_message {
	flex-basis: 90%;
}

.ajaxshoutbox_user_message .ajaxshoutbox_user {
	padding-right: 5px;
}

li.row .ajaxshoutbox_user_message .ajaxshoutbox_message {
	padding-left: 5px;
}

.ajaxshoutbox_date_delete {
	flex-basis: 10%;
	display: flex;
	justify-content: flex-end;
}

.ajaxshoutbox_date_delete .ajaxshoutbox_delete { order: 1; }
.ajaxshoutbox_date_delete .ajaxshoutbox_date { order: 2; }

.ajaxshoutbox_date,
.ajaxshoutbox_user {
	text-align: right;
}

.ajaxshoutboxpost dl {
	width: calc(100% - 7px); /* minus scrollbar width */
}

#ajaxshoutbox_post dt {
	display: flex;
	min-height: 0;
}

#ajaxshoutbox_post .button2,
#shoutbox_content .button2 {
	display: flex;
	min-width: min-content;
}

.ajaxshoutbox_date {
	margin-right: 10px;
	margin-left: 10px;
	width: 70px;
}

ul.ajaxshoutboxpost li.row dt {
	width: 95%;
}

.ajaxshoutbox_loadingbar {
	position: relative;
}

.ajaxshoutbox_loadingbar {
	height: 16px;
	width: 16px;
	margin-left: auto;
	margin-right: auto;
}

.ajaxshoutbox_loadingbar {
	font-size: 16px;
}

#ajaxshoutbox_loadbefore,
#ajaxshoutbox_loadafter,
#copy {
	display: none;
}

#ajaxshoutbox_loadbefore {
	height: 16px;
	width: 16px;
}

ul.shoutboxlist li.row dl {
	padding: 0 0;
}

ul.shoutboxlist dl {
	position: relative;
}

.shoutboxlist .fa-remove {
	font-size: 10px;
}

ul.shoutboxlist dt,
ul.shoutboxlist dd.ajaxshoutbox_message,
ul.shoutboxlist dd.ajaxshoutbox_delete,
ul.ajaxshoutboxpost dd {
	margin-right: 0px;
}

.ajaxshoutbox_message .smilies {
	vertical-align: middle;
}

ul.ajaxshoutboxpost dt {
	min-height: 25px;
}

ul.ajaxshoutboxpost dd {
	display: flex;
	align-items: center;
	float: right;
	min-height: 25px;
	min-width: 25px;
}

.rtl ul.shoutboxlist dt.ajaxshoutbox_user {
	margin-left: 0px;
}

@media only screen and (max-width: 700px) {

	.ajaxshoutboxpost .inputbox {
		margin: 0;
	}

	.ajaxshoutbox_date_delete {
		justify-content: center;
	}

	ul.shoutboxlist dd.ajaxshoutbox_date {
		display: none;
	}

	ul.ajaxshoutboxpost dd,
	ul.shoutboxlist dd.ajaxshoutbox_message,
	ul.shoutboxlist dd.ajaxshoutbox_delete {
		display: block;
	}

	ul.topiclist.forums .ajaxshoutbox_row dt {
		margin-right: 0px;
	}
	
}

@media only screen and (max-width: 860px) {

	.ajaxshoutboxpost #submit_shoutbox,
	.ajaxshoutbox_user_message .ajaxshoutbox_user {
		flex-basis: 24%;
	}

	.ajaxshoutboxpost #text_shoutbox,
	.ajaxshoutbox_user_message .ajaxshoutbox_message {
		flex-basis: 75%;
	}

}

/* end of AJAX SHOUTBOX */

/* MCHAT */

.mchat-wrapper {
	margin-bottom: 25px;
}

.mchat-avatars .mchat-controls {
	margin: 0 43px 5px 43px;
}

.mchat-input-control button:hover .icon,
.mchat-panel-buttons button:hover .icon {
	color: #32D635;
}

.mchat-input-control button:focus .icon,
.mchat-panel-buttons button:focus .icon {
	color: #257EDE;
}

.mchat-button-add {
	margin: 0;
}

.mchat-button-bbcodes {
	border: none;
}

.mchat-button-bbcodes i {
	font-weight: bold;
}

#mchat-bbcodes {
    font-size: 1.1em;
	position: absolute;
	width: 100%;
}

#mchat-panel #abbc3_buttons {
	padding: 0;
}

#mchat-body #smiley-box-all,
#mchat-body #smiley-box img {
	box-sizing: unset;
}

.mchat-confirm-fields {
	padding: 25px 0;
}

.mchat-confirm-fields textarea {
	box-sizing: border-box;
	resize: vertical;
	outline: none;
	padding: 8px;
	text-align: justify;
	border: 1px solid rgba(50, 214, 53, 0.15);
}

#mchat-main {
	position: static;
	margin-top: 8px;
}

.mchat-message .mchat-avatar {
	display: flex;
	justify-content: flex-end;
}

.mchat-avatar i {
	font-size: 36px;
	color: #444;
}

.mchat-time {
	margin-left: 3px;
}

.mchat-text {
	text-align: justify;
	color: white;
}

@-webkit-keyframes flash-message {

	0% {
		background-color: rgba(50, 214, 53, 0.1);
	}

	100% {
		background-color: transparent;
	}

}

@keyframes flash-message {

	0% {
		background-color: rgba(50, 214, 53, 0.1);
	}

	100% {
		background-color: transparent;
	}

}

.mchat-wrapper .mchat-buttons li {
	/*opacity: 0.15;*/
}

.mchat-messages-top .mchat-nav-archive {
	text-align: center;
	font-size: 17px;
}

.mchat-messages-top .mchat-nav-archive span {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
}

@media only screen and (max-width: 700px) {

	.mchat-avatars .mchat-controls {
		margin: 0 0 5px 0;
		flex-direction: row;
		width: 100%;
	}

	.mchat-panel-buttons {
		min-height: auto;
		margin: 0 0 0 5px !important;
	}

	.mchat-wrapper .mchat-buttons > li {
		padding: 0;
	}

	.mchat-message .mchat-avatar {
		display: none;
	}

	.mchat-wrapper .mchat-buttons > li {
		margin: 0;
	}

	.mchat-buttons a:not([data-mchat-action="del"]) {
		/*display: none;*/
	}
}

@media only screen and (max-width: 1280px) {

	#mchat-bbcodes {
		position: static;
	}

	#mchat-main {
		position: relative;
		margin-top: 5px;
	}
	
}

/* end of MCHAT */

/* MCHAT ICONS MENU */

.dropdown-container-mchat-message-icons .arrow:after,
.dropdown-container-mchat-message-icons .arrow:before {
	border: none;
}

.mchat-buttons .dropdown-trigger {
	width: 30px;
	text-align: center;
}

.mchat-buttons .dropdown .dropdown-contents {
	background-color: rgba(0, 0, 0, 0.9);
	border-color: transparent;
}

@media all and (hover: hover) and (pointer: fine) {

	.mchat-buttons .dropdown-trigger:hover + .mchat-dropdown, .mchat-dropdown:hover {
		display: block !important;
	}

}
/* end of MCHAT ICONS MENU */

/* TOP FIVE */

/* Fixes avatar aspect-ratio */
#lista-top-five .topfive-avatar img { 
	max-height: 20px;
    vertical-align: middle;
    width: auto;
}

/* ABBC3 */

.abbc3_button:hover,
.spoilbtn:hover {
	color: #32D635 !important;
}

#abbc3_buttons {
	margin: 0 0 15px 0;
}

/* custom */
#abbc3_buttons .fa,
.abbc3_button,
.smiley-box,
#abbc3_buttons select {
	min-width: 30px;
	border: none;
	text-align: center;
}

#abbc3_buttons select {
	margin: 0;
	background-color: transparent;
	color: rgb(102, 102, 102);
}

.abbc3_button {
	margin: 0;
}

.abbc3_button:hover {
	background-color: transparent;
	border: none;
}

/* custom */
.abbc3_buttons_row {
	width: 100%;
	padding: 0;
	border: none;
	background-image: none;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bbcode-glow .fa {
	text-shadow: 0 0 1em #ee0000, 0 0 1em #ee0000, 0 0 1.2em #ee0000;
}

.bbcode-l,
.bbcode-v,
.bbcode-t {
	font-size: 1.25em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

.bbcode-l {
	color: #888;
	font-style: italic;
}

.bbcode-v {
	color: #888;
}

.bbcode-t {
	color: #008000;
	font-weight: bold;
}

#bbcode_wizard {
	background-color: black;
	border: 3px solid #222;
	box-shadow: 2px 2px 4px #111;
	text-align: center;
}

/* BBcode - [mod] */

.ModTable {
	border: 1px solid #222;
	border-collapse: separate;
	border-spacing: 5px;
	margin: 1em 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.ModTable .exclamation {
	/*background-color: #ff6060;*/
	font-weight: bold;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	opacity: 0.5;
}

.ModTable .exclamation i {
	text-shadow: 0 0 1em #ee0000, 0 0 1em #ee0000, 0 0 1.2em #ee0000;
}

.ModTable .rowuser {
	border-bottom: 1px solid #222;
	font-weight: bold;
}

.ModTable .rowuser,
.ModTable .rowtext {
	color: #777;
}

.pipe-table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #eee;
}

.pipe-table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}