/* ABBC3 */

.abbc3_button:hover,
.spoilbtn:hover {
	color: #32D635 !important;
}

#abbc3_buttons {
	margin: 0 0 15px 0;
}

#abbc3_buttons .fa {
	font-size: 1.25em;
	cursor: pointer;
}

/* custom */
#abbc3_buttons .fa,
.abbc3_button,
.smiley-box,
#abbc3_buttons select {
	min-width: 30px;
	border: none;
	text-align: center;
	/*box-sizing: border-box;*/
}

#abbc3_buttons select {
	margin: 0;
	background-color: transparent;
	color: rgb(102, 102, 102);
}

.abbc3_button {
	/*font-size: 11px;*/
	margin: 0;
}

.abbc3_button:hover {
	background-color: transparent;
	border: none;
}

/* custom */
.abbc3_buttons_row {
	width: 100%;
	padding: 0;
	border: none;
	background-image: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.bbcode-glow .fa {
	text-shadow: 0 0 1em #ee0000, 0 0 1em #ee0000, 0 0 1.2em #ee0000;
}

.bbcode-l,
.bbcode-v,
.bbcode-t {
	font-size: 1.25em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

.bbcode-l {
	color: #888;
	font-style: italic;
}

.bbcode-v {
	color: #888;
}

.bbcode-t {
	color: #008000;
	font-weight: bold;
}

#bbcode_wizard {
	background-color: black;
	border: 3px solid #222;
	box-shadow: 2px 2px 4px #111;
	text-align: center;
}

/* BBcode - [mod] */

.ModTable {
	border: 1px solid #222;
	border-collapse: separate;
	border-spacing: 5px;
	margin: 1em 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.ModTable .exclamation {
	/*background-color: #ff6060;*/
	font-weight: bold;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	opacity: 0.5;
}

.ModTable .exclamation i {
	text-shadow: 0 0 1em #ee0000, 0 0 1em #ee0000, 0 0 1.2em #ee0000;
}

.ModTable .rowuser {
	border-bottom: 1px solid #222;
	font-weight: bold;
}

.ModTable .rowuser,
.ModTable .rowtext {
	color: #777;
}

.pipe-table th {
	background-color: rgba(255, 255, 255, 0.2);
	color: #eee;
}

.pipe-table tr:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* end of ABBC3 */

/* CHANGE POST TIME + */

#mcp_chgposttime {
	margin-bottom: 25px;
}

/* end of CHANGE POST TIME */

/* COLLAPSIBLE CATEGORIES */

a.collapse-btn {
	color: #666;
}

/* end of COLLAPSIBLE CATEGORIES */

/* IMGUR */

.imgur-button.abbc3_button {
	background-image: none;
}

/* end of IMGUR */

/* MCHAT */

.mchat-wrapper {
	margin-bottom: 25px;
}

.mchat-avatars .mchat-controls {
	margin: 0 43px 5px 43px;
}

.mchat-input-control button:hover .icon,
.mchat-panel-buttons button:hover .icon {
	color: #32D635;
}

.mchat-input-control button:focus .icon,
.mchat-panel-buttons button:focus .icon {
	color: #257EDE;
}

.mchat-button-add {
	margin: 0;
}

.mchat-button-bbcodes {
	border: none;
}

.mchat-button-bbcodes i {
	font-weight: bold;
}

#mchat-bbcodes {
	font-size: 1.1em;
	position: absolute;
	width: 100%;
}

#mchat-panel #abbc3_buttons {
	padding: 0;
}

/*#mchat-body #smiley-box-all,*/
#mchat-body #smiley-box img {
	box-sizing: unset;
}

.mchat-confirm-fields {
	padding: 25px 0;
}

.mchat-confirm-fields textarea {
	box-sizing: border-box;
	resize: vertical;
	outline: none;
	padding: 8px;
	text-align: justify;
	border: 1px solid rgba(50, 214, 53, 0.15);
	font-size: 1.2em;
}

#mchat-main {
	position: static;
	/*margin-top: 8px;*/
	margin-top: 25px;
}

.mchat-no-messages {
	text-align: center;
}

.mchat-message .mchat-avatar {
	display: flex;
	justify-content: flex-end;
}

.mchat-avatar i {
	font-size: 36px;
	color: #444;
}

.mchat-time {
	margin-left: 3px;
}

.mchat-text {
	text-align: justify;
	color: white;
}

@-webkit-keyframes flash-message {

	0% {
		background-color: rgba(50, 214, 53, 0.1);
	}

	100% {
		background-color: transparent;
	}

}

@keyframes flash-message {

	0% {
		background-color: rgba(50, 214, 53, 0.1);
	}

	100% {
		background-color: transparent;
	}

}

.mchat-messages-top .mchat-nav-archive {
	text-align: center;
	font-size: 17px;
}

.mchat-messages-top .mchat-nav-archive span {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
}

@media only screen and (max-width: 700px) {

	.mchat-avatars .mchat-controls {
		margin: 0 0 5px 0;
		flex-direction: row;
		width: 100%;
	}

	.mchat-panel-buttons {
		min-height: auto;
		margin: 0 0 0 5px !important;
	}

	.mchat-wrapper .mchat-buttons > li {
		padding: 0;
	}

	.mchat-message .mchat-avatar {
		display: none;
	}

	.mchat-wrapper .mchat-buttons > li {
		margin: 0;
	}
}

@media only screen and (max-width: 1280px) {

	#mchat-bbcodes {
		position: static;
	}

	#mchat-main {
		position: relative;
		margin-top: 5px;
	}
	
}

/* end of MCHAT */

/* MCHAT ICONS MENU */

.dropdown-container-mchat-message-icons .arrow:after,
.dropdown-container-mchat-message-icons .arrow:before {
	border: none;
}

.mchat-buttons .dropdown-trigger {
	width: 30px;
	text-align: center;
}

.mchat-buttons .dropdown .dropdown-contents {
	background-color: rgba(0, 0, 0, 0.9);
	border-color: transparent;
}

/* show mchat-buttons at hover */

@media all and (hover: hover) and (pointer: fine) {

	.mchat-buttons .dropdown-trigger:hover + .mchat-dropdown, .mchat-dropdown:hover {
		display: block !important;
	}

}
/* end of MCHAT ICONS MENU */

/* MENTION */

.mention {
	color: #257EDE;
	font-weight: unset;
	font-style: unset;
}

/* MENTION - tribute.css */

.tribute-container {
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
	border: 1px solid rgba(50, 214, 53, .2);
	border-radius: 7px;
}

.tribute-container::-webkit-scrollbar-thumb {
	background-color: rgba(50, 214, 53, .2);
	border-radius: 7px;
}

.tribute-container ul {
	margin-top: 0;
	background: transparent;
	color: #fff;
}

.tribute-container li.highlight {
	background-color: rgba(50, 214, 53, .2);
	color: #32D635;
}

/* end of MENTION */

/* NOTEPAD */

#notepad {
	resize: vertical;
	font-size: 1.32em;
	line-height: 1.618;
}

/* end of NOTEPAD */

/* PM BARS */

.pmbars-outer {
	width: auto;
	border: solid 1px #666;
	margin: 8px 0 8px 0;
	background-color: transparent;
}

/* end of PM BARS */

/* POST NUMBERS */

p.post-number.post-number {
	margin-right: 3px;
}

/* end of POST NUMBERS */

/* QUICK EDIT */

#quickeditbox .message-box,
#quickeditbox .panel {
	width: 100%;
	padding: 8px 0;
}

/* end of QUICK EDIT */

/* QUICK LOGIN */

#quick-login-panel {
	/*background-color: rgba(0, 0, 0, 1);*/
	width: 45em;
	max-width: 100%;
}

#quick-login-panel a {
	color: #666;
}

#quick-login-panel .content {
	/*background-image: URL("./images/cross_invert.png");*/
	/*background-repeat: no-repeat;*/
	/*border-radius: 7px;*/
}

#quick-login-panel .close {
	background: transparent;
}

/* end of QUICK LOGIN */

/* RELATIVE DATES + */

#relativedates_number {
	border: none;
}

/* end of RELATIVE DATES */

/* REMOVE SUBJECT FROM REPLIES */

.post .content {
	margin-top: 0;
}

/* end of REMOVE SUBJECT FROM REPLIES */

/* SCROLL TO UP DOWN */

.nav-up, .nav-down {
	background-color: transparent;
	border: 1px solid transparent;
	color: unset;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), -1px -1px 3px rgba(0, 0, 0, 1);
	margin-bottom: 0;
	border-radius: 50%;
}

.nav-down:hover, .nav-up:hover {
	color: #32D635;
	box-shadow: 0 5px 0.5em -1px #32D635;
}

/* end of SCROLL TO UP DOWN */

/* TOP FIVE */

/* Fixes avatar aspect-ratio */

#lista-top-five .topfive-avatar img { 
	max-height: 20px;
	vertical-align: middle;
	width: auto;
}

/* end of TOP FIVE */

/* TOPIC PREVIEW */

.topic_preview_container {
	background-color: rgba(0, 0, 0, 0.75);
	border: none;
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
	color: white;
	padding: 15px;
	text-align: justify;
}

.topic_preview_container:before,
.topic_preview_container.invert:after {
	background-color: rgba(0, 0, 0, 0.75);
}

.topic_preview_container:before {
	/* Upper Triangle */
	border-top: 1px solid #32D635;
	border-right: 1px solid #32D635;
}

.topic_preview_container.invert:after {
	/* Lower Triangle */
	border-bottom: 1px solid #32D635;
	border-left: 1px solid #32D635;
}

.topic_preview_avatar {
	text-align: center;
}

.topic_preview_avatar img {
	border: 1px solid transparent;
}

/* end of TOPIC PREVIEW */

/* TOPIC TAGS */

.ng-scope {
	display: flex;
	justify-content: center;
}

/* Not .inputbox, but retains ordering of brutalform-box with brutalform-label and brutalform-explanation */

#tagowarka_edit > .ng-scope {
	order: 2;
}

/* m-tagowarka on navbar_header */

#m-tagowarka_ui {
	display: flex;
	width: 100%;
}

#m-tagowarka tags-input input { order: 1; }
#m-tagowarka tags-input .tags .tag-list { order: 2; }

/* Input tags on posting & navbar_header, displayed with topic tags list and autocomplete */

tags-input {
	color: #bbb;
	width: 100%;
	outline: 0;
}

tags-input .tags {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

/* Tag already added or is otherwise invalid */

tags-input .tags input.invalid-tag {
	color: #ee0000;
}

/* Does not show clear button in IE 10 & 11 and Edge 12+ */

tags-input .tags input::-ms-clear {
	display: none;
}

/* tag-list is a list of topic tags shown in posting */

tags-input .tags .tag-list {
	background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.45) 70%);
	bottom: 44px;
}

/* tag-item is a single tag on tag-list in posting */

tags-input .tags .tag-item {
	line-height: 25px;
}

/* rh_tag is a single tag shown on viewforum_body and viewtopic_body */

.rh_tag,
tags-input .tags .tag-item {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	padding: 0 5px;
	font-variant: small-caps;
	font-weight: bold;
}

.rh_tag {
	font-size: 1.1em;
}

.rh_tag a {
	color: #bbb;
}

/* On viewforum */

.topics .rh_tag a {
	color: #777;
}

/* Shadows on hover */

.rh_tag:hover,
tags-input .tags .tag-item:hover {
	box-shadow: 0 1px 1px -1px #32D635, inset 0 -4px 9px rgba(50, 214, 53, .5);
}

/* Displaying tag-list for wider displays in absolute position */

#tagowarka_edit tags-input .host {
	position: relative;
}

#tagowarka_edit tags-input .tags .tag-list {
	text-align: center;
	position: absolute;
	z-index: 3;
}

/* Topic tag remove button in posting */

tags-input .tags .tag-item .remove-button {
	cursor: pointer;
	color: #777;
}

/* Display autocomplete in absolute position */

tags-input auto-complete {
	z-index: 999;
	position: absolute;
	width: 100%;
}

tags-input .autocomplete {
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
}

/* Found tags suggested in autocomplete */

tags-input .autocomplete .suggestion-item {
	box-sizing: border-box;
	box-shadow: 0 1px 1px -1px #ee0000;
	width: 100%;
	padding: 5px 10px;
	font-size: 1.4em;
	font-variant: small-caps;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

tags-input .autocomplete .suggestion-item:hover {
	background: linear-gradient(transparent 0%, rgba(50, 214, 53, 0.05) 70%);
}

tags-input .autocomplete .suggestion-item:focus {
	background: linear-gradient(transparent 0%, rgba(37, 126, 222, 0.05) 70%);
}

tags-input .autocomplete .suggestion-item.selected {
	color: rgba(50, 214, 53);
	box-shadow: 0 1px 1px -1px #32D635, inset 0 -4px 9px rgba(50, 214, 53, .3);
	transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* Found tags - em is string from input */

tags-input .autocomplete .suggestion-item em {
	font-style: initial;
	font-weight: bold;
	color: white;
}

/* Displaying tags in topiclist */

.tag-box {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

/* Enables displaying list with topic tags in viewforum_body / show_tag */

.section-viewforum ul.topiclist.topics dl,
[class*="section-app\/tag\/"] ul.topiclist.topics dl {
	position: static;
}

.tag-box-all {
	margin-top: 15px;
}

/* Responsive */

@media (max-width: 860px) {

	#tagowarka_edit tags-input .tags .tag-list {
		position: initial;
	}

}

/* end of TOPIC TAGS */