.icon-pages						{ background-image: url("./images/icon_pages.gif"); }
.row .pagination				{ /* background-image: url("./images/icon_pages.gif"); */ }
.icon-search	{ background-image: url("./images/icon_search.gif"); }

.icon-search:hover	{ background-image: url("./images/icon_search_2.gif"); }

/* Profile & navigation icons */

a.top, a.top2 { /* background-image: url("./images/icon_back_top.png"); */ }
a.top:hover, a.top2:hover { /* background-image: url("./images/icon_back_top_2.png"); */ }

/* .icon-button:before												{ background-image: url("./images/icons_button.png"); } */

.forum_unread													{ background-image: url("./images/forum_unread.png"); }
.forum_read														{ background-image: url("./images/forum_read.png"); }
.forum_read_subforum											{ background-image: url("./images/forum_read.png"); }
.forum_unread_subforum											{ background-image: url("./images/forum_unread.png"); }

/* Forum icons & Topic icons */
.global_read													{ background-image: url("./images/announce_read.png"); }
.global_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked												{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread													{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine												{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine										{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read													{ background-image: url("./images/announce_read.png"); }
.announce_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked											{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread												{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine											{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine									{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link														{ background-image: url("./images/forum_link.png"); }
.forum_read_locked												{ background-image: url("./images/forum_read_locked.png"); }
.forum_unread_locked											{ background-image: url("./images/forum_unread_locked.png"); }

.sticky_read													{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine												{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked												{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine										{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread													{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine												{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked											{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine										{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved													{ background-image: url("./images/topic_moved.png"); }
.topic_read														{ background-image: url("./images/topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine											{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked												{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/topic_read_locked_mine.png"); }
.topic_unread													{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/topic_unread_locked_mine.png"); }

.loading														{ background-image: url("./images/loading.gif"); }
.alert_close													{ /* background-image: url("./images/alert_close.png"); */ }

.pm_read														{ background-image: url("./images/topic_read.png"); }
.pm_unread														{ background-image: url("./images/topic_unread.png"); }