/* OPACITY */

.lastpost .fa-fast-forward,
.phantom-label,
.post-buttons #post-buttons-row-2,
.brutalform-label {
	opacity: 0;
}

.search-user .fa-search,
.post-buttons,
.copyright {
	opacity: 0.15;
}

#mm-title .labeled-icon .fa {
	opacity: 0.25;
}

.nav-footer,
.to-searched-post {
	opacity: 0.3;
}

.labeled-icon-button .fa,
.post-number,
#mm-user .main-menu-bottom .fa {
	opacity: 0.4;
}

#mm-home .main-menu-top,
#mm-title .main-menu-top,
#mm-pagination .pagination,
#mm-last-posts .main-menu-top,
#mm-topics .main-menu-top,
#mm-tags .main-menu-top,
#mm-search .main-menu-top,
#mm-notifications .main-menu-top,
#mm-pm .main-menu-top,
#mm-user .main-menu-top,
#mm-active-topics .main-menu-top,
#mm-log-in .main-menu-top,
.topic-forumtitle,
.post-buttons #post-buttons-row-1:hover ~ #post-buttons-row-2,
.post-buttons #post-buttons-row-2:hover,
#page-header,
ul.button,
.pagination {
	opacity: 0.5;
}

.pagination li.active span,
#mm-notifications .m-list-left-bottom,
.cp-main .notifications_time,
.main-menu-top .labeled-icon .fa,
.unreadpost .post-number,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.recipients .fa-times,
.darken {
	opacity: 0.6;
}

.topic-reply-counter.unread,
#search-box-hide .fa,
.copyright:hover {
	opacity: 0.7;
}


.mark_read {
	opacity: 0.75;
}

.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.recipients .fa-times:hover {
	opacity: 0.9;
}

li.row:hover .topic-reply-counter.unread,
#top-site-menu,
#mm-title.with-main-menu-bottom .main-menu-top,
#mm-home:hover .main-menu-top,
#mm-title:hover .main-menu-top,
#mm-pagination:hover .pagination,
.pagination:hover,
#mm-last-posts:hover .main-menu-top,
#mm-topics:hover .main-menu-top,
#mm-tags:hover .main-menu-top,
#mm-search:hover .main-menu-top,
#search-box-hide:hover .fa,
#mm-notifications:hover .main-menu-top,
#mm-pm:hover .main-menu-top,
#mm-user:hover .main-menu-top,
#mm-active-topics:hover .main-menu-top,
#mm-log-in:hover .main-menu-top,
.lastpost:hover .fa-fast-forward,
.flex-columns:hover .phantom-label,
.search-user .fa-search:hover,
.search.post:hover .to-searched-post,
.post-number:hover,
#mm-user .main-menu-bottom a:hover .fa,
.brutalform-box:focus ~ .brutalform-label,
.brutalform select:hover ~ .brutalform-label,
.brutalform .brutalform-timezone-select:hover ~ .brutalform-label,
.brutalform .inputbox:focus ~ .brutalform-label,
.brutalform select:focus ~ .brutalform-label,
.brutalform .brutalform-timezone-select:focus ~ .brutalform-label,
.page-footer .nav-footer:hover,
.contact-box-all .labeled-icon-button:hover .fa {
	opacity: 1;
}

.brutalform-explanation {
	opacity: 0;
}

.brutalform-box:hover .brutalform-explanation,
.brutalform .inputbox:hover ~ .brutalform-explanation,
.brutalform .inputbox:focus ~ .brutalform-explanation {
	opacity: 1;
	padding-bottom: 15px;
	z-index: 3;
}

@media (hover:hover) {
	#top-site-menu:hover {
		opacity: 1;
	}
}

#mm-search ::placeholder,
.pagination ::placeholder {
	opacity: 1;
}

/* TRANSITIONS */

#top-site-menu {
	transition: opacity 0.25s ease-out;
}

#mm-home .main-menu-top,
#mm-title .main-menu-top,
#mm-pagination .main-menu-top,
#mm-last-posts .main-menu-top,
#mm-topics .main-menu-top,
#mm-tags .main-menu-top,
#mm-search .main-menu-top,
#search-box-hide .fa,
#mm-notifications .main-menu-top,
#mm-pm .main-menu-top,
#mm-user .main-menu-top,
#mm-active-topics .main-menu-top,
#mm-log-in .main-menu-top,
.lastpost .fa-fast-forward,
.phantom-label,
.search-user .fa-search,
.pagination,
.search.post:hover .to-searched-post,
.post-number:hover,
.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.recipients .fa-times:hover,
#mm-user .main-menu-bottom .fa,
#mm-user .main-menu-bottom a:hover .fa,
.contact-box-all .labeled-icon-button .fa,
.contact-box-all .labeled-icon-button:hover .fa {
	transition: opacity 0.75s ease-out 0.1s;
}

.post-number,
.post-buttons,
.post-buttons #post-buttons-row-1:hover ~ #post-buttons-row-2,
.post-buttons #post-buttons-row-2:hover,
.mark_read,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.recipients .fa-times {
	transition: opacity 0.75s ease-out 666666s;
}

.to-searched-post,
.brutalform-label,
.brutalform-explanation {
	transition: opacity 0.75s ease-in-out 0.35s;
}

.brutalform-box:hover .brutalform-explanation,
.brutalform-box:focus ~ .brutalform-label,
.brutalform .inputbox:hover ~ .brutalform-explanation,
.brutalform select:hover ~ .brutalform-label,
.brutalform .brutalform-timezone-select:hover ~ .brutalform-label,
.brutalform .inputbox:focus ~ .brutalform-explanation,
.brutalform .inputbox:focus ~ .brutalform-label,
.brutalform select:focus ~ .brutalform-label,
.brutalform .brutalform-timezone-select:focus ~ .brutalform-label {
	transition: opacity 0.25s ease-in-out 0.15s;
}

.nav-footer {
	transition: opacity 1.6s ease-out;
}

.copyright {
	transition: opacity 1.25s ease-out;
}