/* OPACITY */

.lastpost .fa-fast-forward,
.phantom-label,
.post-buttons #post-buttons-row-2,
.brutalform-label {
	opacity: 0;
}

.search-user .fa-search,
.post-buttons,
.copyright {
	opacity: 0.15;
}

#m-name .m-labeled-box-button .fa {
	opacity: 0.25;
}

.nav-footer,
.to-searched-post {
	opacity: 0.3;
}

.m-labeled-box-button .fa,
.post-number,
#m-ksywa .main-menu-bottom a .fa {
	opacity: 0.4;
}

#m-home .main-menu-top,
#m-name .main-menu-top,
#m-pagination .pagination,
#m-feed .main-menu-top,
#m-feed-topics .main-menu-top,
#m-tagi .main-menu-top,
#m-search-box .main-menu-top,
#m-notify .main-menu-top,
#m-pm .main-menu-top,
#m-ksywa .main-menu-top,
#m-aktywne-tematy .main-menu-top,
#m-logged-out .main-menu-top,
.topic-forumtitle,
.post-buttons #post-buttons-row-1:hover ~ #post-buttons-row-2,
.post-buttons #post-buttons-row-2:hover,
#page-header,
ul.button,
.pagination {
	opacity: 0.5;
}

.pagination li.active span,
#m-notify .m-list-left-bottom,
.cp-main .notifications_time,
.main-menu-top .m-labeled-box .fa,
.unreadpost .post-number,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.recipients .fa-times,
.darken {
	opacity: 0.6;
}

.topic-reply-counter.unread,
.search-box-hide .fa,
.copyright:hover {
	opacity: 0.7;
}


.mark_read {
	opacity: 0.75;
}

.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.recipients .fa-times:hover {
	opacity: 0.9;
}

li.row:hover .topic-reply-counter.unread,
#top-site-menu,
#m-name.show-name-bottom-list .main-menu-top,
#m-home:hover .main-menu-top,
#m-name:hover .main-menu-top,
#m-pagination:hover .pagination,
.pagination:hover,
#m-feed:hover .main-menu-top,
#m-feed-topics:hover .main-menu-top,
#m-tagi:hover .main-menu-top,
#m-search-box:hover .main-menu-top,
.search-box-hide:hover .fa,
#m-notify:hover .main-menu-top,
#m-pm:hover .main-menu-top,
#m-ksywa:hover .main-menu-top,
#m-aktywne-tematy:hover .main-menu-top,
#m-logged-out:hover .main-menu-top,
.lastpost:hover .fa-fast-forward,
.flex-columns:hover .phantom-label,
.search-user .fa-search:hover,
.search.post:hover .to-searched-post,
.post-number:hover,
#m-ksywa .main-menu-bottom a:hover .fa,
.brutalform-box:focus ~ .brutalform-label,
.brutalform select:hover ~ .brutalform-label,
.brutalform .brutalform-timezone-select:hover ~ .brutalform-label,
.brutalform .inputbox:focus ~ .brutalform-label,
.brutalform select:focus ~ .brutalform-label,
.brutalform .brutalform-timezone-select:focus ~ .brutalform-label,
.page-footer .nav-footer:hover,
.contact-box-all .m-labeled-box-button:hover .fa {
	opacity: 1;
}

.brutalform-explanation {
	opacity: 0;
}

.brutalform-box:hover .brutalform-explanation,
.brutalform .inputbox:hover ~ .brutalform-explanation,
.brutalform .inputbox:focus ~ .brutalform-explanation {
	opacity: 1;
	padding-bottom: 15px;
	z-index: 3;
}

@media (hover:hover) {
	#top-site-menu:hover {
		opacity: 1;
	}
}

#m-search-box ::placeholder,
.pagination ::placeholder {
	opacity: 1;
}

/* RESPONSIVE */

@media only screen and (max-width: 860px) {
	.post-buttons #post-buttons-row-2 {
		opacity: 0.8;
	}
}

@media (max-width: 700px) {
	.lastpost .fa-fast-forward {
		opacity: 0.2;
	}
}

/* end of RESPONSIVE */

/* TRANSITIONS */

#top-site-menu {
	transition: opacity 0.25s ease-out;
}

#m-home .main-menu-top,
#m-name .main-menu-top,
#m-pagination .main-menu-top,
#m-feed .main-menu-top,
#m-feed-topics .main-menu-top,
#m-tagi .main-menu-top,
#m-search-box .main-menu-top,
.search-box-hide .fa,
#m-notify .main-menu-top,
#m-pm .main-menu-top,
#m-ksywa .main-menu-top,
#m-aktywne-tematy .main-menu-top,
#m-logged-out .main-menu-top,
.lastpost .fa-fast-forward,
.phantom-label,
.search-user .fa-search,
.pagination,
.search.post:hover .to-searched-post,
.post-number:hover,
.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.recipients .fa-times:hover,
#m-ksywa .main-menu-bottom a .fa,
#m-ksywa .main-menu-bottom a:hover .fa,
.contact-box-all .m-labeled-box-button .fa,
.contact-box-all .m-labeled-box-button:hover .fa {
	transition: opacity 0.75s ease-out 0.1s;
}

.post-number,
.post-buttons,
.post-buttons #post-buttons-row-1:hover ~ #post-buttons-row-2,
.post-buttons #post-buttons-row-2:hover,
.mark_read,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.recipients .fa-times {
	transition: opacity 0.75s ease-out 666666s;
}

.to-searched-post,
.brutalform-label,
.brutalform-explanation {
	transition: opacity 0.75s ease-in-out 0.35s;
}

.brutalform-box:hover .brutalform-explanation,
.brutalform-box:focus ~ .brutalform-label,
.brutalform .inputbox:hover ~ .brutalform-explanation,
.brutalform select:hover ~ .brutalform-label,
.brutalform .brutalform-timezone-select:hover ~ .brutalform-label,
.brutalform .inputbox:focus ~ .brutalform-explanation,
.brutalform .inputbox:focus ~ .brutalform-label,
.brutalform select:focus ~ .brutalform-label,
.brutalform .brutalform-timezone-select:focus ~ .brutalform-label {
	transition: opacity 0.25s ease-in-out 0.15s;
}

.nav-footer {
	transition: opacity 1.6s ease-out;
}

.copyright {
	transition: opacity 1.25s ease-out;
}