/* responsive taken from _se\stylesheet.css */


@media (min-width: 701px) {
	dd.posts,
	dd.topics,
	dd.views,
	dd.extra,
	dd.mark,
	.flex-2centered {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 700px) {
	
	ul.shoutboxlist dd.ajaxshoutbox_date {
		display: none;
	}
	ul.shoutboxlist dd.ajaxshoutbox_message {
		display: block;
	}

	ul.topiclist.forums .ajaxshoutbox_row dt {
		margin-right: 0px;
	}
	
}

@media (max-width: 1280px) {
	
	/*#m-name .main-menu-bottom{ left: 15px; }*/
	
	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom,
	#m-ksywa .main-menu-bottom {
		right: 0px;
	}
	
}

@media (max-width: 700px) {
	
	/* responsive.css */

	.headerbar, .forabg, .forumbg, .post, .panel {
		margin-left: 0;
		margin-right: 0;
	}

	.navbar {
		margin: auto;
	}

	.topicreview {
		margin: 0;
	}

	li.header dt {
		text-align: left;
		text-transform: uppercase;
	}

	.inputbox:not(.autowidth) {
		max-width: 100%;
	}

	select:not(.autowidth) {
		/*max-width: 100%;*/
	}

	.row .pagination {
		/* margin-top: 0; */
		/* margin-bottom: 0; */
	}

	/* table responsive */

	table.responsive tr {
        padding: 5px 0;
    }

	table.table1.responsive td dfn {
		color: #888;
		font-weight: bold;
		font-style: normal;
	}

	table.table1.responsive td strong {
		color: #fff;
	}

	/* END responsive.css */

	/* table not-responsive wyświetlanie */

	table .rank-img {
		display: none;
	}

	.post {
		/* padding: 5px 7px; */
	}

	.flex-box {
		flex-basis: 100%;
	}
	
	.submit-buttons .fbr,
	#postingbox .fbr,
	.fbr-big {
		flex-direction: column;
	}
	
	.fbr {
		/*margin-bottom: 10px;*/
		margin-bottom: 25px;
	}
	
	#postingbox .fbr-left,
	#postingbox .fbr-right,
	#register .fbr-left,
	#register .fbr-right,
	#reset_password .fbr-left,
	#reset_password .fbr-right,
	#resend .fbr-left,
	#resend .fbr-right,
	#login .fbr-left,
	#login .fbr-right {
		flex-basis: 100%;
		align-items: center;
		text-align: center;
	}

	/* fbr-left fbr-right mobile change */
	.fbr-settings-panel .fbr:not(.fbr-checkbox) .fbr-left {
		flex-basis: 100%;
		align-items: flex-start;
		text-align: left;
	}
	
	.fbr-settings-panel .fbr:not(.fbr-checkbox) .fbr-right {
		flex-basis: 100%;
		align-items: center;
		text-align: center;
	}
	/* fbr-left fbr-right mobile change */

	.fbr-right,
	.fbr-right-big {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	
	.fbr select {
		max-width:90vw;
	}

	.lastpost.responsive-show span {
		display: flex;
		white-space: nowrap;
	}

	.m-list-right {
		padding-right: 0;
		width: 91px;
		max-width: 91px;
	}
	
	.m-list-left {
		width: calc(100% - 91px);
		padding-left: 0;
	}
	
	#m-notify .m-list-right {
		width: 66px;
	}
	
	.m-list-left.notification_text {
		width: calc(100% - 66px);
		max-width: calc(100% - 66px);
	}
	
	.top-with-settings div {
		top: -20px;
		right: 10px;
	}	
	
	table.table1#notification-settings-table .mark {
		white-space: nowrap;
	}

	a#titleID {
		padding: 0 5px 0 5px;
	}

	.pagination .menu-all {
		right: 0;
	}
	
	.memberlist.table1 .info {
		display: none;
	}

	/* wyświetlanie post-buttons dla mcp_post */
	.postbody.mcp-post-postbody {
		position: relative;
	}

	.postbody.mcp-post-postbody .post-buttons {
		top: -1.618em;
	}

	span.author-mobile.responsive-show,
	span.author-postnumber-mobile.responsive-show {
		display: inline !important;
	}
	
	.post .postprofile {
		padding: 0;
		margin: 0;
		min-height: 32px;
	}
	
	.postprofile p.post-number {
		clear: none;
	}
	
	.postprofile dd.profile-rank {
		display: none;
	}

	.has-profile .post-buttons,
	.post-buttons {
		right: 8px;
		top: 5px;
	}
	
	.main-menu-item .main-menu-top .fa-history {
		padding: 0;
	}
	
	div.content {
		margin: 0;
	}

	#postingbox.panel {
		/* margin: 0; */
	}

	.postbody p.post-number,
	.topiclist li:not(.header) .lastpost {
		display: none;
	}
	
	.lastpost.responsive-show {
		float: right;
		margin: 2px 0;
	}

	.lastpost .fa-fast-forward {
		padding-left: 5px;
	}
	
	.post:not(.search) dl.postprofile {
		padding-left:3px;
	}

	.postbody {
		width: auto;
	}
	
	.action-bar .fbr-left,
	.action-bar .fbr-right {
		flex-basis: 100%;
	}

	.cp-main .action-bar.bar-top .buttons {
		flex-wrap: wrap;
	}

	/* mobile width fix */

	.message-box {
		/*max-width: calc(100vw - 10px);*/
	}

	.message-box textarea {
		width: 100%;
	}

	.inputbox {
		margin: auto;
	}

	/* END mobile width fix */
	
	#agreement.brutalform input {
		width: 100%;
	}

	#tagowarka_edit tags-input .tags .tag-list {
    position: initial;
    padding-bottom: 0;
	}
	
	.to-searched-post {
		padding: 0;
	}

	.postprofile .search-result-date {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 550px) {
	
	#m-name .main-menu-bottom,
	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom {
		left: 0;
	}
	
	#m-name {
		position: inherit;
	}
	
	#m-name .main-menu-bottom{
		width: 100%;
	}

	#m-name .main-menu-bottom,
	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom {
		right: 0;
	}
	
	#topic_preview {
		max-width: 300px;
	}
	
}

@media only screen and (max-width: 360px) {
	#topic_preview {
		max-width: 220px;
	}
}

@media only screen and (max-width: 700px) {
	.phpbb_alert {
		top: 100px;
	}
}

@media (max-height: 800px) {
	.main-menu-item .main-menu-bottom{
		max-height: 80vh;
	}
}

@media only screen and (max-width: 900px) {
	/* cp.css */

	.navigation {
		max-width: 100%;
	}

	.nojs .tabs a span, .nojs .minitabs a span {
		letter-spacing: normal;
	}

	/* END cp.css */
}

@media only screen and (max-width: 920px) {
	.wrap{
		padding: 15px 0;
	}
}

@media only screen and (max-width: 860px) {

	.wrap {
		margin: auto;
		padding: 0 0 15px 0;
	}
	
	#main-menu #m-lewa { order: 1; }
	
	#main-menu #m-srodek {
		order: 3;
		width: auto;
		margin-left: 45px;
	}

	#main-menu #search {
		order: 1;
		position: absolute;
		z-index: 1001;
		/*background: blueviolet;*/
		background: black;
		/*width: 100%;*/
	}

	#main-menu #search .main-menu-top {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	#main-menu #search #search_but_top {
		order: 1;
		padding-left: 11px;
		padding-right: 11px;
	}

	#main-menu #search .search-box-hide {
		order: 2;
	}

	#main-menu #search #keywords_top {
		order: 3;
		position: absolute;
		z-index: 1000;
		margin-left: 45px;
	}

	#main-menu #m-naj-s { order: 3; }
	#main-menu #m-pagination { order: 4; }
	#main-menu #m-prawa { order: 2; }
	#main-menu #m-prawa #m-notify { order: 6; }
	#main-menu #m-prawa #m-tagi { order: 5; }
	
	#page-header {
		display: none;
	}
	
	/*#m-search-box .fa-search { padding: 0; }*/
	
	#thegate {
		margin: 0;
	}

	#thegate a {
		padding: 0;
	}
	
	#top-site-menu {
		/*position: -webkit-sticky;*/
		position:sticky;
		padding: 5px 5px 0 5px;
		/*-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;*/
		box-sizing: border-box;
	}
	
	.main-menu-item .main-menu-top a,
	.main-menu-item .main-menu-top #search {
		padding-left: 10px;
		padding-right: 10px;
	}

	#main-menu .main-menu-item .main-menu-bottom {
		max-height: 66vh;
	}
	
	#m-home,
	#m-name,
	#m-pagination,
	#main-menu #search,
	#main-menu #m-search-box .main-menu-top {
		height: auto;
	}
	
	.main-menu-top-title,
	.main-menu-item .main-menu-top a {
		height: 45px;
	}
	
	#m-feed-topics #m-feed-topics-unread {
		padding-right: 5px;
	}
	
	/* zmienny układ #m-prawa zależnie czy użytkownik zalogowany czy nie */

	#m-prawa {
		width: calc(100% - 55px);
		justify-content: space-between !important;
	}

	.menu-registered-user #m-prawa {
		width: calc(100% - 16.67%);
	}

	.menu-unregistered-user #m-prawa {
		width: calc(100% - 25%);
	}
	
	.ajaxshoutbox_user_message .ajaxshoutbox_user {
		flex-basis: 24%;
	}

	.ajaxshoutbox_user_message .ajaxshoutbox_message {
		flex-basis: 75%;
	}

	.main-menu-lewa-prawa {
		flex-wrap: wrap;
	}

	.search .postprofile,
	.search .postbody,
	.topicreview .postbody,
	.mcp-main .postbody {
		width: 100%;
	}

	.search .postprofile {
		display: flex;
	}
	
	/* unika wyjeżdżania poza vw */
	#smiley-box-all {
		width: auto;
	}

	.message-box,
	#muzycy-box {
		width: auto;
	}
	
	.brutalform {
		padding-top: 0px;
	}

}

@media not all and (hover: hover) and (pointer: fine) {
	.post-buttons #post-buttons-row-2 {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
	
	.phantom-label {
		/* opacity: 1; */
	}
}