/* responsive taken from _se\stylesheet.css */


@media (min-width: 701px) {

	dd.posts,
	dd.topics,
	dd.views,
	dd.extra,
	dd.mark,
	.flex-2centered {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

}

@media (max-width: 1280px) {

	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom,
	#m-ksywa .main-menu-bottom {
		right: 0px;
	}

}

@media (max-width: 700px) {

	/* responsive.css */

	.headerbar, .forabg, .forumbg, .post, .panel {
		margin-left: 0;
		margin-right: 0;
	}

	.navbar {
		margin: auto;
	}

	.topicreview {
		margin: 0;
	}

	li.header dt {
		text-align: left;
		text-transform: uppercase;
	}

	.inputbox:not(.autowidth) {
		max-width: 100%;
	}

	/* table responsive */

	table.responsive tr {
		padding: 5px 0;
	}

	table.table1.responsive td dfn {
		color: #888;
		font-weight: bold;
		font-style: normal;
	}

	table.table1.responsive td strong {
		color: #fff;
	}

	/* END responsive.css */

	/* table not-responsive wyświetlanie */

	table .rank-img {
		display: none;
	}

	.flex-box {
		flex-basis: 100%;
	}

	.submit-buttons .flex-columns,
	#postingbox .flex-columns,
	.flex-columns-big {
		flex-direction: column;
	}

	.flex-columns {
		margin-bottom: 25px;
	}

	#postingbox .column-left,
	#postingbox .column-right,
	#register .column-left,
	#register .column-right,
	#reset_password .column-left,
	#reset_password .column-right,
	#resend .column-left,
	#resend .column-right,
	#login .column-left,
	#login .column-right {
		flex-basis: 100%;
		align-items: center;
		text-align: center;
	}

	/* column-left column-right mobile change */

	.settings-panel .flex-columns:not(.with-checkbox):not(.with-radio) .column-left {
		flex-basis: 100%;
		align-items: flex-start;
		text-align: left;
	}

	.settings-panel .flex-columns:not(.with-checkbox):not(.with-radio) .column-right {
		flex-basis: 100%;
		align-items: center;
		text-align: center;
	}

	/* column-left column-right mobile change */

	.column-right,
	.column-right-big {
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.flex-columns select {
		max-width: 90vw;
	}

	.lastpost.responsive-show span {
		display: flex;
		white-space: nowrap;
	}

	.m-list-right {
		padding-right: 0;
		width: 91px;
		max-width: 91px;
	}

	.m-list-left {
		width: calc(100% - 91px);
		padding-left: 0;
	}

	#m-notify .m-list-right {
		width: 66px;
	}

	.m-list-left.notification_text {
		width: calc(100% - 66px);
		max-width: calc(100% - 66px);
	}

	.top-with-settings div {
		top: -20px;
		right: 10px;
	}	

	table.table1#notification-settings-table .mark {
		white-space: nowrap;
	}

	#titleID {
		padding: 0 5px 0 5px;
	}

	.pagination .menu-all {
		right: 0;
	}

	.memberlist.table1 .info {
		display: none;
	}

	/* wyświetlanie post-buttons dla mcp_post */

	.postbody.mcp-post-postbody {
		position: relative;
	}

	.postbody.mcp-post-postbody .post-buttons {
		top: -1.618em;
	}

	span.author-mobile.responsive-show,
	span.author-postnumber-mobile.responsive-show {
		display: inline !important;
	}

	.post .postprofile {
		padding: 0;
		margin: 0;
		min-height: 32px;
	}

	.postprofile p.post-number {
		clear: none;
	}

	.postprofile dd.profile-rank {
		display: none;
	}

	.has-profile .post-buttons,
	.post-buttons {
		right: 8px;
		top: 5px;
	}

	.main-menu-item .main-menu-top .fa-history {
		padding: 0;
	}

	div.content {
		margin: 0;
	}

	.postbody p.post-number,
	.topiclist li:not(.header) .lastpost {
		display: none;
	}

	.lastpost.responsive-show {
		float: right;
		margin: 2px 0;
	}

	.lastpost .fa-fast-forward {
		padding-left: 5px;
	}

	.post:not(.search) dl.postprofile {
		padding-left:3px;
	}

	.postbody {
		width: auto;
	}

	.action-bar .column-left,
	.action-bar .column-right {
		flex-basis: 100%;
	}

	/* mobile width fix */

	.message-box textarea {
		width: 100%;
	}

	.inputbox {
		margin: auto;
	}

	/* END mobile width fix */

	#agreement.brutalform input {
		width: 100%;
	}

	.to-searched-post {
		padding: 0;
	}

	.postprofile .search-result-date {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 550px) {

	#m-name .main-menu-bottom,
	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom {
		left: 0;
	}

	#m-name {
		position: inherit;
	}

	#m-name .main-menu-bottom{
		width: 100%;
	}

	#m-name .main-menu-bottom,
	#m-feed .main-menu-bottom,
	#m-notify .main-menu-bottom {
		right: 0;
	}

}

@media only screen and (max-width: 700px) {

	.phpbb_alert {
		top: 100px;
	}

}

@media (max-height: 800px) {

	.main-menu-item .main-menu-bottom{
		max-height: 80vh;
	}

}

@media only screen and (max-width: 900px) {
	/* cp.css */

	.navigation {
		max-width: 100%;
	}

	.nojs .tabs a span, .nojs .minitabs a span {
		letter-spacing: normal;
	}

	/* END cp.css */
}

@media only screen and (max-width: 920px) {

	.wrap{
		padding: 15px 0;
	}

}

@media only screen and (max-width: 860px) {

	.wrap {
		margin: auto;
		padding: 0 0 15px 0;
	}

	#main-menu #main-menu-title {
		order: 3;
		width: auto;
		margin-left: 45px;
	}

	#main-menu #search {
		order: 1;
		position: absolute;
		z-index: 1001;
		/*background: blueviolet;*/
		background: black;
		/*width: 100%;*/
	}

	#main-menu #search .main-menu-top {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	#main-menu #search #search-box-icon {
		order: 1;
		padding-left: 11px;
		padding-right: 11px;
		z-index: 1001;
	}

	#main-menu #search .search-box-hide {
		order: 2;
		z-index: 1001;
	}

	#main-menu #search #search-box-keywords {
		order: 3;
		position: absolute;
		z-index: 1000;
		margin-left: 45px;
	}

	#main-menu #main-menu-middle { order: 3; }
	#main-menu #m-pagination { order: 4; }
	#main-menu #main-menu-right { order: 2; }
	#main-menu #main-menu-right #m-notify { order: 6; }
	#main-menu #main-menu-right #m-tagi { order: 5; }

	#page-header {
		display: none;
	}

	#thegate {
		margin: 0;
	}

	#thegate a {
		padding: 0;
	}

	#top-site-menu {
		position: sticky;
		padding: 5px 5px 0 5px;
		box-sizing: border-box;
	}

	.main-menu-item .main-menu-top a,
	.main-menu-item .main-menu-top #search {
		padding-left: 10px;
		padding-right: 10px;
	}

	#main-menu .main-menu-item .main-menu-bottom {
		max-height: 66vh;
	}

	#m-home,
	#m-name,
	#m-pagination,
	#main-menu #search,
	#main-menu #m-search-box .main-menu-top {
		height: auto;
	}

	.main-menu-top-title,
	.main-menu-item .main-menu-top a {
		height: 45px;
	}

	#m-feed-topics #m-feed-topics-unread {
		padding-right: 5px;
	}

	/* zmienny układ #main-menu-right zależnie czy użytkownik zalogowany czy nie */

	#main-menu-right {
		width: calc(100% - 55px);
		justify-content: space-between !important;
	}

	.menu-registered-user #main-menu-right {
		width: calc(100% - 16.67%);
	}

	.menu-unregistered-user #main-menu-right {
		width: calc(100% - 25%);
	}

	.main-menu-row {
		flex-wrap: wrap;
	}

	.search .postprofile,
	.search .postbody,
	.topicreview .postbody,
	.mcp-main .postbody {
		width: 100%;
	}

	.search .postprofile {
		display: flex;
	}

	/* unika wyjeżdżania poza vw przy rozwijaniu menu w posting buttons */

	.abbc3_buttons_row .menu-all,
	#info-box-all {
		margin: auto !important; /* nadpisuje margin obliczany przez javascript */
		width: auto !important; /* nadpisuje wartości #smiley-box-all */
		left: 1em;
		right: 1em;
	}

	.message-box,
	#muzycy-box {
		width: auto;
	}

	.brutalform {
		padding-top: 0px;
	}

}

@media not all and (hover: hover) and (pointer: fine) {

	.post-buttons #post-buttons-row-2 {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

}