/* BACKGROUNDS */

html,
body,
.wrap,
.phpbb_alert,
.darken,
.color_palette_placeholder {
	background-color: black;
}

.wrap,
.phpbb_alert {
	background-image: URL("./images/probka.webp");
	background-size: 1295px 1077px;
}

.wrap {
	background-position: 0px 20px;
}

.phpbb_alert {
	background-position: calc(50% + 56.5px) -139px;
}

#top-site-menu {
	background: linear-gradient(to top, transparent 0%, #000 20%);
}

#page-header {
	background: URL("./images/logo.webp");
	background-position: 0 22px;
	background-size: 595px 270px;
	background-repeat: no-repeat;
}

.main-menu-bottom {
	background-color: black;
	background-image: URL("./images/death_of.webp");
	background-size: 550px 690px;
}

/* UCP NAVIGATION TOP MENU */

.tab > a {
	background-color: rgba(0, 0, 0, 0.2);
}

.tab > a:hover {
	background: linear-gradient(to bottom, transparent 0%, rgba(50, 214, 53, 0.15) 70%);
}

.activetab > a,
.activetab > a:hover,
.tab > a:focus {
	background: linear-gradient(to bottom, transparent 0%, rgba(37, 126, 222, 0.25) 70%);
}

.navigation .tab > a:hover {
	background: linear-gradient(to top, transparent 0%, rgba(50, 214, 53, 0.15) 70%);
}

.navigation .activetab > a,
.navigation .activetab > a:hover,
.navigation .tab > a:focus {
	background: linear-gradient(to top, transparent 0%, rgba(37, 126, 222, 0.25) 70%);
}

.navigation ul {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.45) 70%);
}

/* end of UCP NAVIGATION TOP MENU */

.labeled-icon-text strong {
	background: rgba(0, 0, 0, 0.1);
}

.topic-reply-counter {
	background: rgba(0, 0, 0, 0.4);
}

select,
input,
table.table1 tbody tr,
#mm-title .panel.bg3,
li.row,
li.row.bg3,
li.row:hover,
li.row.bg3:hover {
	background: transparent;
}

.pagination li.active span {
	background: linear-gradient(to bottom, #257EDE, #000000);
}

select:not([multiple="multiple"]) option {
	background-color: rgba(0, 0, 0, 1);
}

div.rules {
	background-color: rgba(0, 0, 0, 0.6);
}

.posthilit {
	background-color: rgba(238, 0, 0, 0.25);
}

table.table1 tbody tr.bg1:hover {
	background-color: rgba(238, 0, 0, 0.1);
}

table.table1 tbody tr.bg2:hover {
	background-color: rgba(50, 214, 53, 0.1);
}

.message-box textarea,
.message-box textarea:hover,
.message-box textarea:focus {
	background-color: rgba(0, 0, 0, 0.75);
}

.postingbox-bottom .shadow-explanation {
	background-color: rgba(0, 0, 0, 0.9);
}

.panel.bg1,
.panel.bg2,
.panel.bg3,
.inputbox,
.inputbox.search:not(#search-box-keywords) {
	background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.45) 70%);
}

.inputbox:hover {
	background: linear-gradient(transparent 0%, rgba(50, 214, 53, 0.05) 70%);
}

.inputbox:focus {
	background: linear-gradient(transparent 0%, rgba(37, 126, 222, 0.05) 70%);
}

.button,
.button1 {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.45) 70%) !important;
}

.button:hover,
.button1:hover,
.button2:hover {
	background: linear-gradient(to top, transparent 0%, rgba(50, 214, 53, 0.05) 70%) !important;
}

.button:focus,
.button1:focus,
.button2:focus {
	background: linear-gradient(to top, transparent 0%, rgba(37, 126, 222, 0.05) 70%) !important;
}

.rozwijany-box-all,
.switcheroo-menu-all {
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.75) 50%);
}

blockquote,
.codebox {
	background-color: rgba(238, 0, 0, 0.1);
	/* background-color: rgba(102, 102, 102, 0.2); */
}

/* Nested quotes */

blockquote blockquote {
	background-color: rgba(0, 0, 0, 0.2)
}

.bg1,
table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	background-color:rgba(0, 0, 0, 0.7);
}

.bg2,
table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	background-color:rgba(0, 0, 0, 0.4);
}

table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover {
	background-color:rgba(238, 0, 0, 0.1);
}

table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover {
	background-color: rgba(50, 214, 53, 0.1);
}

.member-search {
	background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.75) 100%);
}

#thegate {
	background: URL('./images/gateway.svg');
	background-size: 45px 45px;
}

#sigil {
	background: URL('./images/gateway.svg');
	background-size: 60px 60px;
}

/* Icon images
---------------------------------------- */

/*.contact-icon						{ background-image: url("./images/icons_contact.png"); }*/

/* Profile & navigation icons */
/*.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }*/

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.svg"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.svg"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.svg"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.svg"); }
.global_unread						{ background-image: url("./images/announce_unread.svg"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.svg"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.svg"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.svg"); }

.announce_read						{ background-image: url("./images/announce_read.svg"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.svg"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.svg"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.svg"); }
.announce_unread					{ background-image: url("./images/announce_unread.svg"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.svg"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.svg"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.svg"); }

.forum_link							{ background-image: url("./images/forum_link.svg"); }
.forum_read							{ background-image: url("./images/forum_read.webp"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.svg"); }
.forum_read_subforum				{ background-image: url("./images/forum_read.webp"); }
.forum_unread						{ background-image: url("./images/forum_unread.webp"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.svg"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread.webp"); }

.sticky_read						{ background-image: url("./images/sticky_read.svg"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.svg"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.svg"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.svg"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.svg"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.svg"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.svg"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.svg"); }

.topic_moved						{ background-image: url("./images/topic_moved.svg"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.svg"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.svg"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.svg"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.svg"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.svg"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.svg"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.svg"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.svg"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.svg"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.svg"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.svg"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.svg"); }

.loading							{ background-image: url("./images/loading.gif"); }

/* jQuery popups
---------------------------------------- */

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

/* end of BACKGROUNDS */

/* COLORS */

html,
body,
a,
.info-paragraph strong,
fieldset span strong,
fieldset.polls dl.voted,
.fa-search,
#mm-pagination a,
#mm-user .fa-user-circle-o,
.m-row2:not(:hover, :focus) .notifications_reason em,
h2,
h3,
.post:target h3 a,
.postprofile .fa-comment-o,
.inputbox,
.tab.activetab > a,
.tab > a:focus,
div.content,
#postingbox.panel,
li.row strong,
li.row:hover,
table.table1 tbody tr.bg3 td,
table.table1 tr:hover td,
.abbc3_button,
a.username {
	color: white;
}

/*
.flex-columns:hover > .column-right,
.flex-columns:hover > .column-left span {
	color: #999;
}

.flex-columns:hover > .column-right * {
	color: white;
}
*/

.post:target .content {
	color: #eee;
}

/* placeholder colors */

*:not(.search)::placeholder {
	color:#444;
	transition: all .35s linear;
}

/* znikanie placeholdera po focusie na input, textarea etc */

*:focus::placeholder {
	/* color: red !important; */
	color: transparent;
	text-shadow: none;
	transition: all .25s linear;
}

.copyright a,
.fa-user-circle-o {
	color: #444;
}

.spoilcontent {
	border-top: 1px solid #444;
}

div select,
fieldset span,
table.table1 td,
a.attachment-filename span,
th.name h3,
ul.topiclist li,
#mm-topics .main-menu-bottom,
p.post-notice,
p.author,
.postprofile,
.postbody .notice,
.postbody .ignore,
.signature,
.form-box span,
.register-text span,
#login span,
#reset_password span,
#resend span,
#login a,
#reset_password a,
#resend a,
.tab > a,
dl.faq dt,
.flex-columns-container-left dd,
dl.details dd,
dd label,
.column-right label {
	color: #666;
}

/* Information about attachment and disabled input */

dl.file dd,
input.disabled {
	color: #666666;
}

/* Disabled option */

option.disabled-option {
	color: graytext;
}

#back-to-forum a,
#mm-title span,
.info-paragraph,
.spoilbtn,
blockquote cite,
blockquote.uncited::before {
	color: #777;
}

.m-list-right,
.recipients .fa-times,
.muzycy_zespoly {
	color: #888;
}

.m-row1 .notifications_reference,
.m-row1 .notifications_reason {
	color: #999;
}

.notifications_time {
	color: #aaa;
}

.button,
.pagination li a,
a.button1,
a.button2,
input.button1,
input.button2 {
	color: #b7b7b7;
}

.unreadpost .post-number a,
.m-row2 .notifications_reference,
.m-row2 .notifications_reason,
.topic-reply-counter.unread,
#mm-last-posts a.topictitle.unread,
#mm-last-posts a.topic-forumtitle.unread {
	color: #ee0000;
}

.button:hover,
a.button1:hover,
a.button2:hover,
input.button1:hover,
input.button2:hover,
a:hover,
a.username-coloured:hover,
.unreadpost .post-number a:hover,
.tab > a:hover,
.lastpost:hover a.lastsubject,
.lastpost:hover .fa-fast-forward,
.m-list .flex:hover a.topictitle,
.m-list .flex:hover a.topic-forumtitle,
li.row:hover a.forumtitle,
li.row:hover a.topictitle,
li.row:hover .topic-reply-counter.unread,
a.forumtitle:hover,
.m-row1:hover .notifications_reference,
.m-row1:hover .notifications_reason,
.m-row1:hover .notifications_title,
.m-row2:hover .notifications_reference,
.m-row2:hover .notifications_reason,
.m-row2:hover .notifications_title,
.fa-search:hover,
#search-box-hide:hover,
.posthilit,
.inputbox:not(#message, #signature, #poll_option_text, #notepad, #mchat-input):hover,
#refresh-band-info-icon:hover,
.postprofile strong,
.postprofile .fa-comment-o:hover,
.online .fa-circle,
fieldset dl:hover dt label,
.flex-columns:hover > .column-left label {
	color: #32D635 !important;
}

/* Change a border color on hover */

li:not(.header) .lastpost:hover {
	border-color: #32D635 !important;
}

.m-list-left:hover {
	border-color: #32D635;
}

.lastpost,
li:not(.header) .lastpost:hover,
.m-list-left,
.m-list-left:hover {
	transition: border-color 0.75s ease-out 0.1s;
}

.content h2,
.panel h2,
.panel-container .panel li.header dd,
.panel-container .panel li.header dt,
table.table1 thead th,
.button:focus,
span.button:focus,
a.button1:focus,
a.button2:focus,
input.button1:focus,
input.button2:focus,
a:focus,
a.username-coloured:focus,
.unreadpost .post-number a:focus,
.lastpost a:focus .fa-fast-forward,
.postlink,
#mm-tags a:focus,
#mm-last-posts a:focus,
#main-menu-left a:focus,
#mm-title a:focus,
#mm-pagination a:focus,
#main-menu-right a:focus,
.fa-search:focus,
#search-box-hide:focus,
.inputbox:not(#message, #signature, #poll_option_text, #notepad, #mchat-input):focus,
.lastpost:focus a.lastsubject,
.lastpost:focus .fa-fast-forward {
	color:#257EDE !important;
}

/* Subforums */

.subforum.unread {
	border-color: rgba(238, 0, 0, 0.3);
}

.subforum.unread:hover {
	border-color: rgba(50, 214, 53, 0.3);
}

.subforum.unread:focus {
	border-color: rgba(37, 126, 222, 0.3);
}

/* Special PM folders or groups as select option */

.sep {
	color: #1198D9;
}

/* Error and poster profile block
---------------------------------------- */

.error,
dd.profile-warnings {
	color: #BC2A4D;
}

/* Code block */

.codebox p {
	border-bottom-color: #333;
}

.codebox code {
	color: #2E8B57;
}

/* Icon styles (from prosilver - greyscale colors inverted)
---------------------------------------- */

.icon.icon-blue, a:hover .icon.icon-blue {
	color: #196db5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #BC2A4D;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	/* color: #777777; */
	color: #888888;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	/* color: #999999; */
	color: #666666;
}

.icon.icon-black, a:hover .icon.icon-black {
	/* color: #333333; */
	color: #CCCCCC;
}

/* BBCode - t */

.tytulySD {
	color: #008000;
}

/* Kolory wydawnictw w dyskografii */

.wydawnictwo_lp {
	color: #BF0000;
}

.wydawnictwo_demo {
	color: #888;
}

.wydawnictwo_other {
	color: #666;
}

.wydawnictwo_norm {
	color: white;
}

/* Color palette icon */

#color-palette i {
	color: #800000;
}

/* search-box & pagination placeholder colors */

.search-box ::placeholder,
.pagination ::placeholder {
	color: #bb0000;
}

.search-box input:hover::placeholder,
.pagination input:hover::placeholder {
	color: #32D635;
}

.search-box input:focus::placeholder,
.pagination input:focus::placeholder {
	color: #257EDE;
}

/* END COLORS */

/* BOX-SHADOWS */

.wrap {
	border-color: #fff;
	box-shadow: 0 0 5px 2px #9D9A93, inset 0 3px 18px rgba(157, 154, 147, .25);
}

/* UCP TOP MENU NAVI */

.tab > a:hover {
	box-shadow: 0 1px 1px -1px #32D635;
}

.activetab > a,
.activetab > a:hover,
.tab > a:focus {
	box-shadow: 0 1px 1px -1px #257EDE;
}

.navigation .tab > a:hover {
	box-shadow: 0 -1px 1px -1px #32D635;
}

.navigation .activetab > a,
.navigation .activetab > a:hover,
.navigation .tab > a:focus {
	box-shadow: 0 -1px 1px -1px #257EDE;
}

.navigation ul {
	box-shadow: 0 -1px 1px -1px #ee0000;
}

/* end of UCP TOP MENU NAVI */

.main-menu-bottom {
	box-shadow: 0 0 110px 1px #000, inset 0 2px 9px rgba(0, 0, 0, .35);
}

.m-row1:hover {
	box-shadow: inset 0 4px 9px rgba(238, 0, 0, .15);
}

.m-row2:hover {
	box-shadow: inset 0 4px 9px rgba(50, 214, 53, .15);
}

#mm-title .panel.bg3,
li.row.bg1,
li.row.bg2 {
	box-shadow: none;
}

.pagination li.active span {
	box-shadow: 0 0 2px #257EDE;
}

a img.postimage:hover {
	box-shadow: 0 0 5px 2px #32D635, inset 0 2px 9px rgba(50, 214, 53, .25);
}

/* Searched phrase */

.posthilit {
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.inputbox {
	box-shadow: 0 1px 1px -1px #ee0000;
	transition: box-shadow 0.5s ease-in-out;
}

.inputbox:hover {
	box-shadow: 0 1px 1px -1px #32D635;
	transition: box-shadow 0.5s ease-in-out;
}

.inputbox:focus {
	box-shadow: 0 1px 1px -1px #257EDE;
	transition: box-shadow 0.5s ease-in-out;
}

#posting-drafts-buttons .button2 {
	transition: box-shadow 0.75s ease-out;
}

/* Shadows of button, button1 and button2 classes */

.button,
.button1 {
	box-shadow: 0 -1px 1px -1px #ee0000 !important;
}

.button:hover,
.button1:hover,
.button2:hover {
	box-shadow: 0 -1px 1px -1px #32D635 !important;
}

.button:focus,
.button1:focus,
.button2:focus {
	box-shadow: 0 -1px 1px -1px #257EDE !important;
}

/* Shadows of bg1, bg2 and bg3 classes of panel class */

.panel.bg1,
.panel.bg1:hover {
	box-shadow: 0 1px 1px -1px #ee0000;
}

.panel.bg2,
.panel.bg2:hover {
	box-shadow: 0 1px 1px -1px #32D635;
}

.panel.bg3,
.panel.bg3:hover {
	box-shadow: 0 1px 1px -1px #257EDE;
}

.rozwijany-box-all,
.switcheroo-menu-all {
	box-shadow: 0 -1px 1px -1px #ee0000;
}

blockquote,
.codebox {
	box-shadow: 0 1px 1px -1px rgba(238, 0, 0, .6), inset 0 4px 9px rgba(100, 100, 100, .25);
}

.panel-container:not(.cp-main) .panel li.row.bg1 {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .1);
}

.panel-container:not(.cp-main) .panel li.row.bg2 {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.bg1,
table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .1);
}

.bg2,
table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
}

.bg1:hover,
table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover {
	box-shadow:0 1px 1px -1px #ee0000, inset 0 4px 9px rgba(238, 0, 0, .15);
}

.bg2:hover,
table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover {
	box-shadow:0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .15);
}

/* Post poll styles
----------------------------------------*/

/* Poll options (not voted for) */

fieldset.polls dl {
	color: #666666;
}

/* Number of votes on poll result bar */

fieldset.polls dd div {
	color: #eee;
}

/* Poll results from lowest to highest percent */

.pollbar1 { background-color: rgba(238, 0, 0, 0.4); }
.pollbar2 { background-color: rgba(238, 0, 0, 0.5); }
.pollbar3 { background-color: rgba(238, 0, 0, 0.6); }
.pollbar4 { background-color: rgba(238, 0, 0, 0.7); }
.pollbar5 { background-color: rgba(238, 0, 0, 0.8); }

/* Dropdowns */

.dropdown .dropdown-contents {
	background-color: rgba(0, 0, 0, 0.85);
	border: 1px solid rgba(50, 214, 53, .2);
	box-shadow: 0 1px 1px -1px #32D635, inset 0 4px 9px rgba(50, 214, 53, .1);
	border-radius: 7px;
}

.dropdown .dropdown-contents::-webkit-scrollbar-thumb {
	background-color: rgba(50, 214, 53, .2);
	border-radius: 7px;
}

.dropdown li.separator {
	border-color: #444;
}