/* OPACITY */

.lastpost .fa-fast-forward,
.phantom-label,
.post-buttons .post-buttons-row-2,
.shadow-label {
	opacity: 0;
}

.search-user .fa-search,
.post-buttons,
.copyright {
	opacity: 0.15;
}

#mm-title .labeled-icon .fa {
	opacity: 0.25;
}

.nav-footer,
.to-searched-post {
	opacity: 0.3;
}

.labeled-icon-button .fa,
.post-number,
#mm-user .main-menu-bottom .fa {
	opacity: 0.4;
}

.main-menu-top,
#mm-pagination .pagination,
.topic-forumtitle,
.post-buttons .post-buttons-row-1:hover ~ .post-buttons-row-2,
.post-buttons .post-buttons-row-2:hover,
#page-header,
ul.button,
.pagination {
	opacity: 0.5;
}

.pagination li.active span,
#mm-notifications .m-list-left-bottom,
.cp-main .notifications_time,
.main-menu-top .labeled-icon .fa,
.unreadpost .post-number,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.recipients .fa-times,
.darken {
	opacity: 0.6;
}

.topic-reply-counter.unread,
#search-box-hide .fa,
.postingbox-bottom .fa-refresh,
.mark_read,
.copyright:hover {
	opacity: 0.7;
}

.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.postingbox-bottom .fa-refresh:hover,
.recipients .fa-times:hover {
	opacity: 0.9;
}

li.row:hover .topic-reply-counter.unread,
#mm-title.with-main-menu-bottom .main-menu-top,
#last-posts-icon .fa,
#mm-log-in .fa,
.main-menu-item:hover .main-menu-top,
#mm-pagination:hover .pagination,
.pagination:hover,
#search-box-hide:hover .fa,
.lastpost:hover .fa-fast-forward,
.flex-columns:hover .phantom-label,
.search-user .fa-search:hover,
.post:hover .to-searched-post,
.post-number:hover,
#mm-user .main-menu-bottom a:hover .fa,
.form-box:focus ~ .shadow-label,
.form-box .inputbox:focus ~ .shadow-label,
.form-box select:hover ~ .shadow-label,
.form-box select:focus ~ .shadow-label,
.registration-timezone:hover ~ .shadow-label,
.registration-timezone:focus ~ .shadow-label,
.nav-footer:hover,
.contact-box-all .labeled-icon-button:hover .fa {
	opacity: 1;
}

.shadow-explanation {
	opacity: 0;
}

.form-box:hover .shadow-explanation,
.form-box .inputbox:hover ~ .shadow-explanation,
.form-box .inputbox:focus ~ .shadow-explanation {
	opacity: 1;
	/*padding-bottom: 15px;*/
	z-index: 3;
}

#mm-search ::placeholder,
.pagination ::placeholder {
	opacity: 1;
}

/* TRANSITIONS */

.main-menu-top,
#search-box-hide .fa,
.lastpost .fa-fast-forward,
.phantom-label,
.search-user .fa-search,
.pagination,
.post:hover .to-searched-post,
.post-number:hover,
.post-buttons:hover,
.mark_read:hover,
li.row .fa-question:hover,
li.row .fa-flag:hover,
li.row .fa-recycle:hover,
li.row .fa-bar-chart:hover,
li.row .fa-paperclip:hover,
li.row .fa-tags:hover,
.postingbox-bottom .fa-refresh:hover,
.recipients .fa-times:hover,
#mm-user .main-menu-bottom .fa,
#mm-user .main-menu-bottom a:hover .fa,
.contact-box-all .labeled-icon-button .fa,
.contact-box-all .labeled-icon-button:hover .fa {
	transition: opacity 0.75s ease-out 0.1s;
}

.post-number,
.post-buttons,
.post-buttons .post-buttons-row-1:hover ~ .post-buttons-row-2,
.post-buttons .post-buttons-row-2:hover,
.mark_read,
li.row .fa-question,
li.row .fa-flag,
li.row .fa-recycle,
li.row .fa-bar-chart,
li.row .fa-paperclip,
li.row .fa-tags,
.postingbox-bottom .fa-refresh,
.recipients .fa-times {
	transition: opacity 0.75s ease-out 666666s;
}

.to-searched-post,
.shadow-label,
.shadow-explanation {
	transition: opacity 0.75s ease-in-out 0.35s;
}

.form-box:hover .shadow-explanation,
.form-box:focus ~ .shadow-label,
.form-box .inputbox:focus ~ .shadow-label,
.form-box .inputbox:hover ~ .shadow-explanation,
.form-box .inputbox:focus ~ .shadow-explanation,
.form-box select:hover ~ .shadow-label,
.form-box select:focus ~ .shadow-label,
.registration-timezone:hover ~ .shadow-label,
.registration-timezone:focus ~ .shadow-label {
	transition: opacity 0.25s ease-in-out 0.15s;
}

.nav-footer {
	transition: opacity 1.6s ease-out;
}

.copyright {
	transition: opacity 1.25s ease-out;
}