body {
	padding: 0 0 12px 0;
}

.wrap {
	margin: -11px auto auto auto;
	border: 2px solid transparent;
	border-radius: 15px;
}

#page-header {
	min-height: 280px;
}

.page-body {
	margin: 0;
	padding-top: 1px;
}

/* Menu title ellipsis */

#main-menu {
	position: relative;
}

#main-menu-middle {
	overflow: hidden;
}

#mm-title {
	overflow: hidden;
	text-overflow: ellipsis;
}

#mm-title,
#mm-title .main-menu-top,
#mm-title h1 {
	width: 100%;
}

#titleID {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 45px;
	box-sizing: border-box;
}

/* end of Menu title ellipsis */

/* przesunięcie względem relative (#main-menu) to szerokość mm-home + padding titleID (71 + 13) - margines 17.5px */

#mm-title .main-menu-bottom {
	left: 66.5px;
	width: 400px;
	max-width: 100%;
}

.subforum,
a.lastsubject {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	margin-bottom: 3px;
}

.subforum {
	border-bottom: 1px solid transparent;
}

/* *********************************************************************************************************************************** */
/* OVERRIDING STYLE FILES FROM PROSILVER */

/* override prosilver\common.css */

@media (min-width: 701px) {
	.postprofile dd, .postprofile dt {
		/*margin-left: 0;*/
		/*padding-left: 8px;*/
	}

	.postprofile .has-avatar .avatar-container {
		margin-bottom: 5px;
	}
}

@media (min-width: 701px) and (max-width: 950px) {
	ul.topiclist dt,
	li.header dt {
		margin-right: -330px;
	}

	ul.topiclist dt .list-inner {
		margin-right: 330px;
	}
}

@media (min-width: 951px) {
	ul.topiclist dt,
	li.header dt {
		margin-right: -345px;
	}

	ul.topiclist dt .list-inner {
		margin-right: 345px;
	}
}

/* END common.css */

/* override prosilver\content.css */

ul.topiclist li.row dl {
	margin: 0;
	padding: 2px 0;
}

ul.topiclist dd {
	padding: 0;
}

ul.topiclist li.row dd {
	padding: 0;
	margin-bottom: 0;
}

li.header dt, li.header dd {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 4px;
}

ul.topiclist li.row dt .subforum {
	padding: 0;
}

.vertical-separator {
	padding: 0 5px;
}

li.row {
	border-top: none;
	border-bottom: none;
}

li.header dl.row-item dt .list-inner {
	padding-left: 45px;
	padding-right: 5px;
}

.row .list-inner {
	padding: 0;
}

dl.row-item {
	background-size: 25px;
}

dl.row-item dt .list-inner {
	padding-left: 45px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 41px;
}

dl.row-item:not(.forum_read, .forum_unread, .forum_read_subforum, .forum_unread_subforum) {
	background-position: 5px 50%;
	background-size: 32px;
}

dl.row-item dt .pagination a {
	display: block;
}

dl.row-item dt .lastpost a {
	display: flex;
}

dl a.row-item-link {
	display: none !important;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	text-align: center;
}

dd.lastpost > span, ul.topiclist dd.info > span, ul.topiclist dd.time > span, dd.redirect > span, dd.moderation > span {
	padding-left: 0;
}

/* menu w grupy\zarządzanie grupami */

dd.option {
	width: unset;
}

.postbody h3 {
	float: none;
	font-weight: normal;
}

.content h2, .panel h2 {
	border-bottom: none;
}

/* search_body input with number of shown characters */

#ch {
	border: none;
	align-self: flex-start;
}

blockquote {
	border: none;
}

blockquote cite > div {
	font-weight: bold;
}

.attachbox {
	margin: 0;
	padding: 3px;
	border: none;
}

.attachbox dd {
	border-top: 1px dashed #666;
}

fieldset.polls dl {
	margin-top: 0;
	border-top: none;
}

.attachment-filename {
	text-align: right;
}

/* END content.css */

/* override prosilver\buttons.css */

.button {
	line-height: normal;
}

/* Display post-buttons in absolute position */

.post-buttons {
	float: none;
	position: absolute;
	margin: 0;
	right: 0;
}

.hastouch .post-buttons {
	margin-right: 0px;
}

/* END buttons.css */

/* override prosilver\cp.css */

.cp-main {
	float: none;
	width: 100%;
}

.panel-container .panel li.row,
ul.cplist {
	border-bottom: none;
	border-top: none;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	margin-bottom: 4px;
}

.tabs .tab, .navigation .tab, .minitabs .tab {
	display: inline-flex;
	float: none;
	font-weight: bold;
	line-height: 1.4em;
}

.tabs {
	margin: 0;
}

.tabs .tab > a {
	border: none;
	margin: 0;
}

.tabs .tab > a,
.minitabs .tab > a {
	border-radius: 3px;
}

.tabs .activetab > a {
	padding-bottom: 5px;
}

.minitabs {
	float: none;
	margin: 0;
	max-width: 100%;
}

.minitabs .tab {
	float: right;
}

.navigation {
	padding-top: 0;
}

.navigation li {
	margin: 0;
}

.navigation a {
	margin: 0;
}

.cp-main h2 {
	padding-bottom: 0.5em;
	margin-left: 0;
}

/* END cp.css */

/* override prosilver\form.css */

select {
	/*vertical-align: baseline;*/
}

label {
	padding-right: 0;
}

dd input, dd textarea {
	margin-right: 0;
}

.timezone {
	width: fit-content;
}

input,
fieldset.submit-buttons input {
	padding: 1px 6px;
}

.smiley-box {
	width: 30px;
	float: none;
	margin-top: 0;
}

.smiley-box img {
	margin: 0;
}

input.inputbox,
textarea.inputbox {
	width: 100%;
}

input[type="number"] {
	-moz-padding-end: inherit;
}

fieldset.display-actions {
	padding: 1em;
}

fieldset.forum-selection {
	margin: 5px 0 5px 0;
	float: none;
	text-align: center;
}

a.button1, input.button1, a.button2, input.button2 {
	line-height: normal;
}

.search-box {
	float: none;
}

.search-box .inputbox {
	border-radius: 3px;
	float: none;
	padding: 2px;
}

input.search {
	padding-left: revert;
}

/* END form.css */

/* end of OVERRIDING STYLE FILES FROM PROSILVER */
/* *********************************************************************************************************************************** */

/* Resize only vertical, not horizontal */

textarea {
	resize: vertical;
}

label input[type="radio"]:not([name="sf"]) {
	margin-left: 10px;
}

label:nth-child(1) input[type="radio"] {
	margin-left: 0;
}

/* Control panel menus */

.tab > a {
	padding: 5px 9px;
	white-space: nowrap;
}

.tabs,
.navigation {
	display: flex;
	justify-content: center;
	text-align: center;
}

.navigation ul {
	margin-top: 1px;
	margin-bottom: 25px;
}

.navigation > ul:after {
	clear: both;
	content: '';
	display: block;
}

/* sub-panels in posting not obfuscated by shadow-explanation */

.tabs.sub-panels {
	/*padding-top: 2.5em;*/
}

select { 
	width: fit-content;
	padding: 0;
}

/* center friend / foe list */

select#usernames {
	margin: auto;
}

/* Forum name link at the bottom of viewtopic_body */

#back-to-forum {
	margin: 0;
	padding-bottom: 0;
}

/* Hide sort-tools i przyległego mu checkboxa */

.sort-tools,
.sort-tools-checkbox {
	display: none;
}

/* Hide jumpbox */

.jumpbox {
	display: none;
}

/* Hide other elements */

p.jumpbox-return,
h3.first,
.topicreview .postbody h3,
.profile-posts,
.profile-joined,
#quickeditbox fieldset dl,
#postingbox.panel h3,
.record-users,
.logo {
	display: none;
}

/* Flex boxes */

.flex-box-container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.flex-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
	max-width: 90vw;
}

.postprofile .flex-box {
	justify-content: center;
}

/* Some (flex-boxes) need to be justified accordingly */

.justify-content-center {
	justify-content: center;
}

/* Memberlist search */

/* dropdown containing search by user input in memberlist_search */

#search_memberlist .dropdown-container,
#memberlist_search .dropdown-container {
	width: 100%;
}

/* List of users on autocomplete list in memberlist search */

.dropdown li,
.dropdown li li {
	padding: 0.5em;
}

/* height of input with id="count" from memberlist_search, only one not set as .inputbox because of type="number" which is excluded in another css rule */

#count.inputbox {
	height: 24px;
}

input[type="radio"] {
	margin: 0;
}

.flex {
	display: flex;
	align-items: center;
}

/* Top site menu */

#top-site-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 666;
	width: 100%;
	max-width: 100vw;
}

#top-site-menu .navbar {
	display: flex;
	flex-direction: column;
	padding: 0;
	z-index: 669;
	height: 100%;
	width: 100%;
	max-width: 1156px;
	margin: auto;
}

#main-menu {
	justify-content: space-between;
}

.main-menu-row {
	display: flex;
	align-items: center;
}

/* Left part of Top site menu */

#main-menu-left { order: 1; }

/* Middle part of Top site menu */

#main-menu-middle {
	order: 2;
	width: 100%;
	min-height: 45px;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#mm-title {
	order: 2;
	display: flex;
	flex-basis: 100%;
}

#mm-pagination {
	order: 3;
	display: flex;
	flex-basis: 0%;
}

#mm-search {
	order: 4;
	flex-basis: 0%;
}

#mm-search .inputbox {
	padding: 0;
}

/* Right part of Top site menu */

#main-menu-right { order: 3; }

#main-menu-right .main-menu-item {
	min-width: 50px;
}

/* Right part of Top site menu - ordering items */

#mm-last-posts { order: 1; }
#mm-topics { order: 2; }
#mm-notifications { order: 3; }
#mm-pm { order: 4; }
#mm-tags { order: 5; }
#mm-user { order: 6; }
#mm-active-topics { order: 7; }
#mm-log-in { order: 8; }

/* Main menu items */

.main-menu-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
}

/* Main menu items - top part */

.main-menu-top {
	/*order: 1;*/
	display: flex;
	z-index: 666;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}

/* Main menu items - bottom part */

.main-menu-bottom {
	/*order: 2;*/
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 690px;
	display: none;
	position: absolute;
	flex-direction: column;
	top: 100%;
}

/* Positioning of bottom parts of main menu items */

#mm-last-posts .main-menu-bottom,
#mm-notifications .main-menu-bottom,
#mm-user .main-menu-bottom {
	right: -50px;
}

/* Top part of main menu items settings */

.main-menu-top a,
#mm-search .main-menu-top {
	display: flex;
	align-items: center;
	padding-left: 13px;
	padding-right: 13px;
}

.main-menu-top .fa-history {
	padding: 0 10px 0 10px;
}

.main-menu-top .fa-sign-in {
	padding: 0 0 0 10px;
}

/* Height of various main menu items */

#mm-title,
#mm-pagination,
#mm-search,
.main-menu-top a,
#mm-search .main-menu-top,
#search-box-hide {
	height: 45px;
}

/* Top logo */

#thegate {
	flex-direction: column;
	margin: 0 13px 0 13px;
	padding: 0;
	width: 45px;
	height: 45px;
}

#mm-home .thegate-top { height: 30px; }
#mm-home .thegate-bottom { height: 15px; }

#mm-home a { width: inherit; }

/* Lists shown in bottom part of main menu items */

.m-list {
	width: 545px;
	max-width: 95vw;
	margin: auto;
}

.m-list ul {
	list-style-type: none;
}

.m-list-right,
.m-list-left {
	text-align: left;
}

.m-list-all {
	justify-content: center;
	padding: 4px 0 4px 0;
}

.m-list-right {
	order: 2;
	flex-direction: column;
	align-items: flex-start;
	width: 130px;
	max-width: 130px;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.m-list-right-top {
	margin-bottom: 3px;
}

.m-list-left {
	order: 1;
	flex-direction: column;
	width: calc(100% - 130px); /* 100% - m-list-right width */
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border-right: 1px solid transparent;
}

.m-list-left-top,
.m-list-left-bottom {
	justify-content: flex-start;
}

.cp-main .notifications_time,
.m-list-left-bottom {
	margin-left: 18px;
}

/* Main menu title */

#mm-title .m-list {
	width: 365px;
	list-style-type: none;
}

#mm-title .panel p {
    margin-bottom: 0;
}

#mm-title .panel .fa {
	min-width: 23px;
	min-height: 23px;
}

/* Main menu topic lists */

#mm-topics .main-menu-bottom {
	padding: 15px;
	flex-direction: row;
}

/* Top menu & UCP notifications */

#mm-notifications .m-list {
	display: flex;
	flex-direction: column;
	width: 450px;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.notification_list img,
.notification_list ul li img {
	max-height: 54px;
	max-width: 54px;
	width: auto;
	height: auto;
	margin-right: 0;
}

.notifications-avatar-container {
	float: left;
	min-width: 54px;
	justify-content: flex-end;
	padding-right: 10px;
	display: flex;
}

#mm-notifications .m-list-right {
	width: 76px;
}

.m-list-left.notification_text {
	width: calc(100% - 76px);
	max-width: calc(100% - 76px);
}

.notification_text {
	margin-left: 0;
}

/* Displaying the mark notification as read icon */

#mm-notifications div[class^="m-row"] {
	position: relative;
}

#mm-notifications .mark_read {
	position: absolute;
	top: calc(50% - 28px);
	z-index: 1;
	right: 43px;
}

#mm-notifications .footer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.no_notifications {
	margin: 2em 0 2em 0;
}

/* Labeled icons */

.labeled-icon.notify-settings,
#mm-title .labeled-icon,
#mm-active-topics .labeled-icon {
	min-width: 90px;
	max-width: 90px;
}

.labeled-icon {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	min-height: 45px;
	max-height: 45px;
	min-width: 50px;
	max-width: 50px;
	padding-left: 3px !important;
	padding-right: 3px !important;
	box-sizing: border-box;
}

.labeled-icon .fa,
.labeled-icon-bg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
}

/* Top menu tags list */

#mm-tags .m-list-left { flex-basis: 83%; }
#mm-tags .m-list-right { flex-basis: 17%; }
#mm-tags .main-menu-bottom { width: auto; }

/* Top menu avatar and user settings */

#mm-user .main-menu-top {
	display: flex;
	align-items: center;
}

.header-avatar {
	width: 30px;
	justify-content: center;
}

a.header-avatar img {
	max-height: 30px;
	margin: 0;
}

#mm-user .main-menu-bottom {
	padding: 5px;
}

#mm-user .main-menu-bottom a {
	padding: 10px;
}

#mm-user .main-menu-bottom i {
	margin-right: 10px;
}

/* Other */

div.content { padding-top: 10px; }

body.simple {
	min-height: 100%;
	padding: 0 5px;
}

/* Buttons */

.button,
a.button1,
a.button2,
input.button1,
input.button2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

/* Action bar settings */

.action-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	margin: 0;
}

.action-bar .button {
	display:flex;
	align-items:center;
	margin-right: 0;
}

.action-bar:after {
	content: none;
}

/* Hidden top action bar */

.bar-top:not(.flex-columns) .column-left,
.bar-top .search-box.column-right {
	align-items: flex-end;
	display: none;
}

/* Pagination settings */

.pagination {
	display: flex;
	flex-direction: column;
}

.row .pagination {
	display: inline-flex;
	float: none;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: text-bottom;
	flex-direction: row;
}

.pagination li a,
.pagination li span {
	display: block;
	line-height: 1.4;
	min-width: 10px;
	padding: 2px;
	text-align: center;
}

.pagination li.active span {
	font-size: 1em;
}

.pagination .arrow a {
	padding: 2px;
}

.row .pagination i {
	vertical-align: sub;
}

.pagination li.active span {
	font-weight: bold;
	font-family: inherit;
	border: none;
}

.row .pagination li a,
.row .pagination li span {
	padding: 2px;
	font-size: 1em;
}

.pagination ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.pagination > ul {
	margin: 0;
}

/* Pagination jump to specific page form */

.page-jump-form {
	display: flex;
}

.page-jump-form input {
	text-align: center;
	width: 90px;
	margin: 10px 0 10px 0;
}

/* Some basic classes adding a style */

.info-paragraph {
	text-align: center;
}

.flex-spaced-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.forabg ul.topiclist .row {
	padding: 2px 0;
}

/* Forum topic counter / Topic reply counter shown on left in forum / topic rows */

.topic-reply-counter {
	float: left;
	min-width: 13px;
	max-width: 45px;
	text-align: center;
	/*padding: 0 2px 0 2px;*/
}

/* Go to last post */

.topiclist .lastpost {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

dd.lastpost > span {
	display: flex;
	width: 100%;
}

.lastpost-poster {
	flex-basis: 60%;
	text-align: right;
	padding-right: 5px;
}

.lastpost-time {
	display: flex;
	flex-basis: 40%;
	justify-content: space-between;
	align-items: center;
}

.topiclist.forums .lastpost,
.topiclist.topics .lastpost,
.topiclist.cplist .lastpost {
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}

/* Go to searched post */

.to-searched-post {
	font-size: 34px;
	padding: 10px 10px 0 10px;
}

/* Pseudo-elements */

/* Content selected by user */

::selection {
	color: #32D635;
	/*background: #444;*/
	background-color: rgba(255, 255, 255, 0.2);
}

/* SCROLLBAR */

/* Scrollbar width */

::-webkit-scrollbar {
	width: 7px;
}

/* Scrollbar track */

::-webkit-scrollbar-track {
	/*box-shadow: inset 0 0 5px #666;*/
	border-radius: 7px;
	background: transparent;
}

/* Scrollbar handle */

::-webkit-scrollbar-thumb {
	background-color: rgba(102, 102, 102, 0.3);
	border-radius: 7px;
}

/* Scrollbar handle on hover */

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(102, 102, 102, 0.25);
}

/* Autofill input */

input:is(:-webkit-autofill, :autofill) {
	
}

/* Change cursor on hover to pointer */

*[onclick^="window.location.href"],
.fa-search,
#search-box-hide,
.menu-root,
#picture-box-all label,
#list-box-all label {
	cursor: pointer;
}

/* No outline */

button:focus,
.message-box textarea,
input {
	outline: none;
}

.postbody,
.topicreview .postbody {
	margin-top: 5px;
}

/* Don't show signature in posts and PMs */

.postbody .signature:not(.standalone) {
	display: none;
}

/* Post notice doesn't block clicking post-buttons */

p.post-notice {
	clear: both;
	position: static;
}

/* Post buttons */

.post-buttons {
	display: flex;
	flex-direction: column;
}

.post-buttons,
.has-profile .post-buttons {
	top: 0;
}

.post-buttons ul {
	list-style: none;
}

.post-buttons #post-buttons-row-1 {
	display: flex;
	justify-content: flex-end;
}

.post-buttons #post-buttons-row-2 {
	display: none;
}

.post-buttons #post-buttons-row-1:hover ~ #post-buttons-row-2,
.post-buttons #post-buttons-row-2:hover {
	display: flex;
	justify-content: flex-end;
}

.post-buttons .button-icon-only {
	padding-left: 4px;
	padding-right: 4px;
}

.header .row-item {
	width: 100%;
}

dd.time {
	width: 170px;
}

/* Search box settings */

.section-viewtopic .search-box .inputbox,
.search-box .inputbox,
#search-box-hide {
	width: 0;
}

.search-box {
	position: relative;
}

#search-box-hide {
	opacity: 1;
	display: none;
	position: absolute;
	right: 0px;
	justify-content: center;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
}

/* Headers */

h1 {
	margin: 0;
}

h2 {
	padding-bottom: 10px;
}

h3 {
	border: none;
}

/* Reviews */

.review,
h2.review {
	padding: 1em 0 1em 0;
}

.review,
.panel .review {
	margin-top: 2em;
}

.topicreview {
	padding-right: 0;
}

.cp-panel {
	padding: 5px;
}

.panel .panel {
	padding: 5px 0;
}

.cp-main .notification_list .notifications {
	margin-left: 60px;
	padding: 0 5px;
}

h2,
h3,
.flex-columns-container-left dl,
table.table1 tbody tr.bg3,
.register-text,
.flex-columns .inputbox:not(#message),
.flex-columns .shadow-explanation {
	text-align: center;
}

/* Tables */

table.table1 thead th {
	font-weight: bold;
	padding: 5px;
	border-bottom: none;
	vertical-align: middle;
}

table.table1 tbody tr {
	border: none;
}

table.table1 tbody td {
	border-top: none;
	vertical-align: middle;
}

table.table1 td.info a {
	word-break: break-word;
	/*max-width: 195px;*/
	/*overflow: hidden;*/
	/*white-space: nowrap;*/
	/*text-overflow: ellipsis;*/
}

#notification-settings-table tbody td:not(.mark) {
	text-align: right;
	padding-right: 36px;
}

.top-with-settings {
	display: flex;
	justify-content: center;
	position: relative;
}

.top-with-settings div,
.top-with-settings i {
	position: absolute;
	right: 0;
	top: -10px;
}

/* Posting PMs */

#pmheader-postingbox.panel {
	padding: 0;
}

#pmheader-postingbox.panel dl {
	width: auto;
	margin: auto;
	padding: 0;
}

#pmheader-postingbox span.recipients {
	display: block;
}

#pmheader-postingbox span.recipients input {
	padding: 0 6px;
}

#pmheader-postingbox dd.recipients {
	margin: 0;
}

/* Postbody and postprofile width */

.postbody,
.search .postbody,
.topicreview .postbody,
.mcp-main .postbody {
	width: 83%;
}

.postprofile,
.search .postprofile {
	width: 15%;
}

.flex-columns-container div.column-left {
	/*align-items: center;*/
}

.inputbox {
	width: 100%;
	/*padding: 2px;*/
	box-sizing: border-box;
}

.message-box {
	width: 83%;
	margin: auto;
}

.content a.button {
	line-height: normal;
}

/* Message textareas */

.message-box textarea,
#notepad {
	padding: 8px;
	text-align: justify;
}

.form-box span,
.register-text span,
#login span,
#reset_password span,
#resend span,
#login a,
#reset_password a,
#resend a,
#quick-login-panel span {
	padding: 2px;
	box-sizing: border-box;
}

.form-box input:not(.button2) {
	width: 100%;
}

input.inputbox:not([type="number"], [type="file"]),
textarea.inputbox:not(#message, #signature, #poll_option_text, #notepad, #mchat-input, #band-info-input) {
	min-height: 2em;
	line-height: 2em;
}

/* flex-columns */

.input-select,
.input-button {
	position: absolute;
}

.input-select {
	align-self: flex-start;
}

.input-button {
	align-self: flex-end;
}

.search-user {
	position: relative;
}

.search-user a {
	align-self: flex-end;
	position: absolute;
	right: 1em;
	top: 1em;
}

.flex-columns .inputbox,
.flex-columns .shadow-explanation {
	width: 100%;
}

.flex-columns,
.flex-columns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column-left,
.flex-columns-container-left {
	order: 1;
	display: flex;
	flex-basis: 30%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
	padding: 10px 20px 10px 20px;
}

.flex-columns-container-left {
	align-items: initial;
}

.postingbox-top .column-left {
	justify-content: initial;
}

/* Agreement on registration yes or no buttons */

#agreement input {
	width: 49%;
}

/* Go to registration .button */

.to-registration-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	width: 100%;
	padding: 0;
	justify-content: center;
	height: 2em;
}

.button,
.button1,
.button2 a,
.terms-privacy-button,
.error,
.text-align-center {
	text-align: center;
}

.submit-buttons {
	width: 100%;
	/*background-color: red;*/
}

/* Login button with autologin checkbox */

.autologin-box {
	display: flex;
	align-items: center;
	margin-top: 25px;
	width: 100%;
}

.autologin-box #autologin {
	position: absolute;
	width: 1.4em;
	height: 1.4em;
}

/* form box */

.form-box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Registration page - language and timezone selection */

#registration-language-timezone .column-left {
	padding-top: 0;
	padding-bottom: 0;
}

#registration-language-timezone .column-left .form-box {
	align-items: flex-end;
}

.form-box .shadow-label {
	order: 1;
}

.form-box .inputbox,
.form-box select,
.registration-timezone {
	order: 2;
}

.form-box .shadow-explanation {
	position: absolute;
	top: 101%;
	z-index: -3;
}

.column-right,
.flex-columns-container-right {
	order: 2;
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	text-align: left;
	padding: 10px 20px 10px 20px;
}

.settings-panel .flex-box {
	align-items: normal;
}

.column-right .error {
	text-align: left;
}

/* Some (column-right class) items need to be redirected from column to row */

.flex-direction-row {
	flex-direction: row !important;
}

/* Login, registration, reset password, resend activation mail etc. */

#register .error {
	padding-bottom: 1.4em;
}

#login .column-right,
#quick-login-panel .column-right,
#reset_password .column-right,
#resend .column-right,
#register-email {
	flex-direction: column-reverse;
}

#login fieldset.fields1 div,
#quick-login-panel fieldset.fields1 div,
#reset_password fieldset.fields1 div,
#resend fieldset.fields1 div {
	margin-bottom: 0;
}

#reset_password .submit-buttons,
#resend .submit-buttons {
	margin-top: 77px;
}

.forgot-pass {
	margin-bottom: 15px;
}

/* Draft buttons on posting */

#posting-drafts-buttons {
	display: flex;
	flex-direction: initial;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}

#posting-drafts-buttons .button2 {
	width: 50% !important;
}

#posting-drafts {
	position: relative;
}

#posting-drafts .shadow-explanation {
	position: absolute;
	top: 1.5em;
}

.submit-buttons .column-left {
	justify-content: flex-start;
}

.action-bar .column-left {
	flex-basis: 47%;
}

/* BBCodes */

.glow {
	padding: 0 !important;
}

/* Spoilers */

.spoilcontent {
	display: none;
}

.spoilwrapper,
.spoilcontent {
	padding: 4px;
}

.spoilbtn {
	padding: 2px;
	display: block;
	cursor: pointer;
}

.spoilwrapper_muzycy {
	margin: 1em 0;
}

/* menu-toggle, its icon and dropdown */

.quickmod-box,
#info-box-root,
#info-box-all,
#picture-box-all {
	text-align: center;
}

.menu-all {
	box-sizing: border-box;
	/*background: red;*/
}

.rozwijany-box-all {
	display: none;
	position: absolute;
	z-index: 600;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 15px 35px 15px;
}

.rozwijany-box-all:not(.contact-box-all, #smiley-box-all) {
	flex-direction: column;
}

.contact-box {
	display: inline-block;
}

.quickmod-box-all {
	position: static;
}

.quickmod-box-all,
.ellipsis-box-all,
#color-palette-all {
	width: auto;
}

#info-box-all {
	width: 40%;
	max-width: 550px;
}

#band-info-input {
	height: 100px;
}

#smiley-box-root {
	width: 30px;
	height: 24px;
	background: url("/images/smilies/icon_twisted_bw.gif") center no-repeat;
}

#smiley-box:hover #smiley-box-root {
	background: url("/images/smilies/icon_twisted_bw_red_eyes.gif") center no-repeat;
}

#smiley-box-all {
	width: 160px;
}

.smiley-box img {
	padding: 3px;
}

.smilies {
	max-height: 17px;
}

/* centered color palette (seen on smaller displays) */

.color_palette_placeholder table {
	margin: auto;
	text-align: center;
}

/* switcheroo menu */

.switcheroo-static {
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px 0;
}

.switcheroo-menu {
	position: relative;
	justify-content: center;
	text-align: center;
}

.switcheroo-menu,
.switcheroo-static {
	display: flex;
}

.switcheroo-menu-all {
	display: none;
	width: 95%;
}

.switcheroo-menu-root,
.switcheroo-menu-all {
	justify-content: space-around;
	justify-content: space-evenly;
}

.ellipsis-box-all { /*margin-left: -105px;*/ }
.contact-box-all { /*margin-left: -70px;*/ }
#info-box-all { /*margin-left: -6%;*/ }
#picture-box-all { /*margin-left: -110px;*/ }
#list-box-all { /*margin-left: -145px;*/ }
#color-palette-all { /*margin-left: -215px;*/ }
#smiley-box-all { /*margin-left: -70px;*/ }

#picture-box-all a,
#list-box-all a {
	/*margin-bottom: 10px;*/
}

#search-box-keywords {
	/*background-color: blueviolet;*/
}

#preview {
	margin-top: 1.5em;
}

fieldset.fields1 div {
	margin-bottom: 0;
}

.online .fa-circle {
	padding: 0 0 0 5px;
}

/* Quotes and nested quotes */

blockquote,
blockquote blockquote {
	padding-bottom: 10px;
	margin: 15px 0 15px 7px;
}

cite div.responsive-hide {
	/*float: left;*/
	/*margin-right: 5px;*/
}

#login .column-left,
#register .column-left,
#reset_password .column-left,
#resend .column-left {
	align-items: initial;
}

.settings-panel .column-left,
.settings-panel .column-right {
	padding: 2px 5px 2px 5px;
}

.settings-panel .column-left,
.settings-panel .flex-columns-container-left {
	flex-basis: 30%;
	justify-content: center;
}

.settings-panel .column-right,
.settings-panel .flex-columns-container-right {
	flex-basis: 60%;
}

.settings-panel .column-left input[type="checkbox" i] {
	margin: 0;
}

input[type="checkbox" i] {
	margin: 3px 3px 3px 3px;
}

div.content,
#postingbox.panel {
	text-align: justify;
}

div.content,
.signature {
	padding-left: 3px;
	padding-right: 3px;
	box-sizing: border-box;
}

/* Golden ratios */

.content,
.signature,
.message-box textarea,
.flex-columns,
.panel p,
.agreement,
.agreement-text {
	line-height: 1.618;
}

.agreement,
.agreement-text {
	margin-bottom: 1.618em;
}

dl.details dt {
	display: flex;
	width: unset;
}

dl.details dd {
	margin: 0;
	width: unset;
	overflow: unset;
}

.flex-columns dt label {
	text-align: right;
}

.member-search {
	text-align: center;
	margin: auto;
}

/* Page footer */

.page-footer .navbar {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.nav-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}

.nav-footer .fa {
	min-width: 30px;
	text-align: center;
	vertical-align: middle;
}

.nav-footer .stat-block.online-list .forum-title,
.nav-footer .see_online {
	margin: 0;
}

/* Copyright */

.copyright {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
	padding: 5px;
}

.copyright .empty-footer-row {
	height: 18px;
}

.copyright .text-strong {
	width: fit-content;
	margin: auto;
}

/* Bottom logo */

#sigil {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 60px;
	height: 60px;
}

/* Height of copyright icon on bottom of the page */

.sigil-all { height: 60px; }
.sigil-top { height: 40px; }
.sigil-bottom { height: 20px; }

/* Other BORDERS */

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
a.button1:hover,
a.button2:hover,
input.button1:hover,
input.button2:hover,
input.button3:hover,
span.button:focus,
button,
hr,
hr.dashed,
.inputbox,
.inputbox:hover,
.inputbox:focus,
.postprofile,
.postbody .notice,
.postlink,
ul.topiclist dd,
ul.topiclist dd:hover,
table.zebra-list tr:nth-child(odd) td:hover,
ul.zebra-list li:nth-child(odd):hover,
table.zebra-list tr:nth-child(even) td:hover,
ul.zebra-list li:nth-child(even):hover,
li.row strong,
li.row:hover dd,
.phpbb_alert,
.posthilit {
	border: none;
}

.lastpost {
	border-left: 1px solid transparent !important;
}

/* Border radius */

.topic-reply-counter,
.main-menu-bottom {
	border-radius: 7px;
}

.labeled-icon-bg strong,
blockquote,
.member-search,
.phpbb_alert {
	border-radius: 5px;
}

select,
.button,
a.button1,
a.button2,
input.button1,
input.button2,
span.button:focus,
.tab > a,
.inputbox,
img.postimage,
.posthilit,
.panel-container h3,
.panel-container hr,
.panel-container .panel li.row,
.codebox {
	border-radius: 3px;
}

/* end of BORDERS */

/* Cookie consent */

.cc-window {
	background-color: transparent !important;
	background: linear-gradient(to bottom, transparent 0%, #000 1em);
	/*padding: 1em 1.8em 0.5em;*/
	text-align: justify;
}

.cc-window.cc-floating {
	max-width: 100% !important;
}

.cc-bottom {
	bottom: 0 !important;
}

.cc-link {
	float: right;
}

.cc-compliance {
	padding: 0 1em;
	margin: auto;
	box-sizing: border-box;
}

.cc-btn:not(:hover, :focus) {
	color: #eee !important;
	background-color: #222 !important;
}

.cc-btn:hover {
	background-color: #333 !important;
}

/* end of Cookie consent */