<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">


<div class="panel settings-panel bg3">
	<div class="inner flex-columns-container">
		<div class="flex-columns-container-left">
			<dl>
				<!-- IF AVATAR_IMG --><dt class="profile-avatar">{AVATAR_IMG}</dt><!-- ENDIF -->
				<dt>{USERNAME_FULL}</dt>
				<!-- IF RANK_TITLE --><dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dd>{RANK_IMG}</dd><!-- ENDIF -->
			</dl>
		</div>

		<div class="flex-columns-container-right">
			<dl class="details">
				<div class="flex-columns">
					<dt class="column-left"><label>{L_JOINED}{L_COLON}</label></dt>
					<dd class="column-right">{JOINED}</dd>
				</div>
				<div class="flex-columns">
					<dt class="column-left"><label>{L_TOTAL_POSTS}{L_COLON}</label></dt>
					<dd class="column-right">{POSTS}</dd>
				</div>
				<div class="flex-columns">
					<dt class="column-left"><label>{L_WARNINGS}{L_COLON}</label></dt>
					<dd class="column-right">{WARNINGS}</dd>
				</div>
			</dl>
		</div>

	</div>
</div>

<div class="panel settings-panel">
	<div class="inner">

	<p class="info-paragraph">{L_ADD_FEEDBACK_EXPLAIN}</p>

	<fieldset>
	<div class="flex-columns">
		<div class="column-left phantom-label"><label>{L_ADD_FEEDBACK}</label></div>
		<div class="column-right">
			<textarea name="usernote" id="usernote" class="inputbox" cols="40" rows="3" placeholder="{L_ADD_FEEDBACK}"></textarea>
		</div>
	</div>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
<div class="flex-box-container">
	{S_HIDDEN_FIELDS}
	<div class="flex-box"><input type="submit" name="action[add_feedback]" value="{L_SUBMIT}" class="button" /></div>
	<div class="flex-box justify-content-center"></div>
	{S_FORM_TOKEN}
</div>
</fieldset>

<div class="panel settings-panel">
	<div class="inner">

	<div class="flex-columns">
		<div class="column-left">
		</div>
		<div class="column-right">
			<input type="search" class="inputbox" name="keywords" value="{S_KEYWORDS}" placeholder="{L_SEARCH_KEYWORDS}" />
			<input type="submit" class="button1 input-button" name="filter" value="{L_SEARCH}" />
		</div>
	</div>

	<div class="table-container">
	<table class="table1">
	<thead>
	<tr>
		<th class="name reportby">{L_REPORT_BY}</th>
		<th class="center">{L_IP}</th>
		<th class="center">{L_TIME}</th>
		<th>{L_ACTION_NOTE}</th>
		<!-- IF S_CLEAR_ALLOWED --><th>{L_MARK}</th><!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN usernotes -->
	<!-- IF usernotes.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
		<td>{usernotes.REPORT_BY}</td>
		<td class="center">{usernotes.IP}</td>
		<td class="center">{usernotes.REPORT_AT}</td>
		<td>{usernotes.ACTION}</td>

		<!-- IF S_CLEAR_ALLOWED --><td class="center" style="width: 5%;"><input type="checkbox" name="marknote[]" id="note-{usernotes.ID}" value="{usernotes.ID}" /></td><!-- ENDIF -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" align="center"><span class="gen">{L_NO_ENTRIES}</span></td>
	</tr>
	<!-- END usernotes -->
	</tbody>
	</table>
	</div>

	<div class="action-bar bottom">
		<!-- INCLUDE display_options.html -->

	</div>

	</div>
</div>

<!-- IF S_CLEAR_ALLOWED -->
<fieldset class="display-actions">
<div class="flex-box-container">
	<div class="flex-box"><input class="button" type="submit" name="action[del_all]" value="{L_DELETE_ALL}" /></div>
	<div class="flex-box"><input class="button" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}" /></div>
	<div><a href="#" onclick="marklist('mcp', 'marknote', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('mcp', 'marknote', false); return false;">{L_UNMARK_ALL}</a></div>
</div>
</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
