<div class="navbar" role="navigation">

	<div id="main-menu" class="main-menu-row<!-- IF S_REGISTERED_USER --> menu-registered-user<!-- ELSE --> menu-unregistered-user<!-- ENDIF -->">

		<div id="main-menu-left" class="main-menu-row">

			<div id="mm-home" class="main-menu-item">
				<div class="main-menu-top" id="thegate">
					<a href='<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->' class="<!-- IF S_REGISTERED_USER -->thegate-top<!-- ELSE -->thegate-all<!-- ENDIF -->" aria-label="{L_FORUM_INDEX}"></a>
					<!-- IF S_REGISTERED_USER -->
					<a href='<!-- IF U_SITE_HOME -->{U_SITE_HOME}#ugh<!-- ELSE -->{U_INDEX}#ugh<!-- ENDIF -->' class="thegate-bottom" aria-label="{L_FORUM_INDEX}"></a>
					<!-- ENDIF -->
				</div>
			</div>

		</div>

		<div id="main-menu-middle" class="main-menu-row">

			<div id="mm-title" class="main-menu-item menu-toggle<!-- IF TOTAL_POSTS or TOTAL_MESSAGES or TOTAL_TOPICS or TOTAL_USERS or TOTAL_REPORTS or (TOTAL and SCRIPT_NAME == 'mcp') or (not S_IS_BOT and S_DISPLAY_REPLY_INFO) or (SCRIPT_NAME == 'viewforum' and (S_DISPLAY_POST_INFO or .pagination or TOTAL_POSTS or TOTAL_TOPICS)) or (not S_IS_BOT and (U_WATCH_TOPIC or U_BOOKMARK_TOPIC or U_BUMP_TOPIC or U_EMAIL_TOPIC or U_PRINT_TOPIC or S_DISPLAY_TOPIC_TOOLS)) or (not S_IS_BOT and (U_WATCH_FORUM_LINK or U_MARK_TOPICS)) or SEARCH_MATCHES or .notification_list or (TOTAL_MESSAGES or S_VIEW_MESSAGE) or .attachrow and NUM_ATTACHMENTS --> with-main-menu-bottom<!-- ENDIF -->">
				<!-- INCLUDE show_name.html -->
			</div>

			<div id="mm-pagination" class="main-menu-item">
				<div class="pagination"><!-- IF .pagination --><!-- INCLUDE pagination.html --><!-- ENDIF --></div>
			</div>

			<div id="mm-search" class="main-menu-item search-box" role="search">
				<form method="get" id="search" action="{U_SEARCH}">
						<fieldset>
							<div class="main-menu-top">
								<div id="search-box-hide"><i class="fa fa-compress"></i></div>
								<input id="search-box-keywords" name="keywords" accesskey="s" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
								<button id="search-box-icon" type="submit" title="{L_SEARCH}"><i class="fa fa-search fa-2x"></i></button>
							</div>
						</fieldset>
				</form>
			</div>
			
		</div>	

		<div id="main-menu-right" class="main-menu-row">

			<div id ="mm-last-posts" class="main-menu-item menu-toggle">
				<div class="main-menu-top menu-root">
					<a id="last-posts-icon" class="labeled-icon"><i class="fa fa-history"></i></a>
				</div>
				<div class="main-menu-bottom menu-all">
					<div class="m-list" id="last-posts-list"></div>
				</div>
			</div>

			<!-- IF S_USER_LOGGED_IN -->
			<div id="mm-topics" class="main-menu-item menu-toggle">
				<div class="main-menu-top menu-root">
					<!-- IF S_LOAD_UNREADS -->
					<a href="{U_SEARCH_UNREAD}" id="mm-topics-unread" class="labeled-icon">
						<i class="fa fa-inbox"></i>
						<!-- IF L_AB_UNREAD > 0 --><div class="labeled-icon-text"><strong>{L_AB_UNREAD}</strong></div><!-- ENDIF -->
					</a>
					<!-- ENDIF -->
				</div>
				<div class="main-menu-bottom menu-all">
					<a href="{U_SEARCH_SELF}">{L_AB_MINE}</a><span class="vertical-separator">&dagger;</span>
					<a href="{U_SEARCH_ACTIVE_TOPICS}">{L_AB_ACTIVE}</a><span class="vertical-separator">&dagger;</span>
					<a href="{U_SEARCH_NEW}">{L_AB_NEW}</a>
				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF S_REGISTERED_USER -->

				<!-- IF S_NOTIFICATIONS_DISPLAY -->
				<div id="mm-notifications" class="main-menu-item menu-toggle">
					<div class="main-menu-top menu-root">
						<a id="notification_list_button" class="labeled-icon">
							<!-- IF NOTIFICATIONS_COUNT > 0 -->
								<i class="fa fa-bell"></i>
								<div class="labeled-icon-text"><strong>{NOTIFICATIONS_COUNT}</strong></div>
							<!-- ELSE -->
								<i class="fa fa-bell-o"></i>
							<!-- ENDIF -->
						</a>
					</div>
					<div class="main-menu-bottom menu-all notification_list">
						<!-- INCLUDE notification_dropdown.html -->
					</div>
				</div>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_PM -->
				<div id="mm-pm" class="main-menu-item">
					<div class="main-menu-top">
						<a href="{U_PRIVATEMSGS}" class="labeled-icon" aria-label="{L_PRIVATE_MESSAGES}">
							<!-- IF PRIVATE_MESSAGE_COUNT > 0 -->
								<i class="fa fa-envelope"></i>
								<div class="labeled-icon-text"><strong>{PRIVATE_MESSAGE_COUNT}</strong></div>
							<!-- ELSE -->
								<i class="fa fa-envelope-o"></i>
							<!-- ENDIF -->
						</a>
					</div>
				</div>
				<!-- ENDIF -->

			<!-- ENDIF -->

			<!-- IF SCRIPT_NAME == 'insane' -->
			<div id="mm-tags" class="main-menu-item menu-toggle">
				<div class="main-menu-top menu-root">
					<a><i class="fa fa-tags fa-lg"></i></a>
				</div>
				<div class="main-menu-bottom menu-all">

					<h3><a href="{RH_TOPICTAGS_TAGCLOUD_LINK}"><i class="fa fa-tag fa-lg"></i>{RH_TOPICTAGS_TAGCLOUD_TAG_COUNT}</a></h3>

					<!-- IF S_USER_LOGGED_IN && SCRIPT_NAME != 'posting' -->
					<div id="m-tagowarka">
						<div ng-app="rhTopicTagsInputApp2" ng-controller="rhTopicTagsInputCtrl2">
							<div id="m-tagowarka_ui" class="m-list-all">
								<div class="m-list-left">
									<div id="rhTopicTagsInputApp2Scope" class="rh_topictags_tags"></div>
									<tags-input ng-model="tags" id="tagSearchClickInput" add-on-comma="false" replace-spaces-with-dashes="false" placeholder="wpisz tagi" tabindex="2" enable-editing-last-tag="true" min-length="2" allowed-tags-pattern="{RH_TOPICTAGS_ALLOWED_TAGS_REGEX}">
										<auto-complete source="loadTags($query)"></auto-complete>
									</tags-input>
									<input type="hidden" name="rh_topictags" id="rh_topictags" value="{[{ jsonRep2 }]}"></input>
								</div>
								<a href="" onclick="tagSearchClick(); return false;" class="m-list-right" title="Szukaj po tagach"><i class="fa fa-search fa-2x"></i></a>

								<script>
								function tagSearchClick() {
									if (String(document.getElementById('rh_topictags').value) != "[]" & String(document.getElementById('rh_topictags').value) != "{[{ jsonRep2 }]}" )
										location.href='/app.php/tag/'+String(document.getElementById('rh_topictags').value).replace('[','').replace(']','').replace(/ /g,'+');
									else
										document.getElementById("tagSearchClickInput").focus();
								}
								</script>
							</div>
						</div>
					</div>
					<!-- ENDIF -->

					<!-- IF .rh_topictags_tags -->
					<div class="rh_topictags_tagcloud">
							<!-- BEGIN rh_topictags_tags -->
							<div class="flex <!-- IF rh_topictags_tags.S_ROW_COUNT is odd -->m-row1<!-- ELSE -->m-row2<!-- ENDIF --> m-list-all">
								<a href="{rh_topictags_tags.LINK}" class="{rh_topictags_tags.CSS_CLASS} m-list-left m-list-left-top">{rh_topictags_tags.NAME}</a>
								<!-- IF RH_TOPICTAGS_TAGCLOUD_SHOW_COUNT --><span class="rh_topictags_count m-list-right m-list-right-bottom">{rh_topictags_tags.COUNT}</span><!-- ENDIF -->
							</div>
							<!-- END rh_topictags_tags -->
					</div>
					<!-- ENDIF -->

				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF S_REGISTERED_USER -->

			<div id="mm-user" class="main-menu-item menu-toggle header-profile">
				<div class="main-menu-top menu-root">
					<a id="header-avatar" class="header-avatar labeled-icon">
						<!-- IF CURRENT_USER_AVATAR -->
							{CURRENT_USER_AVATAR}
						<!-- ELSE -->
							<i class="fa fa-user-circle-o fa-2x"></i>
						<!-- ENDIF -->
					</a>
				</div>
				<div class="main-menu-bottom menu-all">
					<!-- IF U_RESTORE_PERMISSIONS --><a href="{U_RESTORE_PERMISSIONS}"><i class="fa fa-user-times fa-fw fa-lg"></i>{L_RESTORE_PERMISSIONS}</a><hr><!-- ENDIF -->
					<a href="{{ U_SENKY_NOTES }}"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i>{{ lang('NOTES') }}</a>
					<a href="{U_PROFILE}" title="{L_PROFILE}"><i class="fa fa-cogs fa-fw fa-lg"></i>{L_PROFILE}</a>
					<!-- IF U_USER_PROFILE --><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}"><i class="fa fa-id-card-o fa-fw fa-lg"></i>{L_READ_PROFILE}</a><!-- ENDIF -->
					<!-- IF S_DISPLAY_MEMBERLIST --><hr><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><i class="fa fa-users fa-fw fa-lg"></i>{L_MEMBERLIST}</a><!-- ENDIF -->
					<!-- IF U_TEAM --><a href="{U_TEAM}"><i class="fa fa-shield fa-fw fa-lg"></i>{L_THE_TEAM}</a><!-- ENDIF -->
					<hr><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x"><i class="fa fa-sign-out fa-fw fa-lg"></i>{L_LOGIN_LOGOUT}</a>
					<!-- IF U_MCP or U_ACP --><hr><!-- ENDIF -->
					<!-- IF U_MCP --><a href="{U_MCP}" title="{L_MCP}"><i class="fa fa-wrench fa-fw fa-lg"></i>{L_MCP_SHORT}</a><!-- ENDIF -->
					<!-- IF U_ACP --><a href="{U_ACP}" title="{L_ACP}"><i class="fa fa-unlock-alt fa-fw fa-lg"></i>{L_ACP_SHORT}</a><!-- ENDIF -->
				</div>
			</div>

			<!-- ENDIF -->

			<!-- IF not S_REGISTERED_USER -->

			<div id="mm-active-topics" class="main-menu-item">
				<div class="main-menu-top">
					<a href="{U_SEARCH_ACTIVE_TOPICS}" class="labeled-icon">
						<i class="fa fa-inbox"></i>
						<div class="labeled-icon-text"><strong>{L_AB_TOPICS}</strong></div>
					</a>
				</div>
			</div>

				<!-- IF not S_IS_BOT -->
				<div id="mm-log-in" class="main-menu-item">
					<div class="main-menu-top">
						<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT} &frasl; {L_REGISTER}" accesskey="x"><i class="fa fa-sign-in fa-2x"></i></a>
					</div>
				</div>
				<!-- ENDIF -->

			<!-- ENDIF -->

		</div>

	</div>

</div>
