<!-- IF S_AJAX_REQUEST -->
	<form action="{S_CONFIRM_ACTION}" method="post">
		<div class="panel fbr-settings-panel">
		<p class="fbr-m-info">{MESSAGE_TEXT}</p>

		<!-- IF not S_SHADOW_TOPICS -->
		<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
			<label for="delete_permanent">
				<div class="fbr">
					<div class="fbr-left"><input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} /></div>
					<div class="fbr-right"><!-- IF S_TOPIC_MODE -->{DELETE_TOPIC_PERMANENTLY_EXPLAIN}<!-- ELSE -->{DELETE_POST_PERMANENTLY_EXPLAIN}<!-- ENDIF --></div>
				</div>
			</label>
		<!-- ENDIF -->

		<div class="fbr">
			<div class="fbr-left phantom-label"><label for="delete_reason">{L_DELETE_REASON}</label><span>{L_DELETE_REASON_EXPLAIN}</span></div>
			<div class="fbr-right"><input type="text" name="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" placeholder="{L_DELETE_REASON}" /></div>
		</div>
		<!-- ENDIF -->

		<fieldset class="submit-buttons flex-box-form">
			<div class="flex-box-o">
				<div class="flex-box"><input type="button" name="confirm" value="{L_YES}" class="button" /></div>
				<div class="flex-box fb-c"><input type="button" name="cancel" value="{L_NO}" class="button2" /></div>
			</div>
		</fieldset>
		</div>
	</form>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
<div class="panel fbr-settings-panel">
	<div class="inner">

	<h2 class="message-title">{MESSAGE_TITLE}</h2>

	<p class="fbr-m-info">{MESSAGE_TEXT}</p>

	<!-- IF not S_SHADOW_TOPICS -->
	<fieldset class="fields1">
		<!-- IF not S_SOFTDELETED and S_ALLOWED_DELETE and S_ALLOWED_SOFTDELETE -->
			<label for="delete_permanent">
				<div class="fbr">
					<div class="fbr-left"><input id="delete_permanent" name="delete_permanent" type="checkbox" value="1" {S_CHECKED_PERMANENT} /></div>
					<div class="fbr-right">{L_DELETE_PERMANENTLY} <!-- IF S_TOPIC_MODE -->{DELETE_TOPIC_PERMANENTLY_EXPLAIN}<!-- ELSE -->{DELETE_POST_PERMANENTLY_EXPLAIN}<!-- ENDIF --></div>
				</div>
			</label>
		<!-- ENDIF -->

		{% EVENT confirm_delete_body_delete_reason_before %}

		<div class="fbr">
			<div class="fbr-left phantom-label"><label for="delete_reason">{L_DELETE_REASON}</label><span>{L_DELETE_REASON_EXPLAIN}</span></div>
			<div class="fbr-right"><input type="text" name="delete_reason" id="delete_reason" value="" class="inputbox autowidth" maxlength="120" size="45" placeholder="{L_DELETE_REASON}" /></div>
		</div>
	</fieldset>
	<!-- ENDIF -->

	<fieldset class="submit-buttons flex-box-form">
		<div class="flex-box-o">
			{S_HIDDEN_FIELDS}
			<div class="flex-box"><input type="submit" name="confirm" value="{L_YES}" class="button" /></div>
			<div class="flex-box fb-c"><input type="submit" name="cancel" value="{L_NO}" class="button2" /></div>
		</div>
	</fieldset>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
