<!-- INCLUDE overall_header.html -->

<form action="{S_LOGIN_ACTION}" method="post" id="login" class="brutalform" data-focus="<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->">
<div class="panel">
	<div class="inner">


		<fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>

		<div class="fbr">
			<div class="fbr-left">
				<div class="brutalform-box">
					<input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" placeholder="{L_USERNAME}" class="inputbox" autocomplete="username" />
					<span class="brutalform-label">{L_USERNAME}</span>
				</div>

				<div class="brutalform-box">
					<input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox" placeholder="{L_PASSWORD}" autocomplete="current-password" />
					<span class="brutalform-label">{L_PASSWORD}</span>
				</div>

				{S_LOGIN_REDIRECT}
				{S_FORM_TOKEN_LOGIN}
				{S_HIDDEN_FIELDS}

				<!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
					<div class="brutalform-box">
					<!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}" class="forgot-pass">{L_FORGOT_PASS}</a><!-- ENDIF -->
					<!-- IF U_RESEND_ACTIVATION --><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
					</div>
				<!-- ENDIF -->

				<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
					<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
					<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
				<!-- ENDIF -->
			</div>

			<div class="fbr-right">
					<!-- IF LOGIN_ERROR --><div class="error">{LOGIN_ERROR}</div><!-- ENDIF -->
			</div>
			
		</div>

		<div class="fbr">
			<div class="fbr-left">
				<div class="brutalform-autologin submit-buttons">
					<!-- IF S_DISPLAY_FULL_LOGIN -->
					<!-- IF S_AUTOLOGIN_ENABLED -->
						<input type="checkbox" checked="checked" name="autologin" id="autologin" tabindex="3" title="{L_LOG_ME_IN}" />
					<!-- ENDIF -->
					<!-- ENDIF -->

					<input type="submit" name="login" tabindex="4" value="{L_LOGIN}" class="button submit" />
				</div>
			</div>

			<div class="fbr-right">
				<div class="brutalform-box submit-buttons">
					<a href="{U_REGISTER}" tabindex="5" class="brutalform-go-to-register button submit">{L_REGISTER}</a>
				</div>
			</div>
		</div>

		<div class="fbr">
			<div class="fbr-left">
			</div>
			<div class="fbr-right">
				<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
					<div class="brutalform-box">
						<a href="{U_TERMS_USE}" tabindex="7" class="brutalform-button-a">{L_TERMS_USE}</a>
					</div>
					<div class="brutalform-box">
						<a href="{U_PRIVACY}" tabindex="6" class="brutalform-button-a">{L_PRIVACY}</a>
					</div>
					<!-- ENDIF -->
			</div>
		</div>
		</fieldset>

		<h2 class="login-title"><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE --><!-- ENDIF --></h2>

	<!-- IF not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE -->
		<!-- INCLUDE {PROVIDER_TEMPLATE_FILE} -->
	<!-- ENDIF -->
	</div>
</div>



</form>

<!-- INCLUDE overall_footer.html -->
