<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

<h2>{L_WARN_USER}</h2>

<div class="panel fbr-settings-panel bg3">
	<div class="inner fbr-big">


		<div class="fbr-left-big">
			<dl>
				<!-- IF AVATAR_IMG --><dt class="profile-avatar">{AVATAR_IMG}</dt><!-- ENDIF -->
				<dt>{USERNAME_FULL}</dt>
				<!-- IF RANK_TITLE --><dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dd>{RANK_IMG}</dd><!-- ENDIF -->
			</dl>
		</div>

		<div class="fbr-right-big">
			<dl class="details">

				<div class="fbr">
					<dt class="fbr-left"><label>{L_JOINED}{L_COLON}</label></dt>
					<dd class="fbr-right">{JOINED}</dd>
				</div>
				<div class="fbr">
					<dt class="fbr-left"><label>{L_TOTAL_POSTS}{L_COLON}</label></dt>
					<dd class="fbr-right">{POSTS}</dd>
				</div>
				<div class="fbr">
					<dt class="fbr-left"><label>{L_WARNINGS}{L_COLON}</label></dt>
					<dd class="fbr-right">{WARNINGS}</dd>
				</div>
			</dl>
		</div>

	</div>
</div>

<!-- EVENT mcp_warn_user_add_warning_field_before -->

<div class="panel fbr-settings-panel">
	<div class="inner">

	<p class="info-paragraph">{L_ADD_WARNING_EXPLAIN}</p>

	<fieldset>
		<div class="fbr">
			<div class="fbr-left phantom-label"><label>{L_ADD_WARNING}</label></div>
			<div class="fbr-right">
				<textarea name="warning" id="warning" class="inputbox" cols="40" rows="3" placeholder="{L_ADD_WARNING}"></textarea>
			</div>
		</div>
		<!-- IF S_CAN_NOTIFY -->
		<br /><br />
		<label for="notify_user">
			<div class="fbr fbr-checkbox">
				<div class="fbr-left"><input type="checkbox" name="notify_user" checked="checked" /></div>
				<div class="fbr-right">{L_NOTIFY_USER_WARN}</div>
			</div>
		</label>
		<!-- ENDIF -->
	</fieldset>

	</div>
</div>

<!-- EVENT mcp_warn_user_add_warning_field_after -->

<fieldset class="submit-buttons flex-box-form">
	<div class="flex-box-container">
		<div class="flex-box"><input type="submit" name="action[add_warning]" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box justify-content-center"></div>
		{S_FORM_TOKEN}
	</div>
</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->
