<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<!-- IF not S_PM -->
<fieldset class="forum-selection">
	<label for="fo">{L_FORUM}{L_COLON} <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
	<input type="submit" name="sort" value="{L_GO}" class="button2" />
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->


<div class="panel">
	<div class="inner">

	<p class="fbr-m-info">{L_EXPLAIN}</p>

	<!-- IF .postrow -->

		<ul class="topiclist missing-column">
			<li class="header">
				<dl>
					<dt><div class="list-inner">{L_VIEW_DETAILS}</div></dt>
					<dd class="moderation"><span>{L_REPORTER}<!-- IF not S_PM --> &amp; {L_FORUM}<!-- ENDIF --></span></dd>
					<dd class="mark">{L_MARK}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist missing-column">

		<!-- BEGIN postrow -->
			<li class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->" onclick="window.location.href='{postrow.U_VIEW_DETAILS}'">
				<dl>
					<!-- IF S_PM -->
					<dt>
						<div class="list-inner">
							<a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.PM_SUBJECT}</a> <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <br />
							<span>{L_MESSAGE_BY_AUTHOR} {postrow.PM_AUTHOR_FULL} &raquo; {postrow.PM_TIME}</span><br />
							<span>{L_MESSAGE_TO} {postrow.RECIPIENTS}</span>
							<div class="responsive-show" style="display: none;">
								{L_REPORTER}{L_COLON} {postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}
							</div>
						</div>
					</dt>
					<dd class="moderation">
						<span>{postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}</span>
					</dd>
					<!-- ELSE -->
					<dt>
						<div class="list-inner">
							<a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.POST_SUBJECT}</a> <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <br />
							<span>{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} &raquo; {postrow.POST_TIME}</span>
							<div class="responsive-show" style="display: none;">
								{L_REPORTER}{L_COLON} {postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}<br />
								<!-- IF postrow.U_VIEWFORUM -->{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF -->
							</div>
						</div>
					</dt>
					<dd class="moderation">
						<span>{postrow.REPORTER_FULL} &laquo; {postrow.REPORT_TIME}<br />
						<!-- IF postrow.U_VIEWFORUM -->{L_FORUM}{L_COLON} <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF --></span>
					</dd>
					<!-- ENDIF -->
					<dd class="mark"><input onclick="event.stopPropagation()" type="checkbox" name="report_id_list[]" value="{postrow.REPORT_ID}" /></dd>
				</dl>
			</li>
		<!-- END postrow -->
		</ul>

		<div class="action-bar bottom">
			<!-- INCLUDE display_options.html -->
			<!-- IF TOPIC_ID --><label class="sort-tools-checkbox"><input type="checkbox" class="radio" name="t" value="{TOPIC_ID}" checked="checked" onClick="document.getElementById('mcp').submit()" /> <strong>{L_ONLY_TOPIC}</strong></label><!-- ENDIF -->

		</div>

	<!-- ELSE -->
		<p class="text-align-c"><strong>{L_NO_REPORTS}</strong></p>
	<!-- ENDIF -->

	</div>
</div>

<!-- IF .postrow -->
	<fieldset class="display-actions flex-box-form">
		<div class="flex-box-o">
			<div class="flex-box"><input class="button" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]" /></div>
			<div class="flex-box"><!-- IF not S_CLOSED --><input class="button" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}" /><!-- ENDIF --></div>
			<div><a href="#" onclick="marklist('mcp', 'report_id_list', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('mcp', 'report_id_list', false); return false;">{L_UNMARK_ALL}</a></div>
		</div>
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
