<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">


<div class="panel settings-panel">
	<div class="inner">

	<fieldset>
		<div class="flex-columns">
			<div class="column-left phantom-label"><label for="username">{L_SELECT_USER}</label></div>
			<div class="column-right search-user">
				<a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;" title="{L_FIND_USERNAME}"><i class="fa fa-search"></i></a>
				<input name="username" id="username" type="text" class="inputbox" placeholder="{L_SELECT_USER}" />
			</div>
		</div>
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	<div class="flex-box-container">
		<div class="flex-box"><input type="submit" name="submituser" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box justify-content-center"></div>
		{S_FORM_TOKEN}
	</div>
</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->
