<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

<h2>{L_MCP_WARN_POST}</h2>

<div class="panel settings-panel">
	<div class="inner flex-columns-big">


		<div class="column-left-big">
			<dl>
				<!-- IF AVATAR_IMG --><div>{AVATAR_IMG}</div><!-- ENDIF -->
				<!-- IF USER_COLOR --><span style="color: #{USER_COLOR}">{USERNAME}</span><!-- ELSE -->{USERNAME}<!-- ENDIF -->
				<!-- IF RANK_TITLE --><dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dd>{RANK_IMG}</dd><!-- ENDIF -->
			</dl>
		</div>

		<div class="column-right-big">
			<dl class="details">

				<div class="flex-columns">
					<dt class="column-left"><label>{L_JOINED}{L_COLON}</label></dt>
					<dd class="column-right">{JOINED}</dd>
				</div>
				<div class="flex-columns">
					<dt class="column-left"><label>{L_TOTAL_POSTS}{L_COLON}</label></dt>
					<dd class="column-right">{POSTS}</dd>
				</div>
				<div class="flex-columns">
					<dt class="column-left"><label>{L_WARNINGS}{L_COLON}</label></dt>
					<dd class="column-right">{WARNINGS}</dd>
				</div>
			</dl>
		</div>

	</div>
</div>

<div class="panel">
	<div class="inner">

	<h2>{L_POST_DETAILS}</h2>

	<div class="postbody bg1">

		<div class="content">
			{POST}
		</div>

	</div>

	</div>
</div>

<!-- EVENT mcp_warn_post_add_warning_field_before -->

<div class="panel settings-panel">
	<div class="inner">

	<p class="info-paragraph">{L_ADD_WARNING_EXPLAIN}</p>

	<fieldset>
		<div class="flex-columns">
			<div class="column-left phantom-label"><label>{L_ADD_WARNING}</label></div>
			<div class="column-right">
				<textarea name="warning" id="warning" class="inputbox" cols="40" rows="3" placeholder="{L_ADD_WARNING}">{L_WARNING_POST_DEFAULT}</textarea>
			</div>
		</div>
		<!-- IF S_CAN_NOTIFY -->
		<label for="notify_user">
			<div class="flex-columns with-checkbox">
				<div class="column-left"><input type="checkbox" name="notify_user" id="notify_user" checked="checked" /></div>
				<div class="column-right">{L_NOTIFY_USER_WARN}</label>
			</div>
		</div>
		<!-- ENDIF -->
	</fieldset>

	</div>
</div>

<!-- EVENT mcp_warn_post_add_warning_field_after -->

<fieldset class="submit-buttons">
	<div class="flex-box-container">
		<div class="flex-box"><input type="submit" name="action[add_warning]" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box justify-content-center"></div>
		{S_FORM_TOKEN}
	</div>
</fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->
