<!-- IF S_AJAX_REQUEST -->

	<h3>{MESSAGE_TITLE}</h3>
	<p class="info-paragraph">{MESSAGE_TEXT}</p>

	<!-- IF ADDITIONAL_MSG --><p class="info-paragraph">{ADDITIONAL_MSG}</p><!-- ENDIF -->

	<div class="settings-panel">
		<label>
			<div class="flex-columns">
				<div class="column-left">{L_SELECT_DESTINATION_FORUM}</div>
				<div class="column-right"><select name="to_forum_id">{S_FORUM_SELECT}</select></div>
			</div>
		</label>

		<!-- IF S_CAN_LEAVE_SHADOW -->
			<label for="move_leave_shadow">
				<div class="flex-columns with-checkbox">
					<div class="column-left"><input type="checkbox" name="move_leave_shadow" id="move_leave_shadow" /></div>
					<div class="column-right">{L_LEAVE_SHADOW}</div>
				</div>
			</label>
		<!-- ENDIF -->

		<!-- IF S_CAN_LOCK_TOPIC -->
			<label for="move_lock_topics">
				<div class="flex-columns with-checkbox">
					<div class="column-left"><input type="checkbox" name="move_lock_topics" id="move_lock_topics" /></div>
					<div class="column-right">{L_LOCK_TOPIC}</div>
				</div>
			</label>
		<!-- ENDIF -->
	</div>

	<fieldset class="submit-buttons">
		<div class="flex-box-container">
			<div class="flex-box"><input type="button" name="confirm" value="{YES_VALUE}" class="button" /></div>
			<div class="flex-box justify-content-center"><input type="button" name="cancel" value="{L_NO}" class="button2" /></div>
		</div>
	</fieldset>

<!-- ELSE -->

<!-- INCLUDE overall_header.html -->

<!-- EVENT mcp_move_before -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">

<div class="panel settings-panel">
	<div class="inner">

	<div class="content">
		<h2 class="message-title">{MESSAGE_TITLE}</h2>
		<!-- IF ADDITIONAL_MSG --><p>{ADDITIONAL_MSG}</p><!-- ENDIF -->

		<fieldset>
		{% EVENT mcp_move_destination_forum_before %}
		<div class="fields2 flex-columns">
			<div class="column-left"><label>{L_SELECT_DESTINATION_FORUM}</label></div>
			<div class="column-right"><select name="to_forum_id">{S_FORUM_SELECT}</select></div>
		</div>

		<!-- IF S_CAN_LEAVE_SHADOW or S_CAN_LOCK_TOPIC --><hr class="dashed" /><!-- ENDIF -->

		<!-- IF S_CAN_LEAVE_SHADOW -->
		<label for="move_leave_shadow">
			<div class="fields2 flex-columns with-checkbox">
				<div class="column-left"><input type="checkbox" name="move_leave_shadow" id="move_leave_shadow" /></div>
				<div class="column-right">{L_LEAVE_SHADOW}</div>
			</div>
		</label>
		<!-- ENDIF -->
		<!-- IF S_CAN_LOCK_TOPIC -->
		<label for="move_lock_topics">
			<div class="fields2 flex-columns with-checkbox">
				<div class="column-left"><input type="checkbox" name="move_lock_topics" id="move_lock_topics" /></div>
				<div class="column-right">{L_LOCK_TOPIC}</div>
			</div>
		</label>
		<!-- ENDIF -->
		{% EVENT mcp_move_destination_forum_after %}

		<hr class="dashed" />

		<p class="info-paragraph">{MESSAGE_TEXT}</p>
		</fieldset>

		<fieldset class="submit-buttons">
			<div class="flex-box-container">
				{S_HIDDEN_FIELDS}
				<div class="flex-box"><input type="submit" name="confirm" value="{YES_VALUE}" class="button" /></div>
				<div class="flex-box justify-content-center"><input type="submit" name="cancel" value="{L_NO}" class="button2" /></div>
				{S_FORM_TOKEN}
			</div>
		</fieldset>

	</div>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
