<!-- INCLUDE mcp_header.html -->

<script>
	var ban_length = new Array();
		ban_length[-1] = '';
	var ban_reason = new Array();
		ban_reason[-1] = '';
	var ban_give_reason = new Array();
		ban_give_reason[-1] = '';

	<!-- BEGIN bans -->
		ban_length['{bans.BAN_ID}'] = '{{ bans.A_LENGTH }}';
		<!-- IF bans.A_REASON -->
			ban_reason['{bans.BAN_ID}'] = '{{ bans.REASON | e('js') }}';
		<!-- ENDIF -->
		<!-- IF bans.A_GIVE_REASON -->
			ban_give_reason['{bans.BAN_ID}'] = '{{ bans.GIVE_REASON | e('js') }}';
		<!-- ENDIF -->
	<!-- END bans -->

	function display_details(option)
	{
		document.getElementById('unbanlength').innerHTML = ban_length[option];
		if (option in ban_reason) {
			document.getElementById('unbanreason').innerHTML = ban_reason[option];
		} else {
			document.getElementById('unbanreason').innerHTML = '';
		}
		if (option in ban_give_reason) {
			document.getElementById('unbangivereason').innerHTML = ban_give_reason[option];
		} else {
			document.getElementById('unbangivereason').innerHTML = '';
		}
	}
</script>

<form id="mcp_ban" method="post" action="{U_ACTION}">


<div class="panel settings-panel">
	<div class="inner">

	<h2>{L_TITLE}</h2>
	<p class="info-paragraph">{L_EXPLAIN}</p>

	<fieldset>
	<!-- EVENT mcp_ban_fields_before -->
	<div class="flex-columns">
		<div class="column-left phantom-label"><label for="ban">{L_BAN_CELL}</label></div>
		<div class="column-right search-user">
			<!-- IF S_USERNAME_BAN --><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;" title="{L_FIND_USERNAME}"><i class="fa fa-search"></i></a><!-- ENDIF -->
			<label for="ban"><textarea name="ban" id="ban" class="inputbox" cols="40" rows="3" placeholder="{L_BAN_CELL}">{BAN_QUANTIFIER}</textarea></label>
		</div>
	</div>
	<div class="flex-columns">
		<div class="column-left"><label for="banlength">{L_BAN_LENGTH}</label></div>
		<div class="column-right">
			<label for="banlength">
				<select name="banlength" id="banlength" onchange="if(this.value==-1){document.getElementById('banlengthother').style.display = 'block';}else{document.getElementById('banlengthother').style.display='none';}">{S_BAN_END_OPTIONS}</select>
			</label>
			<div id="banlengthother" style="display: none;">
				<label><input type="text" name="banlengthother" class="inputbox" /><br /><span>{L_YEAR_MONTH_DAY}</span></label>
			</div>
		</div>
	</div>
	<div class="flex-columns">
		<div class="column-left phantom-label"><label for="banreason">{L_BAN_REASON}</label></div>
		<div class="column-right"><input name="banreason" id="banreason" type="text" class="inputbox" maxlength="255" placeholder="{L_BAN_REASON}" /></div>
	</div>
	<div class="flex-columns">
		<div class="column-left phantom-label"><label for="bangivereason">{L_BAN_GIVE_REASON}</label></div>
		<div class="column-right"><input name="bangivereason" id="bangivereason" type="text" class="inputbox" maxlength="255" placeholder="{L_BAN_GIVE_REASON}" /></div>
	</div>

	<hr />

	<div class="flex-columns">
		<div class="column-left"><label for="banexclude0">{L_BAN_EXCLUDE}</label><span class="phantom-label">{L_BAN_EXCLUDE_EXPLAIN}</span></div>
		<div class="column-right flex-direction-row">
			<label for="banexclude1"><input type="radio" name="banexclude" id="banexclude1" value="1" /> {L_YES}</label> 
			<label for="banexclude0"><input type="radio" name="banexclude" id="banexclude0" value="0" checked="checked" /> {L_NO}</label>
		</div>
	</div>
	<!-- EVENT mcp_ban_fields_after -->
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	<div class="flex-box-container">
		{S_HIDDEN_FIELDS}
		<div class="flex-box"><input type="submit" name="bansubmit" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box justify-content-center"></div>
		{S_FORM_TOKEN}
	</div>
</fieldset>

<div class="panel settings-panel">
	<div class="inner">

	<h2>{L_UNBAN_TITLE}</h2>
	<p class="info-paragraph">{L_UNBAN_EXPLAIN}</p>

	<!-- IF S_BANNED_OPTIONS -->
		<fieldset>
		<!-- EVENT mcp_ban_unban_before -->
		<div class="flex-columns">
			<div class="column-left"><label for="unban">{L_BAN_CELL}</label></div>
			<div class="column-right"><select name="unban[]" id="unban" multiple="multiple" size="5" onchange="if (this.selectedIndex != -1) {display_details(this.options[this.selectedIndex].value);}">{BANNED_OPTIONS}</select></div>
		</div>
		<div class="flex-columns">
			<div class="column-left"><label for="unbanlength">{L_BAN_LENGTH}</label></div>
			<div class="column-right"><span id="unbanlength"></span></div>
		</div>
		<div class="flex-columns">
			<div class="column-left"><label for="unbanreason">{L_BAN_REASON}</label></div>
			<div class="column-right"><span id="unbanreason"></span></div>
		</div>
		<div class="flex-columns">
			<div class="column-left"><label for="unbangivereason">{L_BAN_GIVE_REASON}</label></div>
			<div class="column-right"><span id="unbangivereason"></span></div>
		</div>
		<!-- EVENT mcp_ban_unban_after -->
		</fieldset>

		</div>
	</div>

	<fieldset class="submit-buttons">
		<div class="flex-box-container">
			{S_HIDDEN_FIELDS}
			<div class="flex-box"><input type="submit" name="unbansubmit" value="{L_SUBMIT}" class="button" /></div>
			<div class="flex-box justify-content-center"></div>
		</div>
	</fieldset>

	<!-- ELSE -->

		<p class="text-align-center"><strong>{L_NO_BAN_CELL}</strong></p>

		</div>
	</div>

	<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->
