<!-- INCLUDE overall_header.html -->


<!-- EVENT memberlist_view_content_prepend -->

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
<div class="panel settings-panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
	<div class="inner flex-columns-container">

	<div class="flex-columns-container-left">

		<dl>
			<!-- IF AVATAR_IMG --><dt class="profile-avatar">{AVATAR_IMG}</dt><!-- ENDIF -->

			<dt><!-- EVENT memberlist_view_username_prepend --><!-- IF USER_COLOR --><span style="color: {USER_COLOR};" class="username-coloured"><!-- ELSE --><span class="username"><!-- ENDIF -->
				{USERNAME}
				<!-- IF S_ONLINE --><div class="fa fa-circle"></div><!-- ENDIF -->
			</span><!-- EVENT memberlist_view_username_append --></dt>

			<!-- EVENT memberlist_view_rank_avatar_before -->
			<!-- IF RANK_TITLE --><dd>{RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF RANK_IMG --><dd>{RANK_IMG}</dd><!-- ENDIF -->
			<!-- EVENT memberlist_view_rank_avatar_after -->
		</dl>

	</div>

	<dl class="flex-columns-container-right details profile-details">

		<div class="flex-columns">
			<dt class="column-left"></dt>
			<dd class="column-right">
				<!-- IF U_EDIT_SELF --><a href="{U_EDIT_SELF}" class="button2">{L_EDIT_PROFILE}</a><!-- ENDIF -->
				<!-- IF U_USER_ADMIN --><a href="{U_USER_ADMIN}" class="button2">{L_USER_ADMIN}</a><!-- ENDIF -->
				<!-- IF U_USER_BAN --><a href="{U_USER_BAN}" class="button2">{L_USER_BAN}</a><!-- ENDIF -->
				<!-- IF U_SWITCH_PERMISSIONS --> <a href="{U_SWITCH_PERMISSIONS}" class="button2">{L_USE_PERMISSIONS}</a><!-- ENDIF -->
			</dd>
		</div>
		<!-- IF not AVATAR_IMG -->
			<!-- EVENT memberlist_view_rank_no_avatar_before -->
			<!-- IF RANK_TITLE -->
			<div class="flex-columns">
				<dt class="column-left"><label>{L_RANK}{L_COLON}</label></dt>
				<dd class="column-right">{RANK_TITLE}</dd>
			</div>
			<!-- ENDIF -->
			<!-- IF RANK_IMG -->
			<div class="flex-columns">
				<dt class="column-left"><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE --><label>{L_RANK}{L_COLON}</label><!-- ENDIF --></dt>
				<dd class="column-right">{RANK_IMG}</dd>
			</div>
			<!-- ENDIF -->
			<!-- EVENT memberlist_view_rank_no_avatar_after -->
		<!-- ENDIF -->
		<!-- IF S_USER_INACTIVE -->
		<div class="flex-columns">
			<dt class="column-left"><label>{L_USER_IS_INACTIVE}{L_COLON}</label></dt>
			<dd class="column-right">{USER_INACTIVE_REASON}</dd>
		</div>
		<!-- ENDIF -->
		<!-- IF AGE !== '' -->
		<div class="flex-columns">
			<dt class="column-left"><label>{L_AGE}{L_COLON}</label></dt>
			<dd class="column-right">{AGE}</dd>
		</div>
		<!-- ENDIF -->
		<!-- IF S_GROUP_OPTIONS -->
		<div class="flex-columns">
			<dt class="column-left"><label>{L_USERGROUPS}{L_COLON}</label></dt>
			<dd class="column-right flex-direction-row"><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}" class="button2" /></dd>
		</div>
		<!-- ENDIF -->
		<!-- EVENT memberlist_view_non_contact_custom_fields_before -->
		<!-- BEGIN custom_fields -->
			<!-- IF not custom_fields.S_PROFILE_CONTACT -->
			<div class="flex-columns">
				<dt class="column-left"><label>{custom_fields.PROFILE_FIELD_NAME}{L_COLON}</label></dt>
				<dd class="column-right">{custom_fields.PROFILE_FIELD_VALUE}</dd>
			</div>
			<!-- ENDIF -->
		<!-- END custom_fields -->
		<!-- EVENT memberlist_view_non_contact_custom_fields_after -->
		<!-- EVENT memberlist_view_zebra_before -->
		<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
			<div class="flex-columns">
				<dt class="column-left"></dt>
				<dd class="column-right flex-direction-row flex-spaced-between zebra">
					<!-- IF U_REMOVE_FRIEND -->
						<a href="{U_REMOVE_FRIEND}" data-ajax="zebra"><strong>{L_REMOVE_FRIEND}</strong></a>
					<!-- ELSEIF U_REMOVE_FOE -->
						<a href="{U_REMOVE_FOE}" data-ajax="zebra"><strong>{L_REMOVE_FOE}</strong></a>
					<!-- ELSE -->
						<!-- IF U_ADD_FRIEND -->
							<a href="{U_ADD_FRIEND}" data-ajax="zebra"><strong>{L_ADD_FRIEND}</strong></a>
						<!-- ENDIF -->
						<!-- IF U_ADD_FOE -->
							<a href="{U_ADD_FOE}" data-ajax="zebra"><strong>{L_ADD_FOE}</strong></a>
						<!-- ENDIF -->
					<!-- ENDIF -->
				</dd>
			</div>
		<!-- ENDIF -->
		<!-- EVENT memberlist_view_zebra_after -->
	</dl>

	</div>
</div>

<!-- EVENT memberlist_view_contact_before -->
<div class="panel settings-panel bg2">
	<div class="inner flex-columns-container">

	<div class="flex-columns-container-left">
		<h2>{L_CONTACT_USER}</h2>

		<dl class="details">
		<!-- IF U_EMAIL -->
		<div class="flex-columns">
			<dt class="column-left"><label><div class="fa fa-at"></div></label></dt>
			<dd class="column-right"><a href="{U_EMAIL}">{L_SEND_EMAIL_USER}</a></dd>
		</div>
		<!-- ENDIF -->
		<!-- IF U_PM -->
		<div class="flex-columns">
			<dt class="column-left"><label><div class="fa fa-envelope"></div></label></dt>
			<dd class="column-right"><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd>
		</div>
		<!-- ENDIF -->
		<!-- IF U_JABBER and S_JABBER_ENABLED -->
		<div class="flex-columns">
			<dt class="column-left"><label>{L_JABBER}{L_COLON}</label></dt>
			<dd class="column-right"><a href="{U_JABBER}" onclick="popup(this.href, 750, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd>
		</div>
		<!-- ELSEIF USER_JABBER -->
		<div class="flex-columns">
			<dt class="column-left"><label>{L_JABBER}{L_COLON}</label></dt>
			<dd class="column-right">{USER_JABBER}</dd>
		</div>
		<!-- ENDIF -->
		<!-- EVENT memberlist_view_contact_custom_fields_before -->
		<!-- BEGIN custom_fields -->
			<!-- IF custom_fields.S_PROFILE_CONTACT -->
			<div class="flex-columns">
				<dt class="column-left"><label>{custom_fields.PROFILE_FIELD_NAME}{L_COLON}</label></dt>
				<!-- IF custom_fields.PROFILE_FIELD_CONTACT -->
					<dd class="column-right"><a href="{custom_fields.PROFILE_FIELD_CONTACT}">{custom_fields.PROFILE_FIELD_DESC}</a></dd>
				<!-- ELSE -->
					<dd class="column-right">{custom_fields.PROFILE_FIELD_VALUE}</dd>
				<!-- ENDIF -->
			</div>
			<!-- ENDIF -->
		<!-- END custom_fields -->
		<!-- EVENT memberlist_view_contact_custom_fields_after -->
		<!-- IF S_PROFILE_FIELD1 -->
			<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<div class="flex-columns">
				<dt class="column-left"><label>{PROFILE_FIELD1_NAME}{L_COLON}</label></dt>
				<dd class="column-right">{PROFILE_FIELD1_VALUE}</dd>
			</div>
		<!-- ENDIF -->
		</dl>
	</div>

	<div class="flex-columns-container-right">
		<h2>{L_USER_FORUM}</h2>
		<dl class="details">
			<!-- EVENT memberlist_view_user_statistics_before -->
			<div class="flex-columns">
				<dt class="column-left"><label>{L_JOINED}{L_COLON}</label></dt>
				<dd class="column-right">{JOINED}</dd>
			</div>

			<div class="flex-columns">
				<dt class="column-left"><label>{L_LAST_ACTIVE}{L_COLON}</label></dt>
				<dd class="column-right">{LAST_ACTIVE}</dd>
			</div>
			<!-- IF S_WARNINGS -->
			<div class="flex-columns">
				<dt class="column-left"><label>{L_WARNINGS}{L_COLON}</label></dt>
				<dd class="column-right flex-direction-row flex-spaced-between">
					<strong>{WARNINGS}</strong>
					<!-- IF U_NOTES or U_WARN -->
						<!-- IF U_NOTES --><a href="{U_NOTES}" class="button2">{L_VIEW_NOTES}</a><!-- ENDIF -->
						<!-- IF U_WARN --><a href="{U_WARN}" class="button2">{L_WARN_USER}</a><!-- ENDIF -->
					<!-- ENDIF -->
				</dd>
			</div>
			<!-- ENDIF -->
			<div class="flex-columns">
				<dt class="column-left"><label>{L_TOTAL_POSTS}{L_COLON}</label></dt>
				<dd class="column-right">{POSTS}
					<!-- IF S_DISPLAY_SEARCH --><strong><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong><!-- ENDIF -->
					<!-- IF POSTS_PCT -->{POSTS_PCT} / {POSTS_DAY}<!-- ENDIF -->
					<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a><!-- ELSEIF POSTS_IN_QUEUE -->{L_POSTS_IN_QUEUE}<!-- ENDIF -->
				</dd>
			</div>
			<!-- EVENT memberlist_view_user_statistics_after -->
			<!-- IF S_SHOW_ACTIVITY and POSTS -->
			<div class="flex-columns">
				<dt class="column-left"><label>{L_ACTIVE_IN_FORUM}{L_COLON}</label></dt>
				<dd class="column-right"><!-- IF ACTIVE_FORUM != '' --><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong>{ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT}<!-- ELSE --> - <!-- ENDIF --></dd>
			</div>
			<div class="flex-columns">
				<dt class="column-left"><label>{L_ACTIVE_IN_TOPIC}{L_COLON}</label></dt>
				<dd class="column-right"><!-- IF ACTIVE_TOPIC != '' --><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong>{ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT}<!-- ELSE --> - <!-- ENDIF --></dd>
			</div>
			<!-- ENDIF -->
		</dl>
	</div>

	</div>
</div>
<!-- EVENT memberlist_view_contact_after -->

<!-- IF SIGNATURE -->
<div class="panel bg1">
	<div class="inner">

		<h2>{L_SIGNATURE}</h2>

		<div class="postbody"><div class="signature standalone">{SIGNATURE}</div></div>

	</div>
</div>
<!-- ENDIF -->

</form>

<!-- EVENT memberlist_view_content_append -->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
