<!-- INCLUDE overall_header.html -->

<!-- EVENT memberlist_email_before -->

<!-- IF S_CONTACT_ADMIN-->
<!-- ELSEIF S_SEND_USER -->
<!-- ELSE -->
	<h2>{L_EMAIL_TOPIC}</h2>
<!-- ENDIF -->

<form method="post" action="{S_POST_ACTION}" id="post">

	<!-- IF not S_CONTACT_ADMIN -->

	<div class="panel fbr-settings-panel">
		<div class="inner">
			<div class="content">

				<!-- IF ERROR_MESSAGE --><p class="error">{ERROR_MESSAGE}</p><!-- ENDIF -->
				<fieldset class="fields2">
				<!-- IF S_SEND_USER -->
				
					<div class="fbr">
						<div class="fbr-left phantom-label"><label>{L_RECIPIENT}</label></div>
						<div class="fbr-right text-align-c"><strong>{USERNAME_FULL}</strong></div>
					</div>
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="subject">{L_SUBJECT}</label></div>
						<div class="fbr-right"><input class="inputbox" type="text" name="subject" id="subject" size="50" tabindex="1" value="{SUBJECT}" autocomplete="off" placeholder="{L_SUBJECT}" /></div>
					</div>
					
				<!-- ELSEIF S_CONTACT_ADMIN -->
				
					<!-- IF not S_IS_REGISTERED -->
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="email">{L_SENDER_EMAIL_ADDRESS}</label></div>
						<div class="fbr-right"><input class="inputbox" type="text" name="email" id="email" size="50" maxlength="100" tabindex="1" value="{EMAIL}" placeholder="{L_SENDER_EMAIL_ADDRESS}" /></div>
					</div>
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="name">{L_SENDER_NAME}</label></div>
						<div class="fbr-right"><input class="inputbox" type="text" name="name" id="name" size="50" tabindex="2" value="{NAME}" placeholder="{L_SENDER_NAME}" /></div>
					</div>
					<!-- ENDIF -->

					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="subject">{L_SUBJECT}</label></div>
						<div class="fbr-right"><input class="inputbox" type="text" name="subject" id="subject" size="50" tabindex="3" value="{SUBJECT}" autocomplete="off" placeholder="{L_SUBJECT}" /></div>
					</div>
					
				<!-- ELSE -->
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="email">{L_EMAIL_ADDRESS}</label></div>
						<div class="fbr-right"><input class="inputbox" type="email" name="email" id="email" size="50" maxlength="100" tabindex="2" value="{EMAIL}" placeholder="{L_EMAIL_ADDRESS}" /></div>
					</div>
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="name">{L_REAL_NAME}</label></div>
						<div class="fbr-right"><input class="inputbox" type="text" name="name" id="name" size="50" tabindex="3" value="{NAME}" placeholder="{L_REAL_NAME}" /></div>
					</div>
					<div class="fbr">
						<div class="fbr-left phantom-label"><label for="lang">{L_DEST_LANG}</label><span>{L_DEST_LANG_EXPLAIN}</span></div>
						<div class="fbr-right"><select name="lang">{S_LANG_OPTIONS}</select></div>
					</div>
				<!-- ENDIF -->
				<div class="fbr">
					<div class="fbr-left phantom-label"><label for="message">{L_MESSAGE_BODY}</label><span>{L_EMAIL_BODY_EXPLAIN}</span></div>
					<div class="fbr-right"><textarea class="inputbox" name="message" id="message" rows="15" cols="76" tabindex="4">{MESSAGE}</textarea></div>
				</div>
				<!-- IF S_REGISTERED_USER -->
				<label for="cc_sender">
					<div class="fbr">
						<div class="fbr-left"><input type="checkbox" name="cc_sender" id="cc_sender" value="1" checked="checked" tabindex="5" /></div>
						<div class="fbr-right">{L_CC_SENDER}</div>
					</div>
				</label>
				<!-- ENDIF -->
				</fieldset>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="inner">
			<div class="content">
				<fieldset class="submit-buttons flex-box-form">
					<div class="flex-box-o">
						<div class="flex-box"><input type="submit" tabindex="6" name="submit" class="button" value="{L_SEND_EMAIL}" /></div>
						<div class="flex-box fb-c"></div>
					</div>
				</fieldset>
			</div>
		</div>
		{S_FORM_TOKEN}
	</div>

	<!-- ENDIF -->

	<!-- IF CONTACT_INFO -->
	<div class="panel">
		<div class="inner">
			<div class="postbody">
				<div class="content">
					{CONTACT_INFO}
				</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->

</form>

<!-- INCLUDE overall_footer.html -->