<div class="navbar" role="navigation">
	<div class="inner">
		<ul class="topiclist forums">
		
			<div id="nav-footer" class="" role="menubar">

				<!-- IF SCRIPT_NAME == 'viewforum' || SCRIPT_NAME == 'viewtopic' -->
					<!-- IF S_DISPLAY_ONLINE_LIST -->
						<div class="stat-block online-list">
							<p class="see_online">
							<!-- IF U_VIEWONLINE and S_USER_LOGGED_IN -->
								<a href="{U_VIEWONLINE}">{LOGGED_IN_USER_LIST}</a><a href="{U_VIEWONLINE}" class="fa fa-globe fa-lg"></a>
							<!-- ENDIF -->
							</p>
						</div>
					<!-- ENDIF -->
				<!-- ENDIF -->
			
				<!-- IF U_CONTACT_US -->
					<a href="{U_CONTACT_US}" title="{L_CONTACT_US} / {L_FORUM_RULES}" role="menuitem" id="m_kon"><div class="fa fa-info fa-lg"></div></a>
				<!-- ENDIF -->
			
				<!-- IF not S_IS_BOT -->
					<a href="{U_DELETE_COOKIES}" title="{L_DELETE_COOKIES}" role="menuitem" id="m_del" data-ajax="true" data-refresh="true"><div class="fa fa-trash-o fa-lg"></div></a>
				<!-- ENDIF -->

			</div>
			
		</ul>
	</div>
</div>
