		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

<div id="page-footer" class="page-footer" role="contentinfo">
	<!-- INCLUDE navbar_footer.html -->

	<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<div class="alert_text"></div>
	</div>
</div>

</div>

	<div class="copyright">
		<!-- EVENT overall_footer_copyright_prepend -->
		<!-- EVENT overall_footer_copyright_append -->
		<!-- IF DEBUG_OUTPUT -->
		<p class="footer-row">
			<span class="footer-info">{{ DEBUG_OUTPUT }}</span>
		</p>
		<!-- ENDIF -->
		<!-- IF U_ACP -->
		<p class="footer-row">
			<a class="footer-link text-strong" href="{{ U_ACP }}">{{ lang('ACP') }}</a>
		</p>
		<!-- ENDIF -->
		<!-- IF not U_ACP --><p class="footer-row empty-footer-row"></p><!-- ENDIF -->

		<div id="sigil">
			<a href='<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->' class="<!-- IF S_REGISTERED_USER -->sigil-top<!-- ELSE -->sigil-all<!-- ENDIF -->"></a>
			<!-- IF S_REGISTERED_USER -->
				<a href='<!-- IF U_SITE_HOME -->{U_SITE_HOME}#ugh<!-- ELSE -->{U_INDEX}#ugh<!-- ENDIF -->' class="sigil-bottom"></a>
			<!-- ENDIF -->
		</div>
	</div>

<div>
	<a id="bottom" class="anchor" accesskey="z"></a>
	{% if not S_IS_BOT %}{{ RUN_CRON_TASK }}{% endif %}
</div>

<script src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery-3.7.1.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script><!-- ENDIF -->
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<!-- IF S_ALLOW_CDN -->
	<script>
		(function($){
			var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
				$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
			if ($span.css('fontFamily') !== 'FontAwesome' ) {
				$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
				$fa_cdn.remove();
			}
			$span.remove();
		})(jQuery);
	</script>
<!-- ENDIF -->

<script src="{ROOT_PATH}styles/prosilver_se/template/skrypty.js?assets_version={T_ASSETS_VERSION}"></script>

<script>
$(document).ready(function(){

	var timeoutId = 0;

	$("#m-feed .menu-devil").on('mouseenter click', function() {
		var doc = document.getElementById('lista-top-five').innerHTML;

		timeoutId = setTimeout( function(){
			console.log("timoutowane");
			if(doc == ''){
				doc = `<!-- BEGIN top_five_topic -->
					<!-- IF top_five_topic.NO_TOPIC_TITLE-->
						{top_five_topic.NO_TOPIC_TITLE}
					<!-- ELSE -->
						<div class="flex <!-- IF top_five_topic.S_ROW_COUNT is odd -->m-row1<!-- ELSE -->m-row2<!-- ENDIF --> m-list-all">
							<div class="m-list-left" onclick="window.location.href='<!-- IF top_five_topic.S_UNREAD -->{top_five_topic.U_TOPIC_UNREAD}<!-- ELSE -->{top_five_topic.U_TOPIC}<!-- ENDIF -->'" title="<!-- IF top_five_topic.S_UNREAD -->{L_VIEW_NEWEST_POST}<!-- ELSE -->{L_GOTO_LAST_POST}<!-- ENDIF -->">
								<a href="<!-- IF top_five_topic.S_UNREAD -->{top_five_topic.U_TOPIC_UNREAD}<!-- ELSE -->{top_five_topic.U_TOPIC}<!-- ENDIF -->" class="flex topictitle<!-- IF top_five_topic.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF --> m-list-left-top">
									{top_five_topic.TOPIC_TITLE}
								</a>
								<span class="flex meta m-list-left-bottom"><a href="{top_five_topic.U_FORUM}" class="topic-forumtitle<!-- IF top_five_topic.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="{L_JUMP_TO} {L_FORUM_SMALL}">{top_five_topic.FORUM_NAME}</a></span>											
							</div>
							<span class="flex meta m-list-right" onclick="window.location.href='{top_five_topic.U_TOPIC}'" title="{L_GOTO_LAST_POST}">
								<div class="m-list-right-top">{top_five_topic.USERNAME_FULL}</div>
								<div class="m-list-right-bottom">{top_five_topic.LAST_TOPIC_TIME}</div>
							</span>
						</div>
					<!-- ENDIF -->
				<!-- END top_five_topic -->`;

				document.getElementById('lista-top-five').innerHTML = doc;
				console.log("loaded");
			}
		} , 150);

	}).on('mouseup mouseleave', function() {
		clearTimeout(timeoutId);
	});

});

</script>

<!-- IF S_RH_TOPICTAGS_INCLUDE_NG_TAGS_INPUT -->
	<!-- IF S_ALLOW_CDN -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<!-- ELSE -->
		<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/angular.min.js"></script>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_RH_TOPICTAGS_INCLUDE_NG_TAGS_INPUT -->
	<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/ng-tags-278.js"></script>
<!-- ELSE -->

	<!-- IF SCRIPT_NAME == 'insane' -->
		<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/ng-tags-279.js"></script>
	<!-- ENDIF -->

<!-- ENDIF -->

<!-- IF S_RH_TOPICTAGS_INCLUDE_NG_TAGS_INPUT -->
	<script src="{ROOT_PATH}ext/robertheim/topictags/styles/all/angular/taginput.app.js"></script>
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script>
		if (typeof window.cookieconsent === "object") {
			window.addEventListener("load", function(){
				window.cookieconsent.initialise({
					"palette": {
						"popup": {
							"background": "#0F538A"
						},
						"button": {
							"background": "#E5E5E5"
						}
					},
					"theme": "classic",
					"content": {
						"message": "{LA_COOKIE_CONSENT_MSG}",
						"dismiss": "{LA_COOKIE_CONSENT_OK}",
						"link": "{LA_COOKIE_CONSENT_INFO}",
						"href": "{UA_PRIVACY}"
					}
				});
			});
		}
	</script>
<!-- ENDIF -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

</body>
</html>
