<ul>
<!-- BEGIN pagination -->
	<!-- IF pagination.S_IS_PREV -->
	<li><a class="previous fa fa-chevron-left" href="{pagination.PAGE_URL}" rel="prev"></a></li>
	<!-- ELSEIF pagination.S_IS_CURRENT -->
	<li class="active"><span>{pagination.PAGE_NUMBER}</span></li>
	<!-- ELSEIF pagination.S_IS_ELLIPSIS and BASE_URL and TOTAL_PAGES > 6 -->
	<li class="fbr-m rozwijany-box menu-toggle">
		<a class="fbr-m-devil fa fa-ellipsis-h rozwijany-box-devil menu-devil"></a>
		<div class="fbr-m-all rozwijany-box-all menu-all">
			<div class="fbr-m-info">{L_JUMP_TO_PAGE}</div>
			<div class="page-jump-form">
				<input type="number" name="page-number" min="1" max="999999" placeholder="{L_JUMP_PAGE_NR}" class="inputbox tiny" data-per-page="{PER_PAGE}" data-base-url="{BASE_URL|e('html_attr')}" data-start-name="{START_NAME}" />
				<input class="button1" title="{L_JUMP_TO_PAGE_CLICK}" value="{L_JUST_OK}" type="button" />
			</div>
		</div>
	</li>
	<!-- ELSEIF pagination.S_IS_ELLIPSIS -->
	<div class="fa fa-ellipsis-h" role="separator"></div>
	<!-- ELSEIF pagination.S_IS_NEXT -->
	<li><a class="next fa fa-chevron-right" href="{pagination.PAGE_URL}" rel="next"></a></li>
	<!-- ELSE -->
	<li><a href="{pagination.PAGE_URL}" role="button">{pagination.PAGE_NUMBER}</a></li>
	<!-- ENDIF -->
<!-- END pagination -->
</ul>
