
<h2 id="review" class="review">
	<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
	{L_TOPIC_REVIEW}{L_COLON} {TOPIC_TITLE}
</h2>

<div id="topicreview" class="topicreview">
<script>
	bbcodeEnabled = {S_BBCODE_ALLOWED};
</script>
	<!-- BEGIN topic_review_row -->

	<!-- IF topic_review_row.S_IGNORE_POST -->
	<div class="post bg3 post-ignore">
		<div class="inner">
			<p class="fbr-m-info">{topic_review_row.L_IGNORE_POST}</p>
			<p class="fbr-m-info"><strong>
			<a class="display_post_review" href="{{ post_review_row.U_MINI_POST }}">{{ lang('POST_DISPLAY') }}</a>
			</strong></p>
	<!-- ELSE IF topic_review_row.S_POST_DELETED -->
	<div class="post bg3 post-ignore">
		<div class="inner">
			<p class="fbr-m-info">{topic_review_row.L_DELETE_POST}</p>
			<p class="fbr-m-info"><strong>
			<a class="display_post_review" href="{{ post_review_row.U_MINI_POST }}">{{ lang('POST_DISPLAY') }}</a>
			</strong></p>
	<!-- ELSE -->
	<div class="post <!-- IF topic_review_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF --><!-- IF topic_review_row.POST_ID == REPORTED_POST_ID --> reported<!-- ENDIF -->">
		<div class="inner">
	<!-- ENDIF -->

		<div class="postbody" id="pr{topic_review_row.POST_ID}">
			<h3><a href="{topic_review_row.U_MINI_POST}">{topic_review_row.POST_SUBJECT}</a></h3>

			<!-- IF (topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE) or topic_review_row.U_MCP_DETAILS -->
			<!-- DEFINE $SHOW_POST_BUTTONS = (topic_review_row.U_MCP_DETAILS or (topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE)) -->
			<!-- IF not S_IS_BOT -->
			<!-- IF $SHOW_POST_BUTTONS -->
			<ul class="post-buttons" data-skip-responsive="true">
			<div id="post-buttons-row-1">					
			<!-- IF topic_review_row.U_MCP_DETAILS -->
				<li>
					<a href="{topic_review_row.U_MCP_DETAILS}" title="{L_POST_DETAILS}" class="button-icon-only">
						<div class="fa fa-info fa-2x" aria-hidden="true"></div><span class="sr-only">{L_POST_DETAILS}</span>
					</a>
				</li>
			<!-- ENDIF -->
			<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
				<li>
					<a href="#postingbox" onclick="addquote({topic_review_row.POST_ID}, '{topic_review_row.POSTER_QUOTE}', '{LA_WROTE}', {post_id:{topic_review_row.POST_ID},time:{topic_review_row.POST_TIME},user_id:{topic_review_row.USER_ID}});" title="{L_QUOTE} {topic_review_row.POST_AUTHOR}" class="button-icon-only">
						<div class="fa fa-quote-right fa-2x" aria-hidden="true"></div><span class="sr-only">{L_QUOTE} {topic_review_row.POST_AUTHOR}</span>
					</a>
				</li>
			<!-- ENDIF -->
			</div>
			</ul>
			<!-- ENDIF -->
			<!-- ENDIF -->

			<!-- EVENT posting_topic_review_row_post_details_before -->
			<!-- ENDIF -->
			<p class="author">
				<!-- EVENT posting_topic_review_row_post_author_username_prepend --><span>{topic_review_row.POST_AUTHOR_FULL}</span><!-- EVENT posting_topic_review_row_post_author_username_append --> {topic_review_row.POST_DATE}
			</p>
			<!-- EVENT posting_topic_review_row_post_details_after -->

			<div class="content">{topic_review_row.MESSAGE}</div>

			<!-- EVENT posting_topic_review_row_content_after -->

			<!-- IF topic_review_row.S_HAS_ATTACHMENTS -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{topic_review_row.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE -->
				<div id="message_{topic_review_row.POST_ID}" style="display: none;">{topic_review_row.DECODED_MESSAGE}</div>
			<!-- ENDIF -->
		</div>
		</div>
	</div>
	<!-- END topic_review_row -->
</div>