<form method="post" action="{U_QR_ACTION}" id="qr_postform" class="brutalform">
<!-- EVENT quickreply_editor_panel_before -->
	<div class="panel">
		<div class="inner">
				<fieldset class="fields1">
				<!-- EVENT quickreply_editor_subject_before -->
				<!-- EVENT quickreply_editor_message_before -->
				<div id="message-box" class="message-box">
					<textarea style="height: 9em;" name="message" rows="7" cols="76" tabindex="1" class="inputbox" id="message"></textarea>
				</div>
				<!-- EVENT quickreply_editor_message_after -->
				</fieldset>
				<fieldset class="submit-buttons">
					{S_FORM_TOKEN}
					{QR_HIDDEN_FIELDS}
					<div class="flex-columns">
						<div class="flex-column-left">
							<input type="submit" tabindex="2" name="post" value="{L_SUBMIT}" class="button" />
						</div>
						<div class="flex-column-right">
							<input type="submit" accesskey="f" tabindex="3" name="preview" value="{L_FULL_EDITOR}" class="button1" id="qr_full_editor" />
						</div>
					</div>
				</fieldset>
		</div>
	</div>
<!-- EVENT quickreply_editor_panel_after -->
</form>
