<!-- INCLUDE ucp_header.html -->

<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel fbr-settings-panel">
	<div class="inner">

	<p class="info-paragraph">{L_SIGNATURE_EXPLAIN}</p>

	<!-- DEFINE $SIG_EDIT = 1 -->
	<!-- INCLUDE posting_editor.html -->
	<br />
	<fieldset>
		{% EVENT ucp_profile_signature_posting_editor_options_prepend %}
		<!-- IF S_BBCODE_ALLOWED -->
			<div class="fbr fbr-checkbox">
				<div class="fbr-left"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /></div>
				<div class="fbr-right"><label for="disable_bbcode">{L_DISABLE_BBCODE}</label></div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<div class="fbr fbr-checkbox">
				<div class="fbr-left"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /></div>
				<div class="fbr-right"><label for="disable_smilies">{L_DISABLE_SMILIES}</label></div>
			</div>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<div class="fbr fbr-checkbox">
				<div class="fbr-left"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /></div>
				<div class="fbr-right"><label for="disable_magic_url">{L_DISABLE_MAGIC_URL}</label></div>
			</div>
		<!-- ENDIF -->

	</fieldset>

	</div>
</div>

<!-- IF SIGNATURE_PREVIEW != '' -->
	<div class="panel">
		<div class="inner">
		<h2>{L_SIGNATURE_PREVIEW}{L_COLON}</h2>
		<div class="postbody">
			<div class="signature standalone">{SIGNATURE_PREVIEW}</div>
		</div>
		</div>
	</div>
<!-- ENDIF -->

<fieldset class="submit-buttons flex-box-form">
	<div class="flex-box-o">
		{S_HIDDEN_FIELDS}
		<div class="flex-box"><input type="submit" name="submit" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box justify-content-center">
			<input type="submit" name="preview" value="{L_PREVIEW}" class="button1" />
		</div>
	</div>
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->
