<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>


<div class="panel fbr-settings-panel">
	<div class="inner">

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<!-- EVENT ucp_prefs_personal_prepend -->
	<div class="fbr">
		<div class="fbr-left"><label for="viewemail0">{L_SHOW_EMAIL}</label></div>
		<div class="fbr-right fb-s">
			<label for="viewemail1"><input type="radio" name="viewemail" id="viewemail1" value="1"<!-- IF S_VIEW_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="viewemail0"><input type="radio" name="viewemail" id="viewemail0" value="0"<!-- IF not S_VIEW_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</div>
	</div>
	<div class="fbr">
		<div class="fbr-left"><label for="massemail1">{L_ADMIN_EMAIL}</label></div>
		<div class="fbr-right fb-s">
			<label for="massemail1"><input type="radio" name="massemail" id="massemail1" value="1"<!-- IF S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="massemail0"><input type="radio" name="massemail" id="massemail0" value="0"<!-- IF not S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</div>
	</div>
	<div class="fbr">
		<div class="fbr-left"><label for="allowpm1">{L_ALLOW_PM}</label><span>{L_ALLOW_PM_EXPLAIN}</span></div>
		<div class="fbr-right fb-s">
			<label for="allowpm1"><input type="radio" name="allowpm" id="allowpm1" value="1"<!-- IF S_ALLOW_PM --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="allowpm0"><input type="radio" name="allowpm" id="allowpm0" value="0"<!-- IF not S_ALLOW_PM --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</div>
	</div>
	<!-- IF S_CAN_HIDE_ONLINE -->
		<div class="fbr">
			<div class="fbr-left"><label for="hideonline0">{L_HIDE_ONLINE}</label><span>{L_HIDE_ONLINE_EXPLAIN}</span></div>
			<div class="fbr-right fb-s">
				<label for="hideonline1"><input type="radio" name="hideonline" id="hideonline1" value="1"<!-- IF S_HIDE_ONLINE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label for="hideonline0"><input type="radio" name="hideonline" id="hideonline0" value="0"<!-- IF not S_HIDE_ONLINE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</div>
		</div>
	<!-- ENDIF -->
	<!-- IF S_SELECT_NOTIFY -->
		<div class="fbr">
			<div class="fbr-left"><label for="notifymethod0">{L_NOTIFY_METHOD}</label></div>
			<div class="fbr-right fb-s">
				<label for="notifymethod0"><input type="radio" name="notifymethod" id="notifymethod0" value="0"<!-- IF S_NOTIFY_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NOTIFY_METHOD_EMAIL}</label>
				<label for="notifymethod1"><input type="radio" name="notifymethod" id="notifymethod1" value="1"<!-- IF S_NOTIFY_IM --> checked="checked"<!-- ENDIF --> /> {L_NOTIFY_METHOD_IM}</label>
				<label for="notifymethod2"><input type="radio" name="notifymethod" id="notifymethod2" value="2"<!-- IF S_NOTIFY_BOTH --> checked="checked"<!-- ENDIF --> /> {L_NOTIFY_METHOD_BOTH}</label>
			</div>
		</div>
	<!-- ENDIF -->
	<!-- IF S_MORE_LANGUAGES -->
		<div class="fbr">
			<div class="fbr-left"><label for="lang">{L_BOARD_LANGUAGE}</label></div>
			<div class="fbr-right"><select name="lang" id="lang">{S_LANG_OPTIONS}</select></div>
		</div>
	<!-- ENDIF -->
	<!-- IF S_STYLE_OPTIONS and S_MORE_STYLES -->
		<div class="fbr">
			<div class="fbr-left"><label for="user_style">{L_BOARD_STYLE}</label></div>
			<div class="fbr-right"><select name="user_style" id="user_style">{S_STYLE_OPTIONS}</select></div>
		</div>
	<!-- ENDIF -->
	<!-- INCLUDE timezone_option.html -->
	<div class="fbr">
		<div class="fbr-left"><label for="dateformat">{L_BOARD_DATE_FORMAT}</label><span>{L_BOARD_DATE_FORMAT_EXPLAIN}</span></div>
		<div class="fbr-right">
			<div>
				<select name="dateoptions" id="dateoptions" onchange="if(this.value=='custom'){phpbb.toggleDisplay('custom_date',1);}else{phpbb.toggleDisplay('custom_date',-1);} if (this.value == 'custom') { document.getElementById('dateformat').value = default_dateformat; } else { document.getElementById('dateformat').value = this.value; }">
					{S_DATEFORMAT_OPTIONS}
				</select>
			</div>
			<div id="custom_date" style="display:none;"><input type="text" name="dateformat" id="dateformat" value="{DATE_FORMAT}" maxlength="64" class="inputbox narrow" style="margin-top: 3px;" /></div>
		</div>
	</div>
	<!-- EVENT ucp_prefs_personal_append -->
	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons flex-box-form">
	<div class="flex-box-o">
		{S_HIDDEN_FIELDS}
		<div class="flex-box"><input type="submit" name="submit" value="{L_SUBMIT}" class="button" /></div>
		<div class="flex-box fb-c"></div>
	</div>
	{S_FORM_TOKEN}
</fieldset>
</form>

<script>
	var date_format = '{A_DATE_FORMAT}';
	var default_dateformat = '{A_DEFAULT_DATEFORMAT}';

	function customDates()
	{
		var e = document.getElementById('dateoptions');

		e.selectedIndex = e.length - 1;

		// Loop and match date_format in menu
		for (var i = 0; i < e.length; i++)
		{
			if (e.options[i].value == date_format)
			{
				e.selectedIndex = i;
				break;
			}
		}

		// Show/hide custom field
		if (e.selectedIndex == e.length - 1)
		{
			phpbb.toggleDisplay('custom_date',1);
		}
		else
		{
			phpbb.toggleDisplay('custom_date',-1);
		}
	}

	window.onload = customDates;
</script>

<!-- INCLUDE ucp_footer.html -->
