<!-- INCLUDE overall_header.html -->

<form action="{S_PROFILE_ACTION}" method="post" id="remind" class="brutalform">

<div class="panel">
	<div class="inner">

		<fieldset class="fields1">
			<div class="fbr">

				<div class="fbr-left">

					<div class="brutalform-box">
						<input type="text" tabindex="1" name="username" id="username" size="25"  placeholder="{L_USERNAME}" class="inputbox" />
						<span class="brutalform-label">{L_USERNAME}</span>
					</div>

					<div class="brutalform-box">
						<input type="email" tabindex="2" name="email" id="email" size="25" maxlength="100" placeholder="{L_EMAIL_ADDRESS}" class="inputbox" />
						<span class="brutalform-label">{L_EMAIL_ADDRESS}</span>
						<span class="brutalform-explanation">{L_EMAIL_REMIND}</span>
					</div>
					
					<div class="brutalform-box submit-buttons">
						{S_HIDDEN_FIELDS}
						<input type="submit" value="{L_SEND_PASSWORD}" name="submit" class="button submit" tabindex="3" />
						<input type="reset" value="{L_RESET}" name="reset" class="button2 reset" tabindex="4" /></dd>
						{S_FORM_TOKEN}
					</div>

				</div>

				<div class="fbr-right"></div>

			</div>
		</fieldset>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
