<!-- INCLUDE overall_header.html -->

<!-- IF S_COMPOSE_PM -->
<form id="postform" class="brutalform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<div class="panel cp-panel bg3">
	<div class="inner">
	
	<div id="tabs" data-skip-responsive="true">
		<ul>
			<!-- BEGIN t_block1 -->
			<li class="tab<!-- IF t_block1.S_SELECTED --> activetab<!-- ENDIF -->"><a href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a></li>
			<!-- END t_block1 -->
		</ul>
	</div>

	<div id="navigation" role="navigation">
		<ul>
		<!-- IF S_PRIVMSGS -->
			<!-- BEGIN t_block2 -->
				<!-- IF S_PRIVMSGS and not t_block2.S_LAST_ROW -->
				
					<!-- IF t_block2.S_SELECTED -->
						<li class="tab activetab" id="active-subsection"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
					<!-- ELSE -->
						<li class="tab"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
					<!-- ENDIF -->
				
				<!-- ENDIF -->
			<!-- END t_block2 -->

			
			<!-- BEGIN folder -->
				<!-- IF folder.S_FIRST_ROW --><!-- ENDIF -->
				<!-- IF folder.S_CUR_FOLDER -->
					<li class="tab activetab" id="active-subsection"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
				<!-- ELSE -->
					<li class="tab"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a></li>
				<!-- ENDIF -->
				<!-- IF folder.S_LAST_ROW --><!-- ENDIF -->
			<!-- END folder -->
			
		<!-- ENDIF -->

		
		<!-- BEGIN t_block2 -->
			<!-- IF (S_PRIVMSGS and t_block2.S_LAST_ROW) or not S_PRIVMSGS -->
				<!-- IF t_block2.S_SELECTED -->
					<li class="tab activetab" id="active-subsection"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
				<!-- ELSE -->
					<li class="tab"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- END t_block2 -->
		</ul>
	</div>

	<div id="cp-main" class="ucp-main panel-container">
