<!-- INCLUDE ucp_header.html -->


<div class="panel fbr-settings-panel">
	<div class="inner">

	<p class="fbr-m-info">{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h2>{L_IMPORTANT_NEWS}</h2>

	<ul class="topiclist cplist two-long-columns">
	<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="row-item {topicrow.TOPIC_IMG_STYLE}">
				<div class="main-rowlist" onclick="window.location.href='<!-- IF topicrow.S_UNREAD_TOPIC -->{topicrow.U_NEWEST_POST}<!-- ELSE -->{topicrow.U_VIEW_TOPIC}<!-- ENDIF -->'">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG and topicrow.S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="<!-- IF topicrow.S_UNREAD_TOPIC -->{L_VIEW_NEWEST_POST}<!-- ELSE -->{L_VIEW_TOPIC}<!-- ENDIF -->">
					<div class="list-inner">
						<a href="<!-- IF topicrow.S_UNREAD_TOPIC -->{topicrow.U_NEWEST_POST}<!-- ELSE -->{topicrow.U_VIEW_TOPIC}<!-- ENDIF -->" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> <!-- ENDIF -->
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->

						<br />

						<div class="lastpost responsive-show" style="display: none;">
							<span>
								<span class="lastpost-poster">{topicrow.LAST_POST_AUTHOR_FULL}</span>
								<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="lastpost-time">
									{topicrow.LAST_POST_TIME} <div class="fa fa-fast-forward fa-lg"></div>
								</a>
							</span>
						</div>
						<div class="responsive-hide">
							<span>{topicrow.TOPIC_AUTHOR_FULL}</span> {topicrow.FIRST_POST_TIME}
						</div>
					</div>
				</dt>
				</div>
				<dd class="lastpost" onclick="window.location.href='{topicrow.U_LAST_POST}'" title="{L_GOTO_LAST_POST}">
					<span>
						<span class="lastpost-poster">{topicrow.LAST_POST_AUTHOR_FULL}</span>
						<span class="lastpost-time">{topicrow.LAST_POST_TIME} <a class="fa fa-fast-forward fa-lg"></a></span>
					</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->

	<h2>{L_YOUR_DETAILS}</h2>

<!-- EVENT ucp_main_front_user_activity_before -->
	<dl class="details">
		<!-- EVENT ucp_main_front_user_activity_prepend -->
		<div class="fbr">
			<dt class="fbr-left"><label>{L_JOINED}{L_COLON}</label></dt>
			<dd class="fbr-right">{JOINED}</dd>
		</div>
		<div class="fbr">
			<dt class="fbr-left"><label>{L_LAST_ACTIVE}{L_COLON}</label></dt>
			<dd class="fbr-right">{LAST_VISIT_YOU}</dd>
		</div>
		<div class="fbr">
			<dt class="fbr-left"><label>{L_TOTAL_POSTS}{L_COLON}</label></dt>
			<dd class="fbr-right">
				<!-- IF POSTS_PCT -->
					{POSTS}
					<!-- IF S_DISPLAY_SEARCH --><strong><a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a></strong><!-- ENDIF -->
					{POSTS_PCT} / {POSTS_DAY}
				<!-- ELSE -->
					{POSTS}
				<!-- ENDIF -->
			</dd>
		</div>
		<!-- IF ACTIVE_FORUM != '' -->
		<div class="fbr">
			<dt class="fbr-left"><label>{L_ACTIVE_IN_FORUM}{L_COLON}</label></dt>
			<dd class="fbr-right">
				<strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong>
				{ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT}
			</dd>
		</div>
		<!-- ENDIF -->
		<!-- IF ACTIVE_TOPIC != '' -->
		<div class="fbr">
			<dt class="fbr-left"><label>{L_ACTIVE_IN_TOPIC}{L_COLON}</label></dt>
			<dd class="fbr-right">
				<strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong>
				{ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT}
			</dd>
		</div>
		<!-- ENDIF -->
		<!-- IF WARNINGS -->
		<div class="fbr">
			<dt class="fbr-left"><label>{L_YOUR_WARNINGS}{L_COLON}</label></dt>
			<dd class="fbr-right error"><i class="icon fa-exclamation-triangle fa-fw icon-red" aria-hidden="true"></i> [{WARNINGS}]</dd>
		</div>
		<!-- ENDIF -->
		<!-- EVENT ucp_main_front_user_activity_append -->
	</dl>
<!-- EVENT ucp_main_front_user_activity_after -->

	</div>
</div>

<!-- INCLUDE ucp_footer.html -->
