<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel">
	<div class="inner">

	<p class="fbr-m-info">{L_WATCHED_EXPLAIN}</p>

<!-- IF .forumrow -->
	<ul class="topiclist missing-column">
		<li class="header">
			<dl class="icon">
				<dt><div class="list-inner">{L_WATCHED_FORUMS}</div></dt>
				<dd class="mark">{L_MARK}</dd>
				<dd class="lastpost">
					<span>
						<span class="lastpost-poster">{L_LAST_POST}</span>
						<span class="lastpost-time"></span>
					</span>
				</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist cplist missing-column">

	<!-- BEGIN forumrow -->
		<li class="row<!-- IF forumrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">

			<dl class="icon {forumrow.FORUM_IMG_STYLE}">
				<div class="main-rowlist" onclick="window.location.href='{forumrow.U_VIEWFORUM}'">
				<dt title="<!-- IF forumrow.S_UNREAD_FORUM -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
				
					<!-- IF forumrow.TOPICS -->
						<div class="topic-reply-counter<!-- IF forumrow.S_UNREAD_FORUM --> unread<!-- ELSE --> read<!-- ENDIF -->">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></div>
					<!-- ENDIF -->
					
					<!-- IF forumrow.S_UNREAD_FORUM --><a href="{forumrow.U_VIEWFORUM}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">



						<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br />
						{forumrow.FORUM_DESC}
						<!-- IF forumrow.LAST_POST_TIME -->
						<div class="lastpost responsive-show" style="display: none;">
							<span>
								<span class="lastpost-poster">{forumrow.LAST_POST_AUTHOR_FULL}</span>
								<a href="{forumrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="lastpost-time">
									{forumrow.LAST_POST_TIME} <div class="fa fa-fast-forward fa-lg"></div>
								</a>
							</span>
						</div>
						<!-- ENDIF -->
					</div>
				</dt>
				</div>
				<dd class="mark"><input onclick="event.cancelBubble=true" type="checkbox" name="f[{forumrow.FORUM_ID}]" id="f{forumrow.FORUM_ID}" /></dd>
				<dd class="lastpost"<!-- IF forumrow.LAST_POST_TIME --> onclick="window.location.href='{forumrow.U_LAST_POST}'" title="{L_GOTO_LAST_POST}"<!-- ENDIF -->>
					<!-- IF forumrow.LAST_POST_TIME -->
						<dfn>{L_LAST_POST}</dfn>
						<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT}</a>
						<span>
							<span class="lastpost-poster">{forumrow.LAST_POST_AUTHOR_FULL}</span>
							<span class="lastpost-time">{forumrow.LAST_POST_TIME} <a class="fa fa-fast-forward fa-lg"></a></span>
						</span>
					<!-- ELSE -->
						{L_NO_POSTS}
					<!-- ENDIF -->
				</dd>
			</dl>
		</li>
	<!-- END forumrow -->
	</ul>
    <br />
<!-- ELSEIF S_FORUM_NOTIFY -->
	<p class="fbr-m-info"><strong>{L_NO_WATCHED_FORUMS}</strong></p>
<!-- ENDIF -->

<!-- IF .topicrow -->
	<ul class="topiclist missing-column">
		<li class="header">
			<dl class="icon">
				<dt><div class="list-inner">{L_WATCHED_TOPICS}</div></dt>
				<dd class="mark">{L_MARK}</dd>
				<dd class="lastpost">
					<span>
						<span class="lastpost-poster">{L_LAST_POST}</span>
						<span class="lastpost-time"></span>
					</span>
				</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist cplist missing-column">

	<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ELSEIF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="icon {topicrow.TOPIC_IMG_STYLE}">
				<div class="main-rowlist" onclick="window.location.href='<!-- IF topicrow.S_UNREAD_TOPIC -->{topicrow.U_NEWEST_POST}<!-- ELSE -->{topicrow.U_VIEW_TOPIC}<!-- ENDIF -->'">
				<dt<!-- IF topicrow.TOPIC_ICON_IMG --> style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF --> title="<!-- IF topicrow.S_UNREAD_TOPIC -->{L_VIEW_NEWEST_POST}<!-- ELSE -->{L_VIEW_TOPIC}<!-- ENDIF -->">
					
					<!-- IF topicrow.REPLIES -->
						<div class="topic-reply-counter<!-- IF topicrow.S_UNREAD_TOPIC --> unread<!-- ELSE --> read<!-- ENDIF -->">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></div>
					<!-- ENDIF -->
					
					<div class="list-inner">
					
						<a href="<!-- IF topicrow.S_UNREAD_TOPIC -->{topicrow.U_NEWEST_POST}<!-- ELSE -->{topicrow.U_VIEW_TOPIC}<!-- ENDIF -->" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}" title="{L_JUMP_TO_PAGE}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->
						
						<br />
						
						<div class="lastpost responsive-show" style="display: none;">
							<span>
								<span class="lastpost-poster">{topicrow.LAST_POST_AUTHOR_FULL}</span>
								<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}" class="lastpost-time">
									{topicrow.LAST_POST_TIME} <div class="fa fa-fast-forward fa-lg"></div>
								</a>
							</span>
						</div>
						
						
						<div class="responsive-hide">
							<span>{topicrow.TOPIC_AUTHOR_FULL}</span> {topicrow.FIRST_POST_TIME}
							<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> <!-- ENDIF -->
							<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF -->
						</div>
						
						
					</div>
				</dt>
				</div>
				<dd class="mark"><input onclick="event.cancelBubble=true" type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}" /></dd>
				<dd class="lastpost" onclick="window.location.href='{topicrow.U_LAST_POST}'" title="{L_GOTO_LAST_POST}">
					<span>
						<span class="lastpost-poster">{topicrow.LAST_POST_AUTHOR_FULL}</span>
						<span class="lastpost-time">{topicrow.LAST_POST_TIME} <a class="fa fa-fast-forward fa-lg"></a></span>
					</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>

<!-- ELSEIF S_TOPIC_NOTIFY -->
	<p class="fbr-m-info"><strong>{L_NO_WATCHED_TOPICS}</strong></p>
<!-- ENDIF -->

	</div>
</div>

<!-- IF .topicrow or .forumrow -->
	<fieldset class="display-actions flex-box-form">
		<div class="flex-box-o">
			<div class="flex-box"><input type="submit" name="unwatch" value="{L_UNWATCH_MARKED}" class="button" /></div>
			<div class="flex-box fb-c">
				<a href="#" onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{L_MARK_ALL}</a>
				<a href="#" onclick="marklist('ucp', 't', false); marklist('ucp', 'f', false); return false;">{L_UNMARK_ALL}</a>
			</div>
		</div>
		{S_FORM_TOKEN}
	</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->
