<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="panel">
	<div class="inner">


		<!-- IF MODE == 'notification_options' -->
			<div class="top-with-settings">
				<p class="fbr-m-info">{TITLE_EXPLAIN}</p>
				<div>
					<a href="{U_VIEW_ALL_NOTIFICATIONS}" class="m-labeled-box m-labeled-box-button notify-settings">
						<div class="fa fa-bell"></div>
						<div class="m-labeled-box-bg"><strong>{L_NOTIFICATIONS}</strong></div>
					</a>
				</div>
			</div>
			<table class="table1 not-responsive" id="notification-settings-table">
				<thead>
					<tr>
						<th></th>
						<!-- BEGIN notification_methods -->
							<th class="mark">{notification_methods.NAME}</th>
						<!-- END notification_methods -->
					</tr>
				</thead>
				<tbody>
				<!-- BEGIN notification_types -->
					<!-- IF notification_types.GROUP_NAME -->
						<tr class="bg3">
							<td colspan="1">{notification_types.GROUP_NAME}</td>
						</tr>
					<!-- ELSE -->
						<tr>
							<td>
								{notification_types.NAME}
								<!-- IF notification_types.EXPLAIN --><br />&nbsp; &nbsp;{notification_types.EXPLAIN}<!-- ENDIF -->
							</td>
							<!-- BEGIN notification_methods -->
								<td class="mark"><input type="checkbox" name="{notification_types.TYPE}_{notification_methods.METHOD}"<!-- IF notification_methods.SUBSCRIBED --> checked="checked"<!-- ENDIF --> /></td>
							<!-- END notification_methods -->
						</tr>
					<!-- ENDIF -->
				<!-- END notification_types -->
				</tbody>
			</table>
		<!-- ELSE -->
			<div class="top-with-settings">
				<p class="fbr-m-info">{TITLE_EXPLAIN}</p>
				<div>
					<a href="{U_NOTIFICATION_SETTINGS}" class="m-labeled-box m-labeled-box-button notify-settings">
						<div class="fa fa-cog"></div>
						<div class="m-labeled-box-bg"><strong>{L_SETTINGS}</strong></div>
					</a>
				</div>
			</div>

			<!-- IF .notification_list -->

			<div class="notification_list">
				<ul class="topiclist two-columns">
					<li class="header">
						<dl class="row-item flex-2centered">
							<dt><div class="list-inner">{L_NOTIFICATIONS}</div></dt>
							<dd class="mark">{L_MARK_READ}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist two-columns">
					<!-- BEGIN notification_list -->
						<li class="row<!-- IF notification_list.UNREAD --> m-row2<!-- ELSE --><!-- IF notification_list.S_ROW_COUNT is odd --> m-row1<!-- ELSE --> m-row1<!-- ENDIF --><!-- ENDIF --><!-- IF notification_list.STYLING --> {notification_list.STYLING}<!-- ENDIF -->">
							<dl class="flex-2centered">
								<dt>
									<div class="list-inner">

										<div class="notifications-avatar-container">
										<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><div class="fa fa-user-circle-o"></div><!-- ENDIF -->
										</div>

										<div class="notifications">

											<!-- IF notification_list.URL -->
											<a href="<!-- IF notification_list.UNREAD -->{notification_list.U_MARK_READ}<!-- ELSE -->{notification_list.URL}<!-- ENDIF -->">
											<!-- ENDIF -->

												<div class="notifications_title">
													<!-- IF notification_list.REFERENCE --><div class="notifications_reference">{notification_list.REFERENCE}</div><!-- ENDIF -->
													<!-- IF notification_list.REASON --><div class="notifications_reason">{notification_list.REASON}</div><!-- ENDIF -->
													{notification_list.FORMATTED_TITLE}
												</div>
												<div class="notifications_time">{notification_list.TIME}</div>				
												<!-- IF notification_list.FORUM --><!-- ENDIF -->

											<!-- IF notification_list.URL -->
											</a>
											<!-- ENDIF -->

										</div>
									</div>
								</dt>

								<dd class="mark">&nbsp;<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}"<!-- IF not notification_list.UNREAD --> disabled="disabled"<!-- ENDIF --> /> <dfn>{L_MARK_READ}</dfn>&nbsp;</dd>
							</dl>
						</li>
					<!-- END notification_list -->
				</ul>
			</div>

			<!-- ELSE -->
				<p class="fbr-m-info"><strong>{L_NO_NOTIFICATIONS}</strong></p>
			<!-- ENDIF -->

		<!-- ENDIF -->
	</div>
</div>

<!-- IF .notification_types or .notification_list -->
<fieldset class="display-actions flex-box-form">
	<div class="flex-box-o">
		<input type="hidden" name="form_time" value="{FORM_TIME}" />
		{S_HIDDEN_FIELDS}
		<div class="flex-box"><input type="submit" name="submit" value="<!-- IF MODE == 'notification_options' -->{L_SUBMIT}<!-- ELSE -->{L_MARK_READ}<!-- ENDIF -->" class="button" /></div>
		<div class="flex-box fb-c"><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a><a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
	</div>
	{S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->
