<div class="panel settings-panel">
	<div class="inner">
	<!-- IF not S_AVATARS_ENABLED -->
		<p class="info-paragraph">{L_AVATAR_FEATURES_DISABLED}</p>
	<!-- ENDIF -->

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<div class="flex-columns">
			<div class="column-left"><label>{L_CURRENT_IMAGE}</label><br /><span>{L_AVATAR_EXPLAIN}</span></div>
			<div class="column-right"><!-- IF AVATAR -->{AVATAR}<!-- ELSE --><div class="fa fa-user-circle-o"></div><!-- ENDIF --></div>
		</div>
		<!-- IF AVATAR -->
		<label for="avatar_delete">
			<div class="flex-columns flex-columns-checkbox">
				<div class="column-left"><input type="checkbox" name="avatar_delete" id="avatar_delete" /></div>
				<div class="column-right">{L_DELETE_AVATAR}</div>
			</div>
		</label>
		<!-- ENDIF -->
	</fieldset>

	<hr class="dashed" />

	<fieldset style="display:none;">
		<div class="flex-columns">
			<div class="column-left"><label>{L_AVATAR_TYPE}</label></div>
			<div class="column-right"><select name="avatar_driver" id="avatar_driver" data-togglable-settings="true">
					<!-- BEGIN avatar_drivers -->
					<option value="{avatar_drivers.DRIVER}"<!-- IF avatar_drivers.SELECTED --> selected="selected"<!-- ENDIF --> data-toggle-setting="#avatar_option_{avatar_drivers.DRIVER}">{avatar_drivers.L_TITLE}</option>
					<!-- END avatar_drivers -->
				</select></div>
		</div>
	</fieldset>
	<div id="avatar_options">
<!-- BEGIN avatar_drivers -->
	<div id="avatar_option_{avatar_drivers.DRIVER}">
	<noscript>
	<h3 class="avatar_section_header">{avatar_drivers.L_TITLE}</h3>
	</noscript>

	<fieldset>
	{avatar_drivers.OUTPUT}
	</fieldset>
	</div>
<!-- END avatar_drivers -->
	</div>
<!-- IF not S_GROUP_MANAGE -->
	<fieldset class="submit-buttons">
		<div class="flex-box-container">
			<div class="flex-box"><input type="submit" name="submit" value="{L_SUBMIT}" class="button" /></div>
			<div class="flex-box justify-content-center"></div>
		</div>
	</fieldset>
<!-- ENDIF -->
	</div>
</div>
