<!-- INCLUDE overall_header.html -->


<form action="{S_PROFILE_ACTION}" method="post" id="resend" class="brutalform">

<div class="panel">
	<div class="inner">

	<div class="content">
		<h2>{L_UCP_RESEND}</h2>
		<fieldset class="fields1">
			<div class="flex-columns">

				<div class="column-left">
					<div class="brutalform-box">
						<input class="inputbox" type="text" name="username" id="username" size="25" placeholder="{L_USERNAME}" />
						<span class="shadow-label">{L_USERNAME}</span>
					</div>

					<div class="brutalform-box">
						<input class="inputbox" type="email" name="email" id="email" size="25" maxlength="100" placeholder="{L_EMAIL_ADDRESS}" />
						<span class="shadow-label">{L_EMAIL_ADDRESS}</span>
						<span class="phantom-explanation">{L_EMAIL_REMIND}</span>
					</div>

					<div class="brutalform-box submit-buttons">
						{S_HIDDEN_FIELDS}
						{S_FORM_TOKEN}
						<input type="submit" name="submit" id="submit" class="button submit" value="{L_SUBMIT}" tabindex="2" />
					</div>

				</div>

				<div class="column-right"></div>

			</div>
		</fieldset>
	</div>

	</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
