/* CSS Reset http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
abbr {
	text-decoration: none;
}

/* General Markup Styles
---------------------------------------- */
html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 101%;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: normal;
	margin: 0;
	padding: 12px 0;
	word-wrap: break-word;
	-webkit-print-color-adjust: exact;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 2em;
	margin: 0.8em 0 0.2em 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	border: 0 solid transparent;
	border-top-width: 1px;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top-style: dashed;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

p.jumpbox-return {
	margin-top: 10px;
	margin-bottom: 0;
	float: left;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	display: list-item;
}

ul ul, ol ul {
	list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
	list-style-type: square;
}

a:hover	{ text-decoration: underline; }

/* Main blocks
---------------------------------------- */
.wrap {
	border: 1px solid transparent;
	border-radius: 8px;
	margin: 0 auto;
	max-width: 1152px;
	min-width: 625px;
	padding: 15px;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.wrap {
		margin: 0 12px;
	}
}

.page-body {
	margin: 4px 0;
	clear: both;
}

.page-footer {
	clear: both;
}

.page-footer h3 {
	margin-top: 20px;
}

.logo {
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

.logo:hover {
	text-decoration: none;
}

.site_logo {
	display: inline-block;
	width: 149px;
	height: 52px;
}

/* Site description and logo */
.site-description {
	float: left;
	width: 65%;
}

.site-description h1 {
	margin-right: 0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	margin-bottom: 4px;
	padding: 5px;
	border-radius: 7px;
}

.navbar {
	padding: 3px 10px;
	border-radius: 7px;
}

.forabg {
	margin-bottom: 4px;
	padding: 5px;
	clear: both;
	border-radius: 7px;
}

.forumbg {
	margin-bottom: 4px;
	padding: 5px;
	clear: both;
	border-radius: 7px;
}

.panel {
	margin-bottom: 4px;
	padding: 5px 10px;
	border-radius: 7px;
}

.post {
	padding: 5px 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	border-radius: 7px;
	position: relative;
}

.rowbg {
	margin: 5px 5px 2px 5px;
}

/* Horizontal lists
----------------------------------------*/
.navbar ul.linklist {
	padding: 2px 0;
	list-style-type: none;
}

ul.linklist {
	display: block;
	margin: 0;
}

.cp-main .panel {
	padding: 5px 10px;
}

ul.linklist > li {
	float: left;
	font-size: 1.1em;
	line-height: 2.2em;
	list-style-type: none;
	margin-right: 7px;
	padding-top: 1px;
	width: auto;
}

ul.linklist > li.rightside, p.rightside, a.rightside {
	float: right;
	margin-right: 0;
	margin-left: 7px;
	text-align: right;
}

ul.navlinks {
	border-top: 1px solid transparent;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

ul.linklist li.responsive-menu {
	position: relative;
	margin: 0 5px 0 0;
}

.hasjs ul.linklist.leftside, .hasjs ul.linklist.rightside {
	max-width: 48%;
}

.hasjs ul.linklist.fullwidth {
	max-width: none;
}

li.responsive-menu.dropdown-right .dropdown {
	left: -9px;
}

li.responsive-menu.dropdown-left .dropdown {
	right: -6px;
}

ul.linklist .dropdown {
	top: 22px;
}

ul.linklist .dropdown-up .dropdown {
	bottom: 18px;
	top: auto;
}

/* Bulletin icons for list items
----------------------------------------*/
ul.linklist.bulletin > li:before {
	display: inline-block;
	content: "\2022";
	font-size: inherit;
	line-height: inherit;
	padding-right: 4px;
}

ul.linklist.bulletin > li:first-child:before,
ul.linklist.bulletin > li.rightside:last-child:before {
	content: none;
}

ul.linklist.bulletin > li.no-bulletin:before {
	content: none;
}

.responsive-menu:before {
	display: none !important;
}

/* Profile in overall_header.html */
.header-profile {
	display: inline-block;
	vertical-align: top;
}

a.header-avatar,
a.header-avatar:hover {
	text-decoration: none;
}

a.header-avatar img {
	margin-bottom: 2px;
	max-height: 20px;
	vertical-align: middle;
	width: auto;
}

a.header-avatar span:after {
	content: '\f0dd';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	padding-left: 6px;
	padding-top: 2px;
	vertical-align: top;
}

/* Dropdown menu
----------------------------------------*/
.dropdown-container {
	position: relative;
}

.dropdown-container-right {
	float: right;
}

.dropdown-container-left {
	float: left;
}

.nojs .dropdown-container:hover .dropdown {
	display: block !important;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 1.2em;
	z-index: 2;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 9px 0 0;
	margin-right: -500px;
}

.dropdown.live-search {
	top: auto;
}

.dropdown-container.topic-tools {
	float: left;
}

.dropdown-up .dropdown {
	top: auto;
	bottom: 1.2em;
	padding: 0 0 9px;
}

.dropdown-left .dropdown, .nojs .rightside .dropdown {
	left: auto;
	right: 0;
	margin-left: -500px;
	margin-right: 0;
}

.dropdown-button-control .dropdown {
	top: 24px;
}

.dropdown-button-control.dropdown-up .dropdown {
	top: auto;
	bottom: 24px;
}

.dropdown .pointer, .dropdown .pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	border-top-width: 0;
	border-bottom: 10px solid transparent;
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	-webkit-transform: rotate(360deg); /* better anti-aliasing in webkit */
	display: block;
}

.dropdown-up .pointer, .dropdown-up .pointer-inner {
	border-bottom-width: 0;
	border-top: 10px solid transparent;
}

.dropdown .pointer {
	right: auto;
	left: 10px;
	top: -1px;
	z-index: 3;
}

.dropdown-up .pointer {
	bottom: -1px;
	top: auto;
}

.dropdown-left .dropdown .pointer, .nojs .rightside .dropdown .pointer {
	left: auto;
	right: 10px;
}

.dropdown .pointer-inner {
	top: auto;
	bottom: -11px;
	left: -10px;
}

.dropdown-up .pointer-inner {
	bottom: auto;
	top: -11px;
}

.dropdown .dropdown-contents {
	z-index: 2;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 5px;
	position: relative;
	min-width: 40px;
	max-height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dropdown li {
	border-top: 1px dotted transparent;
	float: none !important;
	line-height: normal !important;
	font-size: 1em !important;
	list-style: none;
	margin: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	white-space: nowrap;
	text-align: left;
}

.dropdown-contents > li {
	padding-right: 15px;
}

.dropdown-nonscroll > li {
	padding-right: 0;
}

.dropdown li:first-child, .dropdown li.separator + li, .dropdown li li {
	border-top: 0;
}

.dropdown li li:first-child {
	margin-top: 4px;
}

.dropdown li li:last-child {
	padding-bottom: 0;
}

.dropdown li li {
	border-top: 1px dotted transparent;
	padding-left: 18px;
}

.wrap .dropdown li, .dropdown.wrap li, .dropdown-extended li {
	white-space: normal;
}

.dropdown li.separator {
	border-top: 1px solid transparent;
	margin: 4px 0;
	padding: 0;
}

.dropdown li.separator:first-child, .dropdown li.separator:last-child {
	display: none !important;
}

/* Responsive breadcrumbs
----------------------------------------*/
.breadcrumbs .crumb {
	float: left;
	font-weight: bold;
	word-wrap: normal;
}

.breadcrumbs .crumb:before {
	content: '\2039';
	font-weight: bold;
	padding: 0 0.5em;
}

.breadcrumbs .crumb:first-child:before {
	content: none;
}

.breadcrumbs .crumb a {
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
	overflow: hidden;
}

.breadcrumbs.wrapped .crumb a { letter-spacing: -.3px; }
.breadcrumbs.wrapped .crumb.wrapped-medium a { letter-spacing: -.4px; }
.breadcrumbs.wrapped .crumb.wrapped-tiny a { letter-spacing: -.5px; }

.breadcrumbs .crumb.wrapped-max a { max-width: 120px; }
.breadcrumbs .crumb.wrapped-wide a { max-width: 100px; }
.breadcrumbs .crumb.wrapped-medium a { max-width: 80px; }
.breadcrumbs .crumb.wrapped-small a { max-width: 60px; }
.breadcrumbs .crumb.wrapped-tiny a { max-width: 40px; }

/* Table styles
----------------------------------------*/
table.table1 {
	width: 100%;
}

.ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid transparent;
}

table.table1 td {
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid transparent;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid transparent;
	text-align: left;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .center		{ text-align: center; }
table.table1 .reportby	{ width: 15%; }
table.table1 .posts		{ text-align: center; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0;
}

.forumbg-table > .inner {
	margin: 0 -1px;
}

.color_palette_placeholder table {
	border-collapse: separate;
	border-spacing: 1px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
	max-width: 100%;
}

.left-box.profile-details {
	width: 80%;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
	max-width: 100%;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	float: left;
	width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clearfix, fieldset dl, ul.topiclist dl, dl.polls {
	overflow: hidden;
}

fieldset.fields1 ul.recipients {
	list-style-type: none;
	line-height: 1.8;
	max-height: 150px;
	overflow-y: auto;
}

fieldset.fields1 dd.recipients {
	clear: left;
	margin-left: 1em;
}

fieldset.fields1 ul.recipients  input.button2{
	font-size: 0.8em;
	margin-right: 0;
	padding: 0;
}

fieldset.fields1 dl.pmlist > dt {
	width: auto !important;
}

fieldset.fields1 dl.pmlist dd.recipients {
	margin-left: 0 !important;
}

/* Action-bars (container for post/reply buttons, pagination, etc.)
---------------------------------------- */
.action-bar {
	font-size: 11px;
	margin: 4px 0;
}

.forabg + .action-bar {
	margin-top: 2em;
}

.action-bar .button {
	margin-right: 5px;
	float: left;
}

.action-bar .button-search {
	margin-right: 0;
}

/* Pagination
---------------------------------------- */
.pagination {
	float: right;
	text-align: right;
	width: auto;
}

.action-bar.bar-bottom .pagination {
	margin-top: 0;
}

.action-bar .pagination .button {
	margin-right: 0;
	float: none;
}

.pagination > ul {
	display: inline-block;
	list-style: none !important;
	margin-left: 5px;
}

.pagination > ul > li {
	display: inline-block !important;
	padding: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: middle;
}

.pagination li a, .pagination li span {
	border-radius: 2px;
	padding: 2px 5px;
}

.pagination li.active span {
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
}

.pagination li.ellipsis span {
	border: none;
	padding: 0;
}

.pagination li.page-jump {
	margin-right: 5px;
}

.pagination li.page-jump a {
	padding: 0 8px;
}

.pagination li.page-jump a i {
	font-size: 21px;
}

.pagination .arrow a {
	padding: 2px 0;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	margin-top: 0.3em;
	padding-left: 15px;
	background: none 0 50% no-repeat;
}

.row .pagination > ul {
	margin: 0;
}

.row .pagination li a, .row .pagination li span {
	border-radius: 2px;
	padding: 1px 3px;
	font-size: 9px;
}

.topic-poster {
	float: left;
	padding-right: 0.5em;
	margin-top: 0.3em;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	border: 1px solid transparent;
	display: none;
	left: 0;
	padding: 0 25px 20px 25px;
	position: fixed;
	right: 0;
	top: 150px;
	z-index: 50;
	width: 620px;
	margin: 0 auto;
}

@media only screen and (max-height: 500px), only screen and (max-device-width: 500px)
{
	.phpbb_alert {
		top: 25px;
	}
}

.phpbb_alert .alert_close {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-decoration: none !important;
	background: transparent none 0 0 no-repeat;
	margin-top: -7px;
	margin-right: -31px;
}

.phpbb_alert .alert_close:hover {
	background-position: 0 -16px;
}

.phpbb_alert p {
	margin: 8px 0;
	padding-bottom: 8px;
}

.phpbb_alert label {
	display: block;
	margin: 8px 0;
	padding-bottom: 8px;
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input {
	font-size: 1.1em;
}

.darkenwrapper {
	display: none;
	position: relative;
	z-index: 44;
}

.darken {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 45;
}

.loading_indicator {
	background: center center no-repeat;
	border-radius: 5px;
	display: none;
	opacity: 0.8;
	margin-top: -50px;
	margin-left: -50px;
	height: 50px;
	width: 50px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 51;
}

/* Miscellaneous styles
---------------------------------------- */
.copyright {
	padding: 5px;
	text-align: center;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	font-weight: bold;
	font-size: 1em;
}

div.rules {
	margin: 10px 0;
	font-size: 1.1em;
	padding: 5px 10px;
	border-radius: 7px;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.post-notice {
	position: relative;
	padding: 5px;
	padding-left: 26px;
	min-height: 14px;
	margin-bottom: 1em;
}

p.post-notice:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 28px;
	background: transparent none 50% 50% no-repeat;
	pointer-events: none;
}

form > p.post-notice strong {
	line-height: 20px;
}

#jumpbox {
	margin: 5px 0;
}

.stat-block {
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

/* Inner box-model clearing */
.inner:after,
ul.linklist:after,
.action-bar:after,
.notification_text:after,
.tabs-container:after,
.tabs > ul:after,
.minitabs > ul:after,
.navigation > ul:after,
.postprofile .avatar-container:after {
	clear: both;
	content: '';
	display: block;
}

.hidden {
	display: none;
}

.smilies {
	vertical-align: text-bottom;
}

.icon-notification {
	position: relative;
}

.member-search {
	float: left;
	margin: 0;
	padding: 6px 10px;
}

.member-search strong {
	font-size: 0.95em;
}

/*
.notification_list .notifications_reference,
.notification_list .notification-location,
.notification_list li a .notifications_reason {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
*/

.notification_list div.notifications {
	margin-left: 60px;
	/*padding: 5px;*/
}

.notification_list div.notifications a {
	display: block;
}

.notifications_title {
	font-size: 1.2em;
}

li.row .notifications_title strong,
.notifications_title strong {
	font-weight: bold;
}

.linklist .quick-links {
	margin: 0 7px 0 0;
}

.quick-links a.responsive-menu-link {
	display: block;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	width: auto;
}

.quick-links a.responsive-menu-link:before {
	font-size: 1.455em;
	line-height: 16.5px;
}

.compact .quick-links a.responsive-menu-link {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
}

.compact .icon-notification>a>span,
.compact .icon-pm > a > span {
	display: none;
}

.compact .icon-notification>a>strong,
.compact .icon-pm>a>strong {
	padding-left: 2px;
}

.dropdown-page-jump .dropdown {
	top: 20px;
}

.dropdown-page-jump.dropdown-up .dropdown {
	bottom: 20px;
}

.dropdown-page-jump input.tiny {
	width: 50px;
}

.dropdown .clone.hidden + li.separator {
	display: none;
}

.dropdown .clone.hidden + li {
	border-top: none;
}

a {
	direction: ltr;
	unicode-bidi: embed;
	text-decoration: none;
}

li.breadcrumbs span:first-child>a {
	display: inline-block;
	padding-left: 17px;
}

.postprofile a,
.postprofile dt.author a {
	font-weight: bold;
	text-decoration: none;
}

.search .postprofile a {
	text-decoration: none;
	font-weight: normal;
}

.back2top {
	clear: both;
	height: 11px;
	text-align: right;
}

a.top {
	background: none no-repeat top left;
	text-decoration: none;
	width: 11px;
	height: 11px;
	display: block;
	float: right;
	overflow: hidden;
	letter-spacing: 1000px;
	text-indent: 11px;
}

a.top2 {
	background: none no-repeat 0 50%;
	text-decoration: none;
	padding-left: 15px;
}

a.arrow-up {
	background: none no-repeat left center;
}

a.arrow-down {
	background: none no-repeat right center;
}

a.arrow-left {
	background: none no-repeat 3px 60%;
}

a.arrow-right {
	background: none no-repeat 95% 60%;
}

a.arrow-up {
	padding-left: 10px;
	text-decoration: none;
	border-bottom-width: 0;
}

a.arrow-up:hover {
	background-position: left top;
}

a.arrow-down {
	padding-right: 10px;
}

a.arrow-down:hover {
	background-position: right bottom;
	text-decoration: none;
}

a.arrow-left {
	padding-left: 12px;
}

a.arrow-left:hover {
	text-decoration: none;
	background-position: 0 60%;
}

a.arrow-right {
	padding-right: 12px;
}

a.arrow-right:hover {
	text-decoration: none;
	background-position: 100% 60%;
}

.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

a.feed-icon-forum {
	float: right;
	margin: 3px;
}

a.anchor {
	display: block;
}

ul.topiclist {
	display: block;
	list-style-type: none;
}

ul.topiclist li {
	display: block;
	list-style-type: none;
}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	padding: 2px 0;
}

ul.topiclist dt, ul.topiclist dd {
	display: block;
	float: left;
}

ul.topiclist dt {
	width: 100%;
	margin-right: -345px;
}

ul.topiclist.missing-column dt {
	margin-right: -345px;
}

ul.topiclist.two-long-columns dt {
	margin-right: -250px;
}

ul.topiclist.two-columns dt {
	margin-right: -80px;
}

ul.topiclist dt .list-inner {
	margin-right: 345px;
	padding-left: 5px;
	padding-right: 5px;
}

ul.topiclist.missing-column dt .list-inner {
	margin-right: 345px;
}

ul.topiclist.two-long-columns dt .list-inner {
	margin-right: 250px;
}

ul.topiclist.two-columns dt .list-inner {
	margin-right: 80px;
}

ul.topiclist dd {
	border-left: 1px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

ul.topiclist li.row dt a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

li.row strong {
	font-weight: normal;
}

li.header dt, li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 4px 0 4px 0;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

li.header dt {
	font-weight: bold;
	width: 100%;
	margin-right: -345px;
}

li.header dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li.header dl.row-item dt, li.header dl.row-item dd {
	min-height: 0;
}

/* Forum list column styles */
dl.row-item {
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.row-item dt .list-inner {
	padding-left: 45px;					/* Space for folder icon */
}

dl.row-item dt, dl.row-item dd {
	min-height: 35px;
}

dl a.row-item-link {						/* topic row icon links */
	position: absolute;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
	width: 80px;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

dd.posts, dd.topics, dd.views {
	width: 95px;
}

/* List in forum description */
dl.row-item dt ol,
dl.row-item dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.row-item dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	width: 250px;
	font-size: 1.1em;
	text-align: center;
}

dd.redirect {
	line-height: 2.5em;
}

dd.time {
	line-height: 200%;
}

dd.lastpost > span, ul.topiclist dd.info > span, ul.topiclist dd.time > span, dd.redirect > span, dd.moderation > span {
	display: block;
}

dd.option {
	width: 125px;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

/* Post body styles
----------------------------------------*/
.postbody {
	padding: 0;
	line-height: 1.48em;
	float: left;
	position: relative;
}

.postbody .ignore {
	font-size: 1.1em;
}

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 1.7em;
}

/*
.postbody h3 {
	*/
	/* Postbody requires a different h3 format - so change it here */
	/*
	float: left;
	font-size: 1.5em;
	padding: 2px 0 0 0;
	margin-top: 0 !important;
	margin-bottom: 0.3em !important;
	text-transform: none;
	border: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}
*/
.postbody h3 img {
	vertical-align: bottom;
}

/*
.has-profile .postbody h3 {
	*/
	/* If there is a post-profile, we position the post-buttons differently */
	/*
	float: none !important;
	margin-right: 180px;
}
*/
.postbody .content {
	font-size: 1.3em;
	overflow-x: auto;
}

.postbody img.postimage {
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
}

.topicreview {
	padding-right:5px;
	overflow: auto;
	height: 300px;
}

/*
.topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}
*/

.topicreview .post {
	height: auto;
}

.topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

.post_details {
	overflow: auto;
	max-height: 300px;
}

/* Content container styles
----------------------------------------*/
.content {
	clear: both;
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-bottom: 1px;
}

.content h2, .panel h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

.panel h3 {
	margin: 0.5em 0;
}

.panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

.content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

dl.faq {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.4em;
}

dl.faq dt {
	font-weight: bold;
}

.content dl.faq {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

.posthilit {
	padding: 0 2px 1px 2px;
}

/* Post author */
p.author {
	margin-bottom: 0.6em;
	padding: 0 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	clear: both;
}

/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	/*padding-top: 1.7em;*/
	font-size: 1.1em;
	clear: left;
	line-height: 1.4em;
	overflow: hidden;
	width: 100%;
}

.signature.standalone {
	margin-top: 0;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
.notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1em;
	border-top: 1px dashed transparent;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background: transparent none 6px 8px no-repeat;
	font-size: 0.95em;
	overflow: hidden;
	padding: 5px;
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
.codebox {
	padding: 3px;
	border: 1px solid transparent;
	font-size: 1em;
}

.codebox p {
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 3px;
	font-size: 0.8em !important;
	font-weight: bold;
	display: block;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, monospace;
	line-height: 1.3em;
	margin: 2px 0;
}

/* Attachments
----------------------------------------*/
.attachbox {
	width: auto;
	max-width: 100%;
	padding: 3px;
}

.attachbox dt {
	text-transform: uppercase;
}

.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	border-top: 1px solid transparent;
	overflow-x: auto;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	max-width: 100%;
}

.attach-image img {
	border: 1px solid transparent;
/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

dl.file dd {
	margin: 0;
	padding: 0;
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

dl.thumbnail dd {
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover img {
	border: 1px solid transparent;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
	padding: 5px 0 0 0;
	line-height: 120%;
}

fieldset.polls dl.voted {
	font-weight: bold;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1.1em;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px 2px 0 2px;
	overflow: visible;
	min-width: 8px;
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
}

.vote-submitted {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	margin: 5px 0 10px 0;
	min-height: 80px;
	border: 1px solid #fff;
	border-width: 0 0 0 1px;
	float: right;
	display: inline;
}

.postprofile dd, .postprofile dt {
	line-height: 1.2em;
	padding-left: 8px;
}

.postprofile dd {
	overflow: hidden;
	text-overflow: ellipsis;
}

.postprofile strong {
	font-weight: normal;
}

.postprofile dt.no-profile-rank, .postprofile dd.profile-rank, .postprofile .search-result-date {
	margin-bottom: 10px;
}

/* Post-profile avatars */
.postprofile .has-avatar .avatar-container {
	margin-bottom: 5px;
	overflow: hidden;
}

.postprofile .avatar {
	display: block;
	float: left;
	max-width: 100%;
}

.postprofile .avatar img {
	display: block;
	height: auto !important;
	max-width: 100%;
}

.postprofile .profile-posts a {
	font-weight: normal;
}

dd.profile-warnings {
	font-weight: bold;
}

dd.profile-contact {
	overflow: visible;
}

.profile-contact .dropdown-container {
	display: inline-block;
}

.profile-contact .icon_contact {
	vertical-align: middle;
}

.profile-contact .dropdown {
	margin-right: -14px;
}

.online {
	background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat;
}


/* Profile used on view-profile */
.profile-avatar img {
	max-width: 100%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

.action-bar div.dl_links {
	padding: 10px 0 0 10px;
}

div.dl_links {
	display: inline-block;
	text-transform: none;
}

.dl_links strong {
	font-weight: bold;
}

.dl_links ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}

.dl_links li {
	display: inline-block;
}

.attachment-filename {
	width: 100%;
	text-align: right;
}

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.fixed-width-table {
	table-layout: fixed;
}

.postbody .content::-webkit-scrollbar, .topicreview::-webkit-scrollbar, .post_details::-webkit-scrollbar, .codebox code::-webkit-scrollbar, .attachbox dd::-webkit-scrollbar, .attach-image::-webkit-scrollbar, .dropdown-extended ul::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, .1);
	border-radius: 3px;
}

.postbody .content::-webkit-scrollbar-thumb, .topicreview::-webkit-scrollbar-thumb, .post_details::-webkit-scrollbar-thumb, .codebox code::-webkit-scrollbar-thumb, .attachbox dd::-webkit-scrollbar-thumb, .attach-image::-webkit-scrollbar-thumb, .dropdown-extended ul::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
}

#memberlist tr.inactive, #team tr.inactive {
	font-style: italic;
}

.dropdown-select {
	padding-right: 24px;
}

.icon-button:before {
	background: transparent 0 0 no-repeat;
	content: '';
	display: inline-block;
	float: right;
	height: 12px;
	margin: 3px 0 0 2px;
	width: 12px;
}

.dropdown-select.icon-button:before {
	margin-right: 4px;
}

.dropdown-select:after {
	background-position: -103px 10px;
	border-left: 1px solid;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 22px;
	width: 16px;
}

.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after {
	background-position: -103px -10px;
}

.buttons,
.buttons .button {
	float: left;
}

#jumpbox .dropdown-select {
	margin: 0;
}

.reply-icon:before,
.pmreply-icon:before {
	background-position: -20px 0;
}

.reply-icon:hover:before,
.pmreply-icon:hover:before {
	background-position: -20px -20px;
}

.post-icon:before,
.newpm-icon:before,
.reply-all:before {
	background-position: 0 0;
}

.post-icon:hover:before,
.newpm-icon:hover:before,
.reply-all:hover:before {
	background-position: 0 -20px;
}

.locked-icon:before {
	background-position: -60px 0;
}

.locked-icon:hover:before {
	background-position: -60px -20px;
}

.forwardpm-icon:before {
	background-position: -40px 0;
}

.forwardpm-icon:hover:before {
	background-position: -40px -20px;
}

.modtools-icon {
	font-size: 0;
}

.tools-icon:before,
.modtools-icon:before,
.search-icon:before,
.search-adv-icon:before {
	background-position: -80px 0;
	height: 16px;
	margin-top: 2px;
	width: 16px;
}

.dropdown-visible .tools-icon:before,
.nojs .dropdown-container:hover .tools-icon:before {
	background-position: -80px -20px;
}

.search-icon:before {
	background-position: -245px 0;
}

.search-icon:hover:before {
	background-position: -245px -20px;
}

.search-adv-icon:before {
	background-position: -265px 0;
}

.search-adv-icon:hover:before {
	background-position: -265px -20px;
}

.modtools-icon:before {
	background-position: -225px 0;
}

.dropdown-visible .modtools-icon:before,
.nojs .dropdown-container:hover .modtools-icon:before {
	background-position: -225px -20px;
}

.small-icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
}

.dropdown .small-icon>a {
	display: block;
}

.pm-icon {
	background-position: 0 0;
}

.email-icon {
	background-position: -21px 0;
}

.jabber-icon {
	background-position: -80px 0;
}

.phpbb_icq-icon {
	background-position: -61px 0;
}

.phpbb_wlm-icon {
	background-position: -182px 0;
}

.phpbb_aol-icon {
	background-position: -244px 0;
}

.phpbb_website-icon {
	background-position: -40px 0;
}

.phpbb_youtube-icon {
	background-position: -98px 0;
}

.phpbb_facebook-icon {
	background-position: -119px 0;
}

.phpbb_googleplus-icon {
	background-position: -140px 0;
}

.phpbb_skype-icon {
	background-position: -161px 0;
}

.phpbb_twitter-icon {
	background-position: -203px 0;
}

.phpbb_yahoo-icon {
	background-position: -224px 0;
}

.post-buttons {
	list-style: none;
}

.post-buttons {
	position: absolute;
	margin: 0;
	right: 0;
}

.post-buttons>li {
	float: left;
	margin-right: 3px;
}

.post-buttons .icon-button {
	padding: 0 5px;
}

.hastouch .post-buttons .icon-button {
	padding: 2px 8px;
}

.post-buttons .icon-button span {
	display: block;
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.post-buttons .icon-button:before {
	margin-left: 0;
}

.quote-icon:before {
	background-position: -122px 0;
}

.quote-icon:hover:before {
	background-position: -122px -21px;
}

.edit-icon:before {
	background-position: -137px 0;
}

.edit-icon:hover:before {
	background-position: -137px -21px;
}

.warn-icon:before {
	background-position: -208px 0;
}

.warn-icon:hover:before {
	background-position: -208px -21px;
}

.delete-icon:before {
	background-position: -152px 0;
}

.delete-icon:hover:before {
	background-position: -152px -21px;
}

.report-icon:before {
	background-position: -165px 0;
}

.report-icon:hover:before {
	background-position: -165px -21px;
}

.info-icon:before {
	background-position: -175px 0;
}

.info-icon:hover:before {
	background-position: -175px -21px;
}

.button.responsive-menu-link:before {
	background-position: -191px 0;
}

.button.responsive-menu-link:hover:before {
	background-position: -191px -21px;
}

.post-buttons .dropdown {
	top: 18px;
}

.post-buttons .dropdown a {
	display: block;
	font-size: 1.2em;
	text-align: right;
}

.hasjs .postbody .post-buttons {
	max-width: 40%;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.cp-main .content {
	padding: 0;
}

.panel-container .panel p {
	font-size: 1.1em;
}

.panel-container .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

ul.cplist {
	margin-bottom: 5px;
}

.panel-container table.table1 {
	margin-bottom: 1em;
}

.panel-container table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

.cp-main .postbody h3, .cp-main .box2 h3 {
	margin-top: 0;
}

.panel-container .postbody p.author {
	font-size: 1.1em;
}

.cp-main .buttons {
	margin-left: 0;
}

.mcp-main .postbody {
	width: 100%;
}

.tab {
	display: inline-flex;
	font-weight: bold;
	line-height: 1.4em;
}

.minitabs .tab {
	float: right;
}

.minitabs .tab > a {
	margin-left: 2px;
}

.responsive-tab {
	position: relative;
}

.responsive-tab>a.responsive-tab-link {
	display: block;
	font-size: 1.6em;
	position: relative;
	width: 16px;
	line-height: 0.9em;
	text-decoration: none;
}

.responsive-tab .responsive-tab-link:before {
	content: '';
	position: absolute;
	left: 10px;
	top: 7px;
	height: .125em;
	width: 14px;
	border-bottom: 0.125em solid transparent;
	border-top: 0.375em double transparent;
}

.tabs .dropdown, .minitabs .dropdown,
.navigation .dropdown {
	top: 20px;
	margin-right: -2px;
	font-size: 1.1em;
	font-weight: normal;
}

.minitabs .dropdown {
	margin-right: -4px;
}

.tabs .dropdown-up .dropdown,
.minitabs .dropdown-up .dropdown,
.navigation .dropdown-up .dropdown {
	bottom: 20px;
	top: auto;
}

.tabs .dropdown li,
.navigation .dropdown li {
	text-align: right;
}

.minitabs .dropdown li {
	text-align: left;
}

.cp-mini {
	margin: 10px 15px 10px 5px;
	max-height: 200px;
	overflow-y: auto;
	padding: 5px 10px;
	border-radius: 7px;
}

dl.mini dt {
	font-weight: bold;
}

dl.mini dd {
	padding-top: 4px;
}

.friend-online {
	font-weight: bold;
}

.friend-offline {
	font-style: italic;
}

ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

.gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	border: 1px solid transparent;
	text-align: center;
}

@media only screen and (max-width:900px),
only screen and (max-device-width:900px) {
	.nojs .tabs a span,	.nojs .minitabs a span,
	.nojs .navigation a span {
		max-width: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: -.5px;
	}

	.navigation li:first-child a {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.navigation li:last-child a {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

fieldset {
	border-width: 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

input {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 1px;
	font-size: 1em;
}

select:focus {
	outline-style: none;
}

option {
	padding-right: 1em;
}

select optgroup option {
	padding-right: 1em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: 60%;
	padding: 2px;
	line-height: 1.4em;
}

label {
	cursor: default;
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

fieldset dl {
	padding: 4px 0;
}

fieldset dt {
	float: left;
	width: 40%;
	text-align: left;
	display: block;
}

fieldset dd {
	margin-left: 41%;
	vertical-align: top;
	margin-bottom: 3px;
}

fieldset.fields1 dt {
	width: 15em;
}

fieldset.fields1 dd {
	margin-left: 15em;
}

fieldset.fields1 .live-search div {
	margin-bottom: 0;
}

fieldset.fields2 dt {
	width: 15em;
}

fieldset.fields2 dd {
	margin-left: 16em;
}

dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
}

dd select {
	width: auto;
}

dd select[multiple] {
	width: 100%;
}

dd textarea {
	width: 85%;
}

fieldset.quick-login {
	margin-top: 5px;
}

fieldset.quick-login input {
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 15%;
	vertical-align: middle;
	margin-right: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options {
	text-align: center;
	margin: 3px 0 5px 0;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	margin-top: 3px;
}

fieldset.display-actions {
	text-align: right;
	line-height: 2em;
	white-space: nowrap;
	padding: 1em;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

fieldset.forum-selection {
	margin: 5px 0 5px 0;
	text-align: center;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

.format-buttons {
	margin: 15px 0 2px 0;
}

.format-buttons input, .format-buttons select {
	vertical-align: middle;
}

.message-box textarea {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	width: 450px;
	height: 270px;
	min-width: 100%;
	max-width: 100%;
	font-size: 1.2em;
	resize: vertical;
	outline: 3px dashed transparent;
	outline-offset: -4px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

input.medium {
	width: 50%;
}

input.narrow {
	width: 25%;
}

input.tiny {
	width: 150px;
}

.autowidth {
	width: auto !important;
}

input[type="number"] {
	-moz-padding-end: inherit;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

/*
input.button1, input.button2 {
	font-size: 1em;
}

a.button1, input.button1, a.button2, input.button2 {
	width: auto !important;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	background: transparent none repeat-x top left;
}

a.button1, input.button1 {
	font-weight: bold;
	border: 1px solid transparent;
}
*/

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

/*
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	padding: 2px 8px;
	line-height: 250%;
	vertical-align: text-bottom;
}
*/

input.disabled {
	font-weight: normal;
}

input.button1:focus,
input.button2:focus {
	outline-style: none;
}

.search-box .inputbox {
	height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	//font-variant: small-caps;
	//font-weight: bold;
}

.full {
	width: 95%;
}

.medium {
	width: 50%;
}

.narrow {
	width: 25%;
}

.tiny {
	width: 10%;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #CCCCCC;
}

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
	background-color: #ECF3F7;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
	background-color: #e1ebf2;
}

.sep {
	color: #1198D9;
}

.error {
	color: #BC2A4D;
}

p.post-notice.deleted:before {
	background-image: url("./images/icon_topic_deleted.png");
}

p.post-notice.unapproved:before {
	background-image: url("./images/icon_topic_unapproved.gif");
}

p.post-notice.reported:before,
p.post-notice.error:before {
	background-image: url("./images/icon_topic_reported.gif");
}

/*
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}
*/

.postlink {
	color: #368AD2;
}

a.top {
	background-image: url("./images/icon_back_top.gif");
}

a.top2 {
	background-image: url("./images/icon_back_top.gif");
}

a.arrow-up {
	background-image: url("./images/arrow_up.gif");
}

a.arrow-down {
	background-image: url("./images/arrow_down.gif");
}

a.arrow-left {
	background-image: url("./images/arrow_left.gif");
}

a.arrow-right {
	background-image: url("./images/arrow_right.gif");
}

a.arrow-up:hover {
	background-color: transparent;
}

a.arrow-left:hover {
	color: #368AD2;
}

a.arrow-right:hover {
	color: #368AD2;
}

ul.topiclist dd {
	border-left-color: #FFFFFF;
}

.rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

/*
ul.topiclist li.row dt a.subforum.read {
	background-image:url("./images/subforum_read.gif");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image:url("./images/subforum_unread.gif");
}
*/

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce,
.unreadpost {}

.notice {
	border-top-color: #CCCCCC;
}

.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color: #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}

.attachbox dd {
	border-top-color: #666;
}

.attachbox p {
	color: #666;
}

.attachbox p.stats {
	color: #666;
}

.attach-image img {
	border-color: #999999;
}

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

fieldset.polls dl {
	color: #666;
}

fieldset.polls dl.voted {
	color: #FFFFFF;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1,
.rtl .pollbar2,
.rtl .pollbar3,
.rtl .pollbar4,
.rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

.postprofile {
	color: #666666;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #000000;
}

dd.profile-warnings {
	color: #BC2A4D;
}

.dropdown-select {
	color: #536482;
}

.dropdown-select:after {
	border-color: #DADADA;
}

.dropdown-select:hover {
	border-color: #C7C3BF;
}

.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
	border-color: #A6B2BA;
	color: #105289;
}

.icon-acp {
	background-image: url("./images/icon_acp.gif");
}

.icon-bookmark {
	background-image: url("./images/icon_bookmark.gif");
}

.icon-bump {
	background-image: url("./images/icon_bump.gif");
}

.icon-contact {
	background-image: url("./images/icon_pm.gif");
}

.icon-delete-cookies {
	background-image: url("./images/icon_delete_cookies.gif");
}

.icon-download {
	background-image: url("./images/icon_download.gif");
}

.icon-faq {
	background-image: url("./images/icon_faq.gif");
}

.icon-home {
	background-image: url("./images/icon_home.gif");
}

.icon-logout {
	background-image: url("./images/icon_logout.gif");
}

.icon-mcp {
	background-image: url("./images/icon_mcp.gif");
}

.icon-members {
	background-image: url("./images/icon_members.gif");
}

.icon-notification {
	background-image: url("./images/icon_notification.gif");
}

.icon-pages {
	background-image: url("./images/icon_pages.gif");
}

.icon-pm {
	background-image: url("./images/icon_pm.gif");
}

.icon-print {
	background-image: url("./images/icon_print.gif");
}

.icon-profile {
	background-image: url("./images/icon_profile.gif");
}

.icon-search,
.responsive-search a {
	background-image: url("./images/icon_search.gif");
}

.icon-search-active {
	background-image: url("./images/subforum_read.gif");
}

.icon-search-new {
	background-image: url("./images/subforum_unread.gif");
}

.icon-search-self {
	background-image: url("./images/icon_topic_latest.gif");
}

.icon-search-unanswered {
	background-image: url("./images/icon_post_target.gif");
}

.icon-search-unread {
	background-image: url("./images/subforum_unread.gif");
}

.icon-sendemail {
	background-image: url("./images/icon_sendemail.gif");
}

.icon-subscribe {
	background-image: url("./images/icon_subscribe.gif");
}

.icon-team {
	background-image: url("./images/icon_team.gif");
}

.icon-ucp {
	background-image: url("./images/icon_ucp.gif");
}

.icon-unsubscribe {
	background-image: url("./images/icon_unsubscribe.gif");
}

.responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

dl.mini dt {
	color: #425067;
}

.current {
	color: #000000 !important;
}

.gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

.gallery label:hover {
	background-color: #EEE;
}

option.disabled-option {
	color: graytext;
}

dd label {
	color: #333;
}

fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}

input.disabled {
	color: #666666;
}

.phpbb_alert {
	background-color: #FFFFFF;
	border-color: #999999;
}

.phpbb_alert .alert_close {
	background-image: url("./images/alert_close.png");
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

/*
.dropdown-extended ul li {
	border-top-color:#B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #CFE1F6;
	color:#000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color:#B9B9B9;
	color:#000000;
}

.dropdown-extended .footer {
	border-top-style:solid;
	border-top-width:1px;
}

.dropdown-extended .header {
	background: #F1F8FF;
	background: -moz-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);background:-o-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);background:linear-gradient(to bottom, #F1F8FF 0%, #CADCEB 100%);
}
*/

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

/*
.dropdown-extended .pointer-inner{border-color:#F1F8FF transparent;}
*/

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #b9b9b9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li,
.dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

.notification_list p.notification-time {
	color: #4C5D77;
}

li.notification-reported strong,
li.notification-disapproved strong {
	color: #D31141;
}

.attach-panel-multi {
	display: none;
	margin-bottom: 1em;
}

.file-list td {
	vertical-align: middle;
}

.attach-name {
	width: 50%;
}

.attach-comment {
	width: 30%;
}

.attach-comment .inputbox {
	resize: vertical;
	width: 100%;
}

.attach-filesize {
	width: 15%;
}

.attach-status {
	width: 5%;
}

.attach-filesize,
.attach-status {
	text-align: center;
}

.attach-controls {
	display: inline-block;
	float: right;
}

#attach-row-tpl,
.nojs .file-inline-bbcode {
	display: none;
}

.file-total-progress {
	height: 2px;
	display: block;
	position: relative;
	margin: 4px -10px -6px -10px;
}

.file-progress {
	background-color: #CCCCCC;
	display: inline-block;
	height: 8px;
	width: 50px;
}

.file-progress-bar, .file-total-progress-bar {
	background-color: green;
	display: block;
	height: 100%;
	width: 0;
}

.file-status.file-working {
	background: url('./images/plupload/throbber.gif');
}

.file-status.file-uploaded {
	background: url('./images/plupload/done.gif');
}

.file-status.file-error {
	background: url('./images/plupload/error.gif');
}

.file-status {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.file-name {
	max-width: 65%;
	vertical-align: bottom;
}