<!-- IF S_JX_CAN_CHGPOSTTIME -->
	<form method="post" id="mcp_chgposttime" action="{U_POST_ACTION}">

	<fieldset>
	<div class="fbr">
		<div class="fbr-left"><label>{L_JX_CHANGE_POST_TIME}</label></div>
		<div class="fbr-right">
			<div class="text-align-c">
				<input type="text" class="inputbox autowidth" size="4" maxlength="4" name="jx_year" value="{JX_POST_DATE_YEAR}" /> -
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_month" value="{JX_POST_DATE_MONTH}" /> -
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_day" value="{JX_POST_DATE_DAY}" />
			</div>
			<span class="text-align-c">{L_JX_CHANGE_POST_TIME_DATE}</span>
			<div class="text-align-c">
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_hour" value="{JX_POST_TIME_HOUR}" /> :
				<input type="text" class="inputbox autowidth" size="2" maxlength="2" name="jx_minute" value="{JX_POST_TIME_MINUTE}" />
			</div>
			<span class="text-align-c">{L_JX_CHANGE_POST_TIME_TIME}</span>
			<input type="submit" class="button2" name="action[chgposttime]" value="{L_SUBMIT}" />
		</div>
	</div>
	{S_FORM_TOKEN}

	<hr class="dashed" />

	</fieldset>
	</form>
<!-- ENDIF -->
