/* Hide the forums of a hidden category */
.hidden-category,
.hidden-category + .forabg .collapsible,
.hidden-category + .forabg .topiclist.forums {
	display: none;
}

/* Collapse button */
a.collapse-btn {
	margin: -20px 0 0 0;

	border: 1px solid #666; /* Button border color */
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	box-shadow: 1px 1px 1px black, inset 0 4px 9px rgba(100, 100, 100, .25);
}
a.collapse-btn:after,
a.collapse-btn:before {

	border: 1px solid #666; /* Symbol bg color */
	content: '';
	position: absolute;
}
.rtl a.collapse-btn { float: left; }

/* Collapse show hide symbols */
a.collapse-hide,
a.collapse-show {
	border-radius: 4px;
	height: 16px;
	width: 16px;
}
a.collapse-hide:after,
a.collapse-show:before {
	height: 0;
	left: 3px;
	top: 6px;
	width: 6px;
}
a.collapse-show:after {
	height: 6px;
	left: 6px;
	top: 3px;
	width: 0;
}
a.collapse-hide:before { border: none; }
