<div class="fbr">
	<div class="fbr-left"><label for="relativedates0">{L_RELATIVE_DATES}</label></div>
	<div class="fbr-right fb-s">
		<label for="relativedates1"><input type="radio" name="relativedates" id="relativedates1" value="1"<!-- IF S_RELATIVEDATES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="relativedates0"><input type="radio" name="relativedates" id="relativedates0" value="0"<!-- IF not S_RELATIVEDATES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</div>
</div>
