<div id="quickeditbox">
<form id="postform" method="post" action="{{ S_POST_ACTION }}"{{ S_FORM_ENCTYPE }}>
	<fieldset class="fields1">
		<dl style="clear: left;">
			<dt><label for="subject">{{ lang('SUBJECT')  ~ lang('COLON') }}</label></dt>
			<dd><input type="text" name="subject" id="subject" size="45" maxlength="{% if S_NEW_MESSAGE %}120{% else %}124{% endif %}" tabindex="2" value="{{ SUBJECT ~ DRAFT_SUBJECT }}" class="inputbox autowidth" /></dd>
		</dl>
		{{ S_FORM_TOKEN }}

		<div id="message-box" class="message-box">
			<textarea name="message" id="message" rows="15" cols="76" tabindex="4" class="inputbox">{{ MESSAGE ~ DRAFT_MESSAGE ~ SIGNATURE }}</textarea>
		</div>
	</fieldset>
	<div class="panel">
		<div class="inner">
		<fieldset class="submit-buttons">

			<div class="fbr">
				<div class="fbr-left">
					<input type="submit" accesskey="s" tabindex="6" name="post" value="{{ lang('SUBMIT') }}" class="button default-submit-action submit" />
					{{ S_HIDDEN_ADDRESS_FIELD }}
					{{ S_HIDDEN_FIELDS }}
				</div>
				<div class="fbr-right">
					<div class="brutalform-box">
						<input type="submit" tabindex="5" accesskey="f" name="preview" value="{{ lang('FULL_EDITOR') }}" class="button1">
					</div>
					<div class="brutalform-box" id="brutalform-drafts">
						<div id="brutalform-drafts-buttons">
							<input type="submit" id="cancel" name="cancel" value="{{ lang('CANCEL') }}" class="button2">
						</div>
					</div>
				</div>
			</div>

		</fieldset>

		</div>
	</div>
</form>
</div>
