{% if S_TOPIC_PREVIEW %}
	<div class="fbr">
		<div class="fbr-left"><label for="topic_preview1">{{ lang('TOPIC_PREVIEW_DISPLAY') }}</label></div>
		<div class="fbr-right flex-direction-row">
			<label for="topic_preview1"><input type="radio" name="topic_preview" id="topic_preview1" value="1"{% if S_DISPLAY_TOPIC_PREVIEW %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="topic_preview0"><input type="radio" name="topic_preview" id="topic_preview0" value="0"{% if not S_DISPLAY_TOPIC_PREVIEW %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</div>
	</div>
{% endif %}
