<div class="forabg">
    <div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl class="row-item">
				<dt><div class="list-inner"></div></dt>
			</dl>
			<a href="{U_AJAX_SHOUTBOX_COLLAPSE_URL}" class="collapse-btn collapse-<!-- IF S_AJAX_SHOUTBOX_HIDDEN -->show<!-- ELSE -->hide<!-- ENDIF -->" data-hidden="{S_AJAX_SHOUTBOX_HIDDEN}" data-ajax="phpbb_collapse" data-overlay="true" title="{L_COLLAPSIBLE_CATEGORIES_TITLE}" style="display: none; line-height: 0;"></a>
		</li>
	</ul>
		<ul class="topiclist forums">
        <!-- IF S_CAN_POST_SHOUT -->
        <form autocomplete="off" action="{U_SUBMIT_SHOUTBOX}" id="ajaxshoutbox_post" method="post">
            <input type="hidden" name="sid" value="{SESSION_ID}" />
            {S_FORM_TOKEN}
            <ul class="topiclist ajaxshoutboxpost forums">
                <li class="row">
                    <dl>
                        <dt><input type="submit" name="submit" value="{L_SUBMIT}" class="button2" id="submit_shoutbox">
						<input type="text" name="text_shoutbox" id="text_shoutbox" class="inputbox" />
                        </dt>
                        <dd><div class="ajaxshoutbox_loadingbar" id="ajaxshoutbox_loadbefore"><i class="fa fa-spinner fa-pulse"></i></div></dd>
                    </dl>
                </li>
            </ul>
        </form>
        <!-- ENDIF -->
        <!-- INCLUDEJS @paul999_ajaxshoutbox/js/ajax_shoutbox.js -->
        <script>
            var AJAX_SHOUTBOX_POSTS = "{UA_GET_POST_ACTION}";
            var AJAX_SHOUTBOX_POSTS_NEW = "{UA_GET_POST_ACTION_NEW}";
            var AJAX_SHOUTBOX_POSTS_OLD = "{UA_GET_POST_ACTION_OLD}";
        </script>
        <noscript>
            <ul class="topiclist forums">
                <li class="row">
                    <dl>
                        <dt>{L_NO_JS}</dt>
                    </dl>
                </li>
            </ul>
        </noscript>
        <div id="shoutbox_scroll">
            <ul class="topiclist shoutboxlist forums" id="shoutbox_content">
                <li class="row" id="copy">
                    <dl class="ajaxshoutbox_row">
                        <div class="ajaxshoutbox_user_message">
							<dt data-type="user" class="ajaxshoutbox_user"></dt>
							<dd data-type="message" class="ajaxshoutbox_message"></dd>
						</div>
						<div class="ajaxshoutbox_date_delete">
							<dd data-type="date" class="ajaxshoutbox_date"></dd>
							<dd data-type="delete" class="ajaxshoutbox_delete">
								<form action="{U_DELETE_SHOUTBOX}" data-type="submit-delete" method="post">
									<input type="hidden" name="sid" value="{SESSION_ID}" />
									<input data-type="delete-id" type="hidden" name="id" value="" />
									<input data-type="delete-form-time" type="hidden" name="creation_time" value="" />
									<input data-type="delete-form-token" type="hidden" name="form_token" value="" />
									<button type="submit" name="delete" value="{L_DELETE}" class="button2 button-icon-only"><i class="fa fa-remove"></i></button>
								</form>
							</dd>
						</div>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist waitinglist forums" id="ajaxshoutbox_loadafter">
                <li class="row">
                    <dl>
                        <dt><div class="ajaxshoutbox_loadingbar"><i class="fa fa-spinner fa-pulse"></i></div></dt>
                    </dl>
                </li>
            </ul>
        </div>
		</ul>
    </div>
</div>
