.nav-up, .nav-down {
	display: none;
	position: fixed;
	z-index: 9999;
	right: 0%;
	background: #4F4F4F;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	font: normal normal 25px/25px sans-serif;
	text-shadow: 0 1px 2px #000;
	opacity: .5;
	padding: 3px;
	margin-bottom: 5px;
	width: 25px;
	height: 25px;
}

.nav-up {
	bottom: 40px;
}

.nav-down {
	bottom: 5px;
}

.nav-down:hover,
.nav-up:hover {
	opacity: 1;
	box-shadow: 0 5px 0.5em -1px #666;
}
