<!-- IF RH_TOPICTAGS_SHOW_FIELD -->
<div id="tagowarka_edit" class="brutalform-box">		
	<div ng-app="rhTopicTagsInputApp" ng-controller="rhTopicTagsInputCtrl" data-ng-init="init('{RH_TOPICTAGS}')">
		<div id="rhTopicTagsInputAppScope"></div>
		<tags-input ng-model="tags" add-on-comma="false" replace-spaces-with-dashes="{RH_TOPICTAGS_CONVERT_SPACE_TO_MINUS}" placeholder="{L_RH_TOPICTAGS}" tabindex="2" enable-editing-last-tag="true" allowed-tags-pattern="{RH_TOPICTAGS_ALLOWED_TAGS_REGEX}">
			<auto-complete source="loadTags($query)"></auto-complete>
		</tags-input>
		<input type="hidden" name="rh_topictags" id="rh_topictags" value="{[{ jsonRep }]}" />
	</div>
	
	<span class="shadow-label">{L_RH_TOPICTAGS}</span>
	<!-- IF S_RH_TOPICTAGS_WHITELIST_ENABLED -->
		<!-- INCLUDEJS {ROOT_PATH}ext/robertheim/topictags/styles/all/whitelist.js -->
		<div class="rh_topictags_whitelist">
			<!-- BEGIN rh_topictags_whitelist -->
				{% include 'simple_tag.html' with {'NAME' : rh_topictags_whitelist.NAME, 'LINK' : rh_topictags_whitelist.LINK} only %}
			<!-- END rh_topictags_whitelist -->
		</div>
	<!-- ELSE -->
	<span class="shadow-explanation">{RH_TOPICTAGS_ALLOWED_TAGS_EXP}</span>
	<!-- ENDIF -->
</div>

<!-- ENDIF -->

