        /*#search-box {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            box-sizing: border-box;
        }*/
        .autocomplete-results {
            /*position: absolute;*/
            /*width: 100%;*/
            /*background: white;*/
			/*background-color: rgba(0, 0, 0, 0.5);*/
            /*border: 1px solid #ccc;*/
            /*border-top: none;*/
            max-height: 350px;
            /*overflow-y: auto;*/
            display: none;
            /*z-index: 999;*/
        }
        .autocomplete-item {
            /*border-top: 1px solid #eee;*/
            /*padding: 6px 10px;*/
  			/*cursor: pointer;*/
  			/*transition: background-color 0.2s ease;*/
        }
		/*.autocomplete-item:hover,*/
		.autocomplete-item.active {
			background-color: #eef;
		}
		.autocomplete-item mark {
			/*background-color: rgba(255, 255, 255, 0.2);*/
		}
		.autocomplete-item mark.posthilit {
			padding: 0;
		}
		.autocomplete-item mark.marked-by-normalization {
			color: rgba(50, 214, 53, 0.66) !important;
			/*color: #26A128 !important;*/
			/*color: inherit !important;*/
		}
		#mm-search .m-list-right {
			width: 50px;
			align-items: center;
		}
		#mm-search .m-list-right-top {
			margin-bottom: 0;
		}
		#mm-search a.topictitle.unread,
		#mm-search a.topic-forumtitle.unread {
			color: #ee0000;
		}
        .autocomplete-item a {
            /*color: #0077cc;*/
            /*text-decoration: none;*/
            /*font-weight: bold;*/
        }
        .autocomplete-item small {
            /*display: block;*/
            /*color: #666;*/
            /*margin-top: 2px;*/
        }
        .search-container {
            /*position: relative;*/
        }
		#mm-search .m-list {
			/*position: fixed;*/
		}