<div class="nav-up" id='ToTop'><i class="fa fa-angle-double-up fa-2x"></i></div>
<div class="nav-down" id='OnBottom'><i class="fa fa-angle-double-down fa-2x"></i></div>

<script>

(function($) { // Avoid conflicts with other libraries

'use strict';

	$(function() {
        if ($(window).scrollTop() >= "250") $("#ToTop").fadeIn("slow")
        $(window).scroll(function() {
            if ($(window).scrollTop() <= "250") $("#ToTop").fadeOut("slow")
            else $("#ToTop").fadeIn("slow")
        });

        if ($(window).scrollTop() <= $(document).height() - "999") $("#OnBottom").fadeIn("slow")
        $(window).scroll(function() {
            if ($(window).scrollTop() >= $(document).height() - "999") $("#OnBottom").fadeOut("slow")
            else $("#OnBottom").fadeIn("slow")
        });

        $("#ToTop").click(function() {
            $("html,body").animate({
                scrollTop: 0
            }, "slow")
        })
        $("#OnBottom").click(function() {
            $("html,body").animate({
                scrollTop: $(document).height()
            }, "slow")
        })
    });
})(jQuery);

</script>
